#app {
  min-height: 90vh;
}

.link-icon {
  font-size: 3em;
}

.section-link {
  color: rgb(54, 54, 54) !important;
}

.loading {
  font-size: 3em;
  color: #65d145 !important;
  animation: fade-slide-in-top 0.3s ease;
}

.loading .fa-spin {
  animation-timing-function: cubic-bezier(.49,.04,.8,1) !important;
  animation-duration: 1s !important;
}

.search-result {
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  border: 1px solid #dbdbdb;
  border-top: 0px;
}

.search-header {
  background-color: #f7f7f7;
  margin-top: 20px;
  min-height: 50px;
  border-top: 1px solid #dbdbdb;
}

.search-header .header-title {
  padding: 6px !important;
}

/* Animations */

.fade-enter-active {
  transition: opacity .4s ease;
}

.fade-leave-active {
  transition: none .4s ease;
}

.fade-enter {
  opacity: 0;
}

.fade-leave-active {
  display: none;
}

.child-view {
  position: absolute;
  transition: all .4s ease;
}

.alert {
  animation: fade-slide-in-top 0.3s ease;
}

@keyframes slide-in-top {
  0% {transform: translateY(-20px);}
  100% {transform: translateY(0px);}
}

@keyframes fade-slide-in-top {
  0% {transform: translateY(-20px);opacity: 0;}
  100% {transform: translateY(0px);opacity: 1;}
}
