/* General styles */

/*
This disabled css (and the rest) is a WIP aiming to stick the f*cking footer at
the bottom of the webpage. Atm it only works on desktop screens.
html {
  position: relative;
  min-height: 100%;
}
*/

body {
    /* margin-bottom: 400px; */
    background: url("../../images/campus/bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.5em;
}

/* Banner */

.beta-banner {
    color: white;
    height: 1.5em;
    width: 100%;
    height: auto;
}

.beta-banner a {
    font-weight: bold;
    color: white !important;
}

/* Navbar styles */

.title {
    color: #FFFFFF;
}

.navbar {
    background-color: white;
    border: none;
    border-radius: 0px;
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.0em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    -webkit-transform: translate3d(0,0,1px);
}

.navbar-header .navbar-toggle.collapsed {
    background-color: transparent !important;
    border-color: #5ea149;
}

.navbar-header .navbar-toggle.collapsed .icon-bar {
    background-color: #5ea149;
}

.navbar-header .navbar-toggle {
    background-color: #5ea149 !important;
    border-color: white;
}

.navbar-header .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-brand img {
    width: auto;
    height: 45px;
    margin-top: -13px;
}

.dropdown-menu > li > a,
.navbar .navbar-nav > li > a {
    background-color: transparent;
    color: #5ea149 !important;
    font-weight: bold;
}

.dropdown-menu > li > a:hover,
.navbar .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: white !important;
    background-color: #5ea149;
}

.dropdown-menu {
    border-radius: 0px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}

.well {
    border-radius: 0px;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* Page style */

body > .container, body > .wrapper, #content, #management-app {
  margin-top: 75px;
}

.carousel-control {
  text-shadow: none;
  color: #aaa !important;
}

/* Style for calendar.html */

#month-navigation .btn-link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

#month-navigation .btn-link:hover {
    cursor: default;
}

/* Form Style */

.form-control:focus {
  box-shadow: 1px 0px 5px #5ea149;
  border-color: #a6d69e;
}

/* Fonts */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../../fonts/Roboto/Roboto-Light.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.hard-content {
    background-color: rgba(255, 255, 255, .9);
}

/* Footer */

.footer {
    /* width: 100%;
    position: absolute;
    bottom: 0; */
    box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding-top: 15px;
    color: #5ea149;
}

.footer .row {
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer a{
    color: #5ea149;
}

.footer ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 20px;
}

.footer li {
    margin-top: 5px;
}

.footer .social {
    font-size: 2.5em;
    margin-left: 20px;
    margin-right: 20px;
}

/* Default jquery-ui's css looks like shit so we make slightly better */

.ui-state-focus {
   background: #cbf9c2 !important;
   color: inherit !important;
   border-color: #5ea149 !important;
}

.ui-autocomplete-input {
  border: 1px solid #DDD !important;
  padding-top: 0px !important;
}

.ui-autocomplete {
  z-index: 1510 !important;
}

.ui-state-default {
  color: #59934f !important;
}

.ui-widget-header, .ui-state-highlight, .ui-state-hover {
  background: #95db87 !important;
  color: inherit !important;
  border-color: #5ea149 !important;
}

.ui-state-hover{
  background: #cbf9c2 !important;
  color: inherit !important;
  border-color: #5ea149 !important;
}

.ui-widget-content .ui-state-active {
  background: #95db87 !important;
  color: inherit !important;
  border-color: #5ea149 !important;
}

.modal-content {
  overflow: hidden;
}

.modal-header {
  color: white;
  text-align: center;
  background: url(/static/images/campus/modal-bg.png) center fixed;
}

.close {
  color: white !important;
  opacity: 1 !important;
}

.dell-user, .dell-user:hover {
  color: red;
}

.dell-form {
    display: inline !important;
}

button.dell-user {
  padding: 0;
}

button.add-user, button.add-user:hover {
  padding: 0;
  color: #5ea149;
}

.noncolored-a, .noncolored-a:hover, .noncolored-a:visited, .noncolored-a:focus{
   color: inherit;
   cursor: pointer;
   text-decoration: none;
}

.btn-home {
  text-align: right;
  width: 40px;
  z-index: 10;
  padding: 10px;
  border: 1px solid #e3e3e3;
  border-radius: 0px 5px 5px 0px;
  position: fixed;
  top: 17%;
  left: 0;
  background-color: #f5f5f5;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}

.btn-home-campus {
  margin-top: 55px;
}

.btn-home:hover{
    width: 47px;
    transition: all 0.3s;
}

/* removes bootsrap component's radius */
.remove-radius {
    border-radius: 0px !important;
}

/* Used to remove rows negative margin */
.remove-margin {
    margin: 0px !important;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.floating_meme {
    display: none;
    z-index: 10000;
    height: 50px;
    width: 50px;
    background-size: cover;
    background-image: url(/static/images/campus/hugo.png);
    position:fixed;
}

.inline {
    display: inline;
}

textarea{
    resize: vertical;
}

/* Requires to be used in the **modal-dialog** div */
.modal-large {
    width: 75% !important;
}

@media (max-width: 767px) {
    .navbar-form {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-left: 0;
    }

    .search-box {
        width: calc(80% - 50px);
        display: inline;
        margin-left: 10%;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #333;
        background-color: #5ea149;
    }
}


@media (min-width: 767px) and (max-width: 850px) {
    .navbar-brand {
        display: none;
    }

    .navbar-collapse {
        padding: 0;
    }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .hidden-md {
    display: none !important;
  }
}

/* Animations */
.fade-in {
  animation: fade-in 0.3s ease
}

@keyframes fade-in {
  0%{opacity: 0}
  100%{opacity: 1}
}

@keyframes slide-in-top {
  0% {transform: translateY(-20px);}
  100% {transform: translateY(0px);}
}

@keyframes fade-slide-in-top {
  0% {transform: translateY(-20px);opacity: 0;}
  100% {transform: translateY(0px);opacity: 1;}
}
