strong {
    font-weight: bold;
    font-size: 1.05em;
}

a, a:hover, a:active, a:visited {
    color: #8BBF82;
    text-decoration: none;
    cursor: pointer;
}

.assos-card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar-clubs {
    margin-top: -20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2) inset;
}

.green {
    color: #8BBF82 !important;
}

.logo {
    max-width:85%;
}

.margin-bottom {
    margin-bottom: 10px;
}
