#content.container {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}

.table {
    width: 100%;
}

.room-list {
    font-size: .9em;
}

.room-list .panel-heading {
    background-color: #EEF3FF;
    border-color: #EEF3FF;
}

.room-list .panel {
    border-color: #EEF3FF;
}

#legend {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

#legend td {
    white-space: nowrap;
}

#legend td:last-child {
    width:100%;
}

#legend span {
    margin-right: 1px;
    margin-left: 1px;
}

#calendar.table > thead th {
    text-align: center;
}

#calendar.table > tbody tr {
    height: 100px;
}

#calendar.table > tbody td {
    background-color: #EEF3FF;
    border: 3px solid white;
    width: 100px;
    font-size: .8em;
}

.alert {
    padding: 8px;
}

.alert-party {
    background-color: #93FFA4;
}

.alert-club {
    background-color: #FBDB93;
}

.alert-meeting {
    background-color: #FAFF9A;
}

.alert-training {
    background-color: #A3B2FC;
}

.alert-event {
    background-color: #94D6E4;
}

.alert-sport {
    background-color: #F0B0AD;
}

.alert-arts {
    background-color: #ADD56C;
}

.alert-other {
    background-color: #D0D4CF;
}

.time {
    color: rgb(64, 64, 64);
    display: block;
}

.description {
    color: rgb(208, 63, 63);
}

.event {
    padding: 0;
}

.event div {
    border-radius: 3px;
    margin: 0;
    padding: 2px;
}

.event:hover {
    text-decoration: none;
}
.current-day {
    background-color: #cfdfff !important;
}

.small {
    font-size: 0.8em;
    font-style: oblique;
}

.bigger-bold {
    font-size: 1.1em;
    font-weight: bold;
}
