.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  margin-top: 5%;
}

.who_logo {
   max-width: 100%;
}

.margin-top {
   margin-top: 3%;
}

label input {
    position: relative;
    vertical-align: bottom;;
    bottom: 4px;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    height: 50px;
    float: left;
}

.user-form {
   width: 100%;
}

.form-category label{
   font-weight: normal;
}

.results h3 {
   font-size: 1.1em;
}

.user-photo {
  text-align: center;
  margin-bottom: 20px;
}

.user-photo img{
  height: 150px;
  max-width: 150px;
  box-shadow: -1px 0px 15px rgba(0,0,0,0.5);
}

.margin-bottom-20{
  margin-bottom: 20px;
}

/* Mobile CSS */
@media (max-width: 991px) {

  .right-separator {
    border-right: 0px solid rgb(87, 87, 87);
  }

  .mobile-centered {
    text-align: center;
  }

  .centered-list {
    text-align: center;
    padding: 0px;
    list-style-type: none;

  }
}
