.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  margin-top: 5%;
}

.who_logo {
   max-width: 100%;
}

.margin-top {
   margin-top: 3%;
}

label input {
    position: relative;
    vertical-align: bottom;;
    bottom: 4px;
}

.user-form {
   width: 100%;
}

.noncolored-a, .noncolored-a:hover, .noncolored-a:visited, .noncolored-a:focus{
   color: inherit;
   cursor: pointer;
   text-decoration: none;
}

.form-category label{
   font-weight: normal;
}

.results h3 {
   font-size: 1.1em;
}

.dell-user, .dell-user:hover, .dell-user:visited {
  color: red;
}

.user-photo {
  text-align: center;
  margin-bottom: 20px;
}

.user-photo img{
  height: 150px;
  max-width: 150px;
  box-shadow: -1px 0px 15px rgba(0,0,0,0.5);
}
