.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  margin-top: 5%;
}

.ui-autocomplete-input {
  border: 1px solid #DDD !important;
  padding-top: 0px !important;
}

.ui-autocomplete {
  z-index: 1510 !important;
}

.godparents {
  margin-right: 1%;
}

.godchilds {
  margin-left: 1%;
}

.modal-header {
  color: white;
  text-align: center;
  background: url(/static/images/campus/bgimg.jpg) no-repeat center center fixed;
}
