{% extends "base_campus.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Anniversaires' %}{% endblock %}

{% block css %}
<link href="{% static 'css/campus/whoswho.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="btn-home">
  <a href="{% url 'campus:who:user-home' %}" class="noncolored-a"><span class="fa fa-address-book"></span>   </a>
</div>
<div class="btn-home btn-home-campus">
  <a href="{% url 'campus:home' %}" class="noncolored-a"><span class="fa fa-home"></span>   </a>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header text-center" style="color: white;">
        <h1>{% trans "Aujourd'hui on fête l'anniversaire de:" %}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  {% for user in users%}
  {%if forloop.counter|add:-1|divisibleby:4 %}
  <div class="row">
  {% endif %}
    <div class="col-md-3 text-center">
      <div class="col-xs-12 well">
        <a href="{% url 'campus:who:user-details' user.uid %}">
          {% if user.photo_file == "" %}
          <div class="user-photo">
            <img src="{% static "images/campus/photo-placeholder.jpg" %}" />
          </div>
          {% else %}
          <div class="user-photo">
            <img src="/media/image/users_photo/{{user.photo_file}}" />
          </div>
          {% endif %}
          {{user.first_name}}<br>
          {{user.last_name}}<br>
        </a>
        Promo {{user.promo}}
      </div>
    </div>
  {% if forloop.counter|divisibleby:4 or forloop.last %}
  </div>
  {% endif %}
  {% empty %}
    <div class="col-md-offset-4 col-md-4 text-center" style="color:white; min-height: 50px;">
      Personne
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
