{% extends "base_campus.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %} Résultat {% endblock %}

{% block css %}
<link href="{% static 'css/campus/whoswho.css' %}" rel="stylesheet">
<link href="{% static 'jquery/jquery-ui.min.css' %}" rel="Stylesheet"></link>
{% endblock %}

{% block content %}

<div class="btn-home">
  <a href="{% url 'campus:who:user-home' %}" class="noncolored-a"><span class="fa fa-address-book"></span> {% trans "" %} </a>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header text-center" style="color: white;">
        <h1>{% trans 'Résultats de la recherche' %}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container results">
  <div class="row">
    <div class="col-md-4">
      <div class="col-md-12 well">
        <h3 class="text-center" >Effectuer une autre recherche</h3>
        <form class="form-horizontal" action="{% url 'campus:who:search-user' %}" method="GET">
          <div class="input-group" style="width:100%">
            <span class="input-group-addon" id="basic-addon1"><span class="fa fa-user"></span></span>
            {{ form.what.errors }}
            {{ form.what }}
          </div>
          {{ form.strict.errors }}
          {{ form.strict }} {{ form.strict.label_tag }}
          <div>
            Vous pouvez rechercher:
            <ul>
              <li>Un nom</li>
              <li>Un prénom</li>
              <li>Une adresse email</li>
              <li>Une promo</li>
            </ul>
          </div>
          <div class="form-group text-center">
            <div class="btn-group" role="button" aria-label="submit">
              <button type="submit" class="btn btn-success">C'est parti !</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-8">
      {% for user in users %}
      {% if forloop.counter|add:-1|divisibleby:2 %}
      <div class="row" >
      {% endif %}
        <div class="col-md-6">
          <div class="col-md-12 text-center well">
            <a href="{% url "campus:who:user-details" uid=user.uid %}">
            {% if user.photo_file == "" %}
            <div class="user-photo">
              <img src="{% static "images/campus/photo-placeholder.jpg" %}" />
            </div>
            {% else %}
            <div class="user-photo">
              <img src="/media/image/users_photo/{{ user.photo_file }}" />
            </div>
            {% endif %}
            <h3>{{ user.first_name }} {{user.last_name}}</h3>
            </a>
            {% if user.campus %}<p>Campus de {{ user.campus }}</p>{% endif %}
            {% if user.promo > 1977 %}<p>Promo {{user.promo}}</p>{% endif %}
            <a href="{% url "campus:who:user-details" uid=user.uid %}">Détails</a>
          </div>
        </div>
      {% if forloop.counter|divisibleby:2 or forloop.last %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}
