{% extends "base_campus.html" %}
{% load i18n %}
{% load staticfiles %}

{% block titre %}{{user.uid}}{% endblock %}

{% block css %}
    <link href="{% static 'css/campus/whoswho.css' %}" rel="stylesheet">
    <link href="{% static 'jquery/jquery-ui.min.css' %}" rel="Stylesheet"></link>
{% endblock %}

{% block content %}
 <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header text-center" style="color: white;">
                {{display_user.first_name}} {{display_user.last_name|upper}}
            </h1>
        </div>
        <div class="col-md-12">
           <h3 class="text-center" style="color: white;">
             <b>{% trans "Promo" %}</b> : {{display_user.promo}}
             {% if user.formation != "" %}<b>{% trans "Formation" %}</b> : {{display_user.formation}}{% endif %}
           </h3>
        </div>
    </div>

     <div class="row row-eq-height">
         <div class="col-xs-5 well">
             <h3 class="text-center">{% trans "Parrains" %}</h3>
             <ul>
             {% for godparent in user.godparents %}
             <li><a href="{% url 'campus:who:user-details' godparent.uid %}">{{godparent.first_name}} {{godparent.last_name|upper}}</a> ({%trans 'Promo' %} {{godparent.promo}})</li>
             {% endfor %}
             </ul>
         </div>
         <div class="col-xs-5 col-xs-offset-2 well">
             <h3 class="text-center">{% trans "Filleuls" %} {% if ldapuser.uid == display_user.uid %}  <a style="padding:0 0 5px 0;" data-toggle="modal" class="glyphicon glyphicon-plus btn" data-target="#addBizu"></a>{% endif %}</h3>
             <ul>
             {% for godchild in user.godchildren %}
             <li><a href="{% url 'campus:who:user-details' godchild.uid %}">{{godchild.first_name}} {{godchild.last_name|upper}}</a> ({%trans 'Promo' %} {{godchild.promo}})</li>
             {% endfor %}
             </ul>
         </div>
     </div>
     <div class="row">
         <div class="col-xs-12 well">
             <h3 class="text-center">{% trans "Clubs" %}</h3>
         </div>
     </div>
</div>

{% if ldapuser.uid == display_user.uid %}
<!-- Modal -->
<div class="modal fade" id="addBizu" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form class="form-horizontal" action="{% url 'campus:who:add-godchild' %}" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">{% trans "Ajouter un filleul" %}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <p>{% trans "Entrer le nom du filleul que vous souhaitez ajouter :" %}</p>
                        </div>
                        <div class="col-xs-12">
                            <input type="text" name="id_user" id="id_utilisateur" style="width:70%;"></input>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info">{% trans "Ajouter" %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Annuler" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script src="{% static 'jquery/jquery-ui.min.js' %}"></script>
<script>
    jQuery(document).ready(function ($) {
        $('#id_utilisateur').autocomplete({
            source: "{% url 'campus:who:request-user' %}",
            minLength: 3,
        });
    });
</script>
{% endblock %}
