{% extends "base_campus.html" %}
{% load i18n %}
{% load staticfiles %}

{% block titre %}{{user.uid}}{% endblock %}

{% block css %}
    <link href="{% static 'css/campus/whoswho.css' %}" rel="stylesheet">
    <link href="{% static 'jquery/jquery-ui.min.css' %}" rel="Stylesheet"></link>
{% endblock %}

{% block content %}
 <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header text-center" style="color: white;">
                {{display_user.first_name}} {{display_user.last_name|upper}}
            </h1>
        </div>
        <div class="col-md-12">
           <h3 class="text-center" style="color: white;">
             <b>{% trans "Promo" %}</b> : {{display_user.promo}}
             {% if display_user.formation != "" %}<b>{% trans "Formation" %}</b> : {{display_user.formation}}<br />{% endif %}
             {% if display_user.is_public == True %}
               <b>Email:</b> <a href="mailto:{{ display_user.mail}}" style="color: inherit !important;">{{ display_user.mail }}</a><br>
               {% if display_user.campus != "None"%}
                  <b>Anniverssaire: </b>{{ display_user.birth_date.date }}<br>
                  <b>Batiment:</b> {{display_user.building}} <b>Chambre:</b> {{display_user.room_number}}<br>
               {% else %}
                  <b>Adresse:</b> {{display_user.postal_address}}
               {% endif %}
              {% endif %}
           </h3>
        </div>
    </div>

     <div class="row margin-top">
         <div class="col-md-offset-1 col-md-5">
            <div class="col-md-12 well">
                <h3 class="text-center category-title">{% trans "Parrains" %}{% if ldapuser.uid == display_user.uid %}  <a style="padding:0 0 0 0;" class="btn" data-toggle="modal" data-target="#addParain"><span class="fa fa-plus-circle" style="color:#8BBF82"></span></a>{% endif %}</h3>
                <ul>
                {% for godparent in display_user.godparents %}
                <li>
                  <a href="{% url 'campus:who:user-details' godparent.uid %}">{{godparent.first_name}} {{godparent.last_name|upper}}</a>
                  ({%trans 'Promo' %} {{godparent.promo}})
                  {% if ldapuser.uid == display_user.uid %}
                    <a class="fa fa-trash-o dell-user" href="{% url 'campus:who:remove-person' godparent.uid True %}" title="{% trans 'Supprimer' %}"></a>
                  {% endif %}
                </li>
                {% empty %}
                {% trans "Aucun parrain trouvé pour " %}{{display_user.first_name}} {{display_user.last_name|upper}}
                {% endfor %}
                </ul>
            </div>
         </div>
         <div class="col-md-5">
            <div class="col-md-12 well">
                <h3 class="text-center">{% trans "Filleuls" %} {% if ldapuser.uid == display_user.uid %}  <a style="padding:0 0 0 0;" class="btn" data-toggle="modal" data-target="#addBizu"><span class="fa fa-plus-circle" style="color:#8BBF82"></span></a>{% endif %}</h3>
                <ul>
                {% for godchild in display_user.godchildren %}
                <li>
                  <a href="{% url 'campus:who:user-details' godchild.uid %}">{{godchild.first_name}} {{godchild.last_name|upper}}</a>
                  ({%trans 'Promo' %} {{godchild.promo}})
                  {% if ldapuser.uid == display_user.uid %}
                    <a class="fa fa-trash-o dell-user" href="{% url 'campus:who:remove-person' godchild.uid False %}" title="{% trans 'Supprimer' %}"></a>
                  {% endif %}
                </li>
                {% empty %}
                {% trans "Aucun Filleul trouvé pour " %}{{display_user.first_name}} {{display_user.last_name|upper}}
                {% endfor %}
                </ul>
            </div>
         </div>
     </div>
     <div class="row">
         <div class="col-xs-offset-1 col-xs-5">
            <div class="col-xs-12 well">
               <h3 class="text-center">{% trans "Clubs" %}</h3>
               Cette personne ne fait partie d'aucun club
            </div>
         </div>
     </div>
</div>

{% if ldapuser.uid == display_user.uid %}
<!-- Modal -->
<div class="modal fade" id="addBizu" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form class="form-horizontal" action="{% url 'campus:who:add-person' False %}" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">{% trans "Ajouter un filleul" %}</h4>
                </div>
                <div class="modal-body">
                  <p>{% trans "Entrer le nom du filleul que vous souhaitez ajouter :" %}</p>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="fa fa-user"></span></span>
                    <input type="text" class="form-control" name="id_user" id="id_parain" style="width:70%;"></input>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">{% trans "Ajouter" %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Annuler" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="addParain" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form class="form-horizontal" action="{% url 'campus:who:add-person' True %}" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">{% trans "Ajouter un parain" %}</h4>
                </div>
                <div class="modal-body">
                  <p>{% trans "Entrer le nom du parain que vous souhaitez ajouter :" %}</p>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="fa fa-user"></span></span>
                    <input type="text" class="form-control" name="id_user" id="id_bizzu" style="width:70%;"></input>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">{% trans "Ajouter" %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Annuler" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script src="{% static 'jquery/jquery-ui.min.js' %}"></script>
<script>
    jQuery(document).ready(function ($) {
      $('#id_parain').autocomplete({
          source: "{% url 'campus:who:request-user' %}",
          minLength: 3,
      });
      $('#id_bizzu').autocomplete({
          source: "{% url 'campus:who:request-user' %}",
          minLength: 3,
      });
    })
</script>
{% endblock %}
