{% extends "base_campus.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %} WhosWho {% endblock %}

{% block css %}
<link href="{% static 'css/campus/whoswho.css' %}" rel="stylesheet">
<link href="{% static 'jquery/jquery-ui.min.css' %}" rel="Stylesheet"></link>
{% endblock %}

{% block content %}
<div class="container">
   <div class="row">
      <div class="col-md-12">
         <div class="page-header text-center">
            <img class="who_logo" src="{% static 'images/campus/whoswho_logo.png'%}">
         </div>
      </div>
   </div>
</div>

<div class="container">
   <div class="row">
      <div class="col-md-6">
         <div class="col-md-12 well test">
            <div class="user-form">
               <a href="#collapse-form" data-toggle="collapse" class="noncolored-a">
                  <span class="fa fa-pencil-square-o"></span> Éditer
               </a>
               <a href="{% url 'campus:who:user-details' uid=user.uid %}" style="float: right;" class="noncolored-a">
                  <span class="fa fa-eye"></span> Profil public
               </a>
               <div class="collapse" id="collapse-form">
                  <form enctype="multipart/form-data" action="" method="post" class="form form-horizontal">
                     {% csrf_token %}
                     <h3 class="text-center">Éditer mes informations</h3>
                     <div class="form-group">
                        <label for="uid" class="col-sm-3 control-label">{% trans "Nom" %}</label>
                        <div class="col-sm-8">
                           <input type="text" class="form-control" id="uid" placeholder="{% trans "Nom" %}" value="{{ user.last_name }}" disabled="disabled">
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="uid" class="col-sm-3 control-label">{% trans "Prénom" %}</label>
                        <div class="col-sm-8">
                           <input type="text" class="form-control" id="uid" placeholder="{% trans "Nom" %}" value="{{ user.first_name }}" disabled="disabled">
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="photo" class="col-sm-3 control-label">{% trans "Photo" %}</label>
                        <div class="col-sm-8">
                           {{form.photo.errors}}
                           {{form.photo}}
                        </div>
                     </div>
                     <div class="form-category">
                        <label for="remove_photo" class="col-sm-3 control-label">{% trans "" %}</label>
                        <div class="col-sm-8">
                           {{form.remove_photo.errors}}
                           {{form.remove_photo}} {{form.remove_photo.label_tag}}
                        </div>
                     </div>
                     <div class="form-category">
                        <label class="col-sm-3 control-label"> {% trans "" %}</label>
                        <div class="col-sm-8 text-center">
                           <h4 class="well">Merci de respecter le format 300x400 pixels ou un ratio identique</h4>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">{% trans "Email" %}</label>
                        <div class="col-sm-8">
                           {{form.email.errors}}
                           {{form.email}}
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="campus" class="col-sm-3 control-label">{% trans "Campus" %}</label>
                        <div class="col-sm-8">
                           {{form.campus.errors}}
                           {{form.campus}}
                        </div>
                     </div>
                     <span id="maisel-information">
                        <div class="form-group">
                           <label for="building" class="col-sm-3 control-label">{% trans "Bâtiment" %}</label>
                           <div class="col-sm-8">
                              {{ form.building.errors }}
                              {{form.building}}
                           </div>
                        </div>
                        <div class="form-group">
                           <label for="room" class="col-sm-3 control-label">{% trans "Chambre" %}</label>
                           <div class="col-sm-8">
                              {{form.room.errors}}
                              {{form.room}}
                           </div>
                        </div>
                     </span>
                     <div class="form-group" id="form-group">
                        <label for="uid" class="col-sm-3 control-label">{% trans "Date de naissance" %}</label>
                        <div class="col-sm-8">
                           {{form.birth_date.errors}}
                           {{form.birth_date}}
                        </div>
                     </div>
                     <div class="form-group" id="home-address">
                        <label for="adress" class="col-sm-3 control-label">{% trans "Adresse" %}</label>
                        <div class="col-sm-8">
                           {{form.address.errors}}
                           {{form.address}}
                        </div>
                     </div>
                     <div class="form-category">
                        <div class="col-sm-offset-3 col-sm-8">
                           {{form.is_public}} {{form.is_public.label_tag}}
                        </div>
                    </div>
                     <div class="form-category">
                        <div class="row">
                            <div class="text-center">
                                <button type="submit" class="btn btn-lg btn-success">{% trans "Valider ces informations" %}</button>
                            </div>
                        </div>
                    </div>
                  </form>
               </div>
            </div>
            <h3 class="text-center">Mon Profil</h3>
            {% if user.photo_file == "" %}
            <div class="user-photo">
              <img src="{% static "images/campus/photo-placeholder.jpg" %}" />
            </div>
            {% else %}
            <div class="user-photo">
              <img src="/media/image/users_photo/{{user.photo_file}}" />
            </div>
            {% endif %}
            <p class="text-center">
               {{user.first_name}} {{user.last_name}}, {{user.formation}} promo {{user.promo}} <br>
               <a href="mailto:{{user.mail}}">{{user.mail}}</a><br>
               {% if user.campus != "None" %}
                  Campus de {{user.campus}}<br>
                  Batiment {{user.building}} Chambre {{user.room_number}}
               {% else %}
                  Ne réside pas à la Maisel <br>
                  {{ user.postal_address }}
               {% endif %}
            </p>
            <h3 class="text-center">Mes filleuls <a style="padding:0 0 0 0;" class="btn" data-toggle="modal" data-target="#addBizu"><span class="fa fa-plus-circle" style="color:#8BBF82"></span></a></h3>
            <p class="text-center">
               {% for godchild in user.godchildren %}
                  <a href="{% url 'campus:who:user-details' uid=godchild.uid %}">{{ godchild.first_name }} {{godchild.last_name}}</a> (Promo {{godchild.promo}})
                  <a class="fa fa-trash-o dell-user" href="{% url 'campus:who:remove-person' godchild.uid False %}" title="{% trans 'Supprimer' %}"></a>
               {% empty %}
                  Vous n'avez pas de filleuls
               {% endfor %}
            </p>
            <h3 class="text-center">Mes parains <a style="padding:0 0 0 0;" class="btn" data-toggle="modal" data-target="#addParain"><span class="fa fa-plus-circle" style="color:#8BBF82"></span></a></h3>
            <p class="text-center">
               {% for godparent in user.godparents %}
                  <a href="{% url 'campus:who:user-details' uid=godparent.uid %}">{{ godparent.first_name }} {{godparent.last_name}}</a> (Promo {{godparent.promo}})
                  <a class="fa fa-trash-o dell-user" href="{% url 'campus:who:remove-person' godparent.uid True %}" title="{% trans 'Supprimer' %}"></a>
               {% empty %}
                  Vous n'avez pas de parains
               {% endfor %}
            </p>
         </div>
      </div>
      <div class="col-md-5 col-md-offset-1">
         <div class="col-md-12 well">
            <h3 class="text-center" >Rechercher quelqu'un</h3>
            <form class="form-horizontal" action="{% url 'campus:who:search-user' %}" method="GET">
               <div class="input-group" style="width:100%">
                  <span class="input-group-addon" id="basic-addon1"><span class="fa fa-user"></span></span>
                  {{ formSearchUser.what.errors }}
                  {{ formSearchUser.what }}
               </div>
               {{ formSearchUser.strict.errors }}
               {{ formSearchUser.strict }} {{ formSearchUser.strict.label_tag }}
               <div>
                  Vous pouvez rechercher:
                  <ul>
                     <li>Un nom</li>
                     <li>Un prénom</li>
                     <li>Une e-mail</li>
                     <li>Une promo</li>
                  </ul>
               </div>
               <div class="form-group text-center">
                  <div class="btn-group" role="button" aria-label="submit">
                     <button type="submit" class="btn btn-success">C'est parti !</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<!-- MODAL -->
<div class="modal fade" id="addBizu" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form class="form-horizontal" action="{% url 'campus:who:add-person' False %}" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">{% trans "Ajouter un filleul" %}</h4>
                </div>
                <div class="modal-body">
                  <p>{% trans "Entrer le nom du filleul que vous souhaitez ajouter :" %}</p>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="fa fa-user"></span></span>
                    <input type="text" class="form-control" name="id_user" id="id_parain" style="width:70%;"></input>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">{% trans "Ajouter" %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Annuler" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="addParain" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form class="form-horizontal" action="{% url 'campus:who:add-person' True %}" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">{% trans "Ajouter un parain" %}</h4>
                </div>
                <div class="modal-body">
                  <p>{% trans "Entrer le nom du parain que vous souhaitez ajouter :" %}</p>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="fa fa-user"></span></span>
                    <input type="text" class="form-control" name="id_user" id="id_bizzu" style="width:70%;"></input>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">{% trans "Ajouter" %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Annuler" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script>
        var brest_buildings = ['I1', 'I2', 'I3', 'I4', 'I5', 'I6', 'I7', 'I8', 'I9', 'I10', 'I11', 'I12'];
        var rennes_buildings = ['Studios', 'Chambres'];

        function update_buildings() {
            var selected_campus = $("#id_campus").find("option:selected").text();
            if (selected_campus === "Brest") {
                $("#maisel-information").show();
                $("#home-address").hide();
                $("#id_building").find("option").each(function () {
                    if(brest_buildings.indexOf($(this).text()) >= 0){
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                })
            } else if (selected_campus === "Rennes") {
                $("#maisel-information").show();
                $("#home-address").hide();
                $("#id_building").find("option").each(function () {
                    if(rennes_buildings.indexOf($(this).text()) >= 0){
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                })
            } else {
                $("#maisel-information").hide();
                $("#home-address").show();
            }
        }

        $("#id_campus").on("change", function (event) {
            update_buildings();
        });

        $( document ).on("ready", function( event ){
            update_buildings();
        });
    </script>
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-ui.min.js' %}"></script>
    <script>
        jQuery(document).ready(function ($) {
          $('#id_parain').autocomplete({
              source: "{% url 'campus:who:request-user' %}",
              minLength: 3,
          });
          $('#id_bizzu').autocomplete({
              source: "{% url 'campus:who:request-user' %}",
              minLength: 3,
          });
        })
    </script>
    <script>
        $(document).ready(function() {
            $('#datePicker').datepicker({
              changeMonth: true,
              changeYear: true,
              yearRange: "1977:2420",
              dateFormat: "dd/mm/yy",
              defaultDate: '10/12/1996',

            });
        });
    </script>
{% endblock %}
