{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titre %}{% trans "Tarifs" %}{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/tresorerie/choose_product.css' %}"/>{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="page-header">{% trans "Les tarifs" %}</h1>
        <h2 class="part-title">Fonctionnement de la cotisation ResEl</h2>
        <div class="row">
            <div class=" col-sm-offset-1 col-sm-4 working-case">
                <h3>Adhésion à l'association</h3>
                <p>Afin de bénéficier des services du ResEl il est obligatoire d'être membre de l'association. Ainsi vous devez vous acquitter de la cotisation ResEl.</p>
            </div>
            <div class="col-sm-2 working-case">
                <span class="fa fa-fw fa-plus"></span>
            </div>
            <div class="col-sm-4 working-case">
                <h3>Accès internet</h3>
                <p>Pour avoir accès à internet nous devons louer la connexion à un prestataire exterieur. Les frais d'accès internet dépendent du temps que vous passez sur le campus et de votre formation conformément au règlement intérieur.</p>
            </div>
        </div>
        <hr />
        <h2 class="part-title">Modes de paiement</h2>
        <div class="payment-type row">
            <div class="col-sm-1 col-sm-offset-3 fa fa-fw fa-credit-card"></div>
            <div class="col-sm-5 col-sm-offset-1">
                <h3>Carte de crédit en ligne</h3>
                <p>Nous acceptons les paiements par carte de crédit depuis le site web du ResEl. Vous pouvez donc obtenir accès aux services du ResEl immédiatement.</p>
            </div>
        </div>
        <div class="payment-type row">
            <div class="col-sm-1 col-sm-offset-3 fa fa-fw fa-money"></div>
            <div class="col-sm-5 col-sm-offset-1"><h3>Espèces et par chèque au foyer</h3>
                <p>Si vous ne désirez pas payer par carte bancaire vous pouvez toujours payer en espèces ou par chèque au foyer. Nous tenons des permanences du lundi au vendredi de 18h à 19h30.</p>
                <p><span class="label label-default">Uniquement sur le campus de Brest</span></p></div>
        </div>
        <hr />
        <h2 class="part-title">Les Offres</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary panel-product">
                    <div class="panel-heading">{% trans "Accès au ResEl" %}</div>
                    <div class="panel-body">
                        <div class="service-list">
                            <div>{% trans "Services inclus :" %}</div>
                            <div class="service"><strong>Internet Haut Débit</strong></div>
                            <div class="service">Télévision sur Internet</div>
                            <div class="service">Garbage</div>
                            <div class="service">Mails ResEl</div>
                            <div class="service">Gestion des clubs</div>
                            <div class="service">Et bien plus...</div>
                        </div>
                        <hr />
                        <span class="price">{{ adhesion.display_price|floatformat }}€ de cotisation à l'association</span>
                        <div class="price"><span class="fa fa-plus fa-fw"></span></div>
                        <div class="row text-center">
                        </div>
                        <div class="pay-btn btn-group">
                            <div class="row">
                                <div class="col-lg-4"><a class="btn btn-info" href="{% url 'tresorerie:pay' one_year_FIG.id %}">Je choisis <br />1 an pour {{ one_year_FIG.display_price|floatformat }}€</a></div>
                                <div class="col-lg-4"><a class="btn btn-info" href="{% url 'tresorerie:pay' six_month_FIG.id %}">Je choisis <br />6 mois pour {{ six_month_FIG.display_price|floatformat }}€</a></div>
                                <div class="col-lg-4"><a class="btn btn-info" href="{% url 'tresorerie:pay' one_month_FIG.id %}">Je choisis <br />1 mois pour {{ one_month_FIG.display_price|floatformat }}€</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default panel-product">
                    <div class="panel-heading">{% trans "Adhésion simple" %}</div>
                    <div class="panel-body">
                        <div class="service-list">
                            <div>{% trans "Services inclus :" %}</div>
                            <div class="service">Télévision sur Internet</div>
                            <div class="service">Garbage</div>
                            <div class="service">Mails ResEl</div>
                            <div class="service">Gestion des clubs</div>
                        </div>
                        <hr />
                        <div class="price">{{ adhesion.display_price|floatformat }}€ de cotisation à l'association</div>
                        <div class="pay-btn text-center">
                            <a class="btn btn-info" href="{% url 'tresorerie:pay' adhesion.id %}">Je préfère<br />une adhésion simple</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
{% endblock %}
