{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block titre %}{% trans "Demande d'enregistrement de machine" %}{% endblock %}


{% block css %}
    <link href="{% static 'css/manual_add_device.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="page-header">{% trans "Demande d'enregistrement manuel de machine" %}</h1>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                {% blocktrans %}
                    <div class="alert alert-warning" style="font-size: 1.3em">
                        <strong><span class="fa fa-warning"></span> Important : </strong>
                        <strong>expliquer clairement</strong> pourquoi cette machine n'a pas pu être ajoutée via le système automatique (ancien téléphone, console de jeu...), dans le cas contraire,
                        <strong>les administrateurs ResEl se donneront le droit de refuser l'ajout de la machine au compte</strong>.
                    </div>
                {% endblocktrans %}
            </div>
            <div class="col-sm-offset-3 col-sm-6">
                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <fieldset class="form-group">
                            <label>{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}{{ field.errors }}{% endif %}
                        </fieldset>
                    {% endfor %}
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-info" value="{% trans 'Envoyer votre demande' %}">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="warning-overlay">
        <div class="page-title">
            <div class="container">
                <span class="fa fa-fw fa-times close"></span>
                <h1>Nouvelle machine sur le ResEl</h1>
            </div>
        </div>
        <div class="container main-content text-center">
            <div class="row">
                <div class="col-md-2 tuto-nbr hidden-xs">1</div>
                <div class="col-md-6 text-tuto">
                    <div>Sur votre nouvel appareil connectez-vous à <strong>ResEl Secure</strong> <br />
                        Ou branchez votre câble Ethernet dans votre chambre</div>
                </div>
                <div class="col-md-4"><img src="{% static "images/inscription-zone/subscribed-on-995-2.png" %}" width="270" class="img-responsive"/></div>
            </div>
            <hr />

            <div class="row">
                <div class="col-md-2 tuto-nbr hidden-xs">2</div>
                <div class="col-md-6 text-tuto">
                    <p>Rendez-vous dans votre sur <a href="https://resel.fr">https://resel.fr</a> <br />
                        <strong>Connectez-vous</strong> avec vos identifiants ResEl</p>
                </div>
                <div class="col-md-4"><img src="{% static "images/manual_add_tuto/login_form.png" %}" width="270" class="img-responsive"/></div>
            </div>
            <hr />

            <div class="row">
                <div class="col-md-2 tuto-nbr hidden-xs">3</div>
                <div class="col-md-6 text-tuto"><p><strong>Enregistrez</strong> votre nouvel appareil</p></div>
                <div class="col-md-4"><img src="{% static "images/manual_add_tuto/add_device_button.png" %}" width="270" class="img-responsive"/></div>

            </div>
            <hr />

            <div class="row">
                <a class="close-btn btn btn-lg" href="#"><span class="fa fa-warning"></span> Cela ne fonctionne pas ?</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(".close-btn").on("click", function (e) {
            $("#warning-overlay").fadeOut();
        });
        $(".close").on("click", function (e) {
            $("#warning-overlay").fadeOut();
        });
    </script>
{%  endblock %}