{% extends 'base.html' %}
{% load i18n %}

{% block titre %}{% trans "Modifier une machine" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-lg-3">
            <h1 class="page-header">{% trans "Modification de machine" %}</h1>
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                <fieldset class="form-group">
                    <label class="from-control-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}{{ field.errors }}{% endif %}
                </fieldset>
                {% endfor %}
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-info" value="{% trans 'Envoyer votre demande' %}">
                </div>
            </form>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}