# Config file

# Python related stuff
__pycache__
*.pyc

# Django related stuff
# migrations/ we should put migrations in git
static_files/
uwsgi.*
!uwsgi.service
db.sqlite3
db.sqlite3_admin
*.mo

# Mediafiles
media/image/users_photo/
media/image/ASSOS/
media/image/LIST/
media/image/CLUB/
media/eggdrop/

# Editor auto save file
.DS_Store
*~
\#*\#
.\#*
*.swp
.idea

# Settings file
/myresel/credentials.py
/myresel/settings_local.py

# Vagrant
.vagrant

.coverage
/node_modules
/venv/
