{% extends 'base.html' %}
{% load i18n %}

{% block titre %}{% trans "Connexion" %}{% endblock %}

{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
                <h1 class="page-header">{% trans "Veuillez vous connecter" %}</h1>
    <div class="alert alert-info">{% trans "Afin de bénéficier des services du ResEl, vous devez vous connecter." %}
        {% trans "Vous êtes nouveau ?" %} <a href="{% url "gestion-personnes:inscription" %}">{% trans "Créez un compte" %}</a>.
    </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h3>{% trans "Connexion au ResEl"%}</h3>
                <form class="form" action="{% url "login" %}" method="post">
                    {% csrf_token %}
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}">
                    {% endif %}
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" name="username"  placeholder="{% trans "Nom d'utilisateur" %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input type="password" class="form-control" name="password" placeholder="{% trans "Mot de passe" %}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div><a href="#">{% trans "Mot de passe oublié ?" %}</a></div>
                            <div><a href="{% url 'gestion-personnes:inscription' %}">{% trans "Pas de compte ?" %}</a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group text-right">
                                <div class="btn-group" role="button" aria-label="login">
                                    <button type="submit" class="btn btn-info">{% trans "Connexion" %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <h3>{% trans "Grâce à votre compte ResEl vous pourrez"%}</h3>
                <ul>
                    <li>Avoir accès à internet très haut débit sur le campus</li>
                    <li>Regarder la télévision sur votre ordinateur</li>
                    <li>Accéder aux e-mails de clubs et leurs sites</li>
                    <li>Consulter vos statistiques d'utilisation</li>
                    <li>Et plus encore !</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}