{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titre %}{{object.name}}{% endblock %}

{% block css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="home-fragment home-user-management" data-navstyle="invert">
        <div class="container">
            <h2>{{ object.name }}</h2>
            <p>{{ object.description|safe }}</p>
        </div>
    </div>

    <div class="home-fragment home-presentation">
        <div class="container">
            {% for stuff in category.get_articles_and_links %}
            <a href="{{ stuff.get_absolute_url }}"><div class="category-item halo">{% if stuff.glyphicon_name %}<span class="glyphicon {{ stuff.glyphicon_name }}"></span>{% endif %}<div><span class="item-title">{{ stuff.name }}</span><span>{{ stuff.description }}</span></div></div></a>
            {% empty %}
            <p>{% trans "Aucun article disponible." %}</p>
            {% endfor %}
        </div>
    </div>    
{% endblock %}
