{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titre %}{{object.name}}{% endblock %}

{% block css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="home-fragment home-user-management">
        <div class="container">
            <h2>{{ object.name }}</h2>
	    <p>{{ object.description|safe }}</p>
        </div>
    </div>

    <div class="home-fragment home-presentation">
        <div class="container">
	    <ul>
		{# Pour chaque article dans le "set d'article" de la catégorie #}
        {% for stuff in category.get_articles_and_links %}
                <li><a href="{{ stuff.get_absolute_url }}">{{ stuff.name }}</a> : {{ stuff.description }}</li>
		{% empty %}
                <p>{% trans "Aucun article disponible." %}</p>
		{% endfor %}
	    </ul>
	</div>
    </div>    
{% endblock %}
