{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titre %}{{object.name}}{% endblock %}

{% block css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="home-fragment home-user-management">
        <div class="container">
            <h2>{{ object.name }}</h2>
	    <p>{{ object.description|safe }}</p>
        </div>
    </div>

    <div class="home-fragment home-presentation">
        <div class="container">
	    <p>{{ object.text|safe }}</p>
            <p>{% trans "Publié" %} : {{ object.date_creation|date }}<br/>{% trans "Dernière modification" %}: {{ object.date_last_edit|date }}
	</div>
    </div>    
{% endblock %}

