{% load staticfiles %}
{% load i18n %}

<script type="text/javascript">

  ///////////////////////////////////////////////
  ////////    Add AE member components    ///////
  ///////////////////////////////////////////////

  // The root template for adding a new member
  const AddMember = Vue.component('add-member', {
    props: [],
    delimiters: ['[[', ']]'],
    template:
    `
      <div class="well">
        <section-title
          :title='"{% trans "Ajouter un membre AE" %}"''
          :component="'search-school-users'"
        ></section-title>
      </div>
    `
  })

  const SearchUsers = Vue.component('search-school-users', {
    props: [],
    delimiters: ['[[', ']]'],
    data(){
      return {
        search_results: [],
        filter: '',
      };
    },
    methods:{
      getUsers: function(){
        $.ajax({
          url: "{% url 'campus:ae-admin:search-user' %}",
          method: "GET",
          data: {filter: this.filter},
          success: function(data){
            console.log(data)
          }
        })
      }
    },
    template:
    `
      <div class="row">
        <div class="col-md-12">
          <form v-on:submit.prevent="getUsers">
            <div class="form-group">
              <label>{% trans "Rechercher dans l'annuaire de l'école :" %}</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="fa fa-search"></span>
                </span>
                <input class="form-control" v-model="filter" type="text"></input>
              </div>
            </div>
          </form>
        </div>
      </div>
    `
  })

  const AddMemberForm = Vue.component('add-member-form', {
    props: [],
    delimiters: ['[[', ']]'],
    template:
    `
      <div>Bla</div>
    `
  })
</script>
