{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block titre %}{% trans "Ajout de machine" %}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="page-header">{% trans "Ajouter une machine à votre compte" %}</h1>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="panel panel-info">
                    <div class="panel-heading">{% trans "Nouvelle machine" %}</div>
                    <div class="panel-body">
                        {% blocktrans %}Votre machine est nouvelle sur notre réseau. Afin de bénéficier d'un accès aux services
                            du ResEl vous devez l'associer à votre compte.
                        {% endblocktrans %}</div>
                    <form action="" method="post" id="slowform">
                        {% csrf_token %}
                        {% for field in form %}
                            <fieldset class="form-group hide">
                                <label>{{ field.label }}</label>
                                {{ field }}
                                {% if field.errors %}{{ field.errors }}{% endif %}
                            </fieldset>
                        {% endfor %}
                        <div class="form-group text-center">
                            <input id="sender" type="submit" class="btn btn-info btn-lg" value="{% trans 'Inscrire ma machine' %}">
                            <div id="waiter" class="hide" > <span class=" btn btn-info btn-lg " disabled="disabled"><span class="fa fa-spin fa-cog"></span> {% trans "Inscription veuillez patienter..." %}</span></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $("#slowform").submit(function( event ){
            console.log("HOLA");
            $("#sender").addClass("hide");
            $("#waiter").removeClass("hide");
        });
    </script>
{% endblock %}
