{% extends 'base.html' %}
{% load i18n %}

{% block titre %}{% trans "Mes machines" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% trans "Mes machines" %}</h1>
                <p class="text-right">
                    <a href="{% url 'gestion-machines:ajout-manuel' %}" class="btn btn-info">{% trans "Ajouter une machine" %}</a>
                </p>
                {% for m in devices %}
                    {% if forloop.first %}
                        <table class="table table-hover">
                        <thead>
                        <tr>
                            <th><i class="fa fa-desktop fa-fw" aria-hidden="true"></i> {% trans "Nom" %}</th>
                            <th><i class="fa fa-clone fa-fw" aria-hidden="true"></i> {% trans "Alias" %}</th>
                            <th><i class="fa fa-server fa-fw" aria-hidden="true"></i> {% trans "Adresse MAC" %}</th>
                            <th><i class="fa fa-server fa-fw" aria-hidden="true"></i> {% trans "Adresse IP" %}</th>
                            <th><i class="fa fa-info fa-fw" aria-hidden="true"></i> {% trans "Statut" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                    {% endif %}

                <tr style="cursor: pointer;" class="clickable" data-href="{% url 'gestion-machines:modifier' m.hostname %}">
                    <td>{{ m.hostname|capfirst }}</td>
                    <td>{{ m.aliases|first|capfirst }}</td>
                    <td>{{ m.mac_address|upper }}</td>
                    <td>{% if "Brest" in m.zones %}172.22.{% elif "Rennes" in m.zones %}172.23.{% endif %}{{ m.ip|upper }}</td>
                    <td>
                        {% if m.get_status == "active" %}
                            <span class="label label-success">{% trans "Activée" %}</span>
                        {% elif m.get_status == "inactive" %}
                            <span class="label label-default">{% trans "Inactive" %}</span>
                        {% else %}
                            <span class="label label-danger">{% trans "Erreur" %}</span>
                        {% endif %}
			{% if "Brest" in m.zones %}
			    <span class="label label-success">Brest</span>
			{% elif "Rennes" in m.zones %}
			    <span class="label label-success">Rennes</span>
			{% endif %}
{#                        {% if current_device.hostname == m.hostname %}#}
{#                            <span class="label label-info">{% trans "Machine courante" %}</span>#}
{#                        {% endif %}#}
                    </td>
                </tr>
                {% if forloop.last %}
                    </tbody>
                    </table>
                {% endif %}
                {% empty %}
                    <p>{% blocktrans %}Vous n'avez enregistré aucune machine à votre nom.{% endblocktrans %}</p>
                {% endfor %}


            </div> <!-- /.col-lg-12 -->

        </div> <!-- /.row -->
    
    <div class="home-fragment">
        <div class="container article"><a name="bandwidth">
                <h1>Consomation de bande passante</h1></a>
            <div class="embed-responsive graph">
                <iframe id="graph" src="https://graph.resel.fr/dashboard-solo/db/qos?panelId=2&from=now-13h&to=now&var-uid={{ request.ldap_user.uid }}" width="450" height="200" frameborder="0"></iframe>
            </div>
            <div class="btn-group">
            <button class="btn btn-default active hdur" x-act="now-13h">12h</button>
            <button class="btn btn-default hdur" x-act="now-25h" >24h</button>
            <button class="btn btn-default hdur" x-act="now-1w">1 semaine</button>
            <button class="btn btn-default hdur" x-act="now-1M">1 mois</button>
            <button class="btn btn-default hdur" x-act="now-6M">6 mois</button>
            </div>
        </div>
    </div>
    </div> <!-- /.container -->
{% endblock %}

{% block javascript %}
    <script>
        jQuery(document).ready(function($) {
            $(".clickable").click(function() {
                window.document.location = $(this).data("href");
            });
        });
        $(".hdur").click(function() {
            $('#graph').attr('src', "https://graph.resel.fr/dashboard-solo/db/qos?panelId=2&from=" + $(this).attr("x-act") + "&to=now&var-uid={{ request.ldap_user.uid }}");
            $(".hdur").removeClass("active");
            $(this).addClass("active");
        });
    </script>
{% endblock %}
