{% extends 'base.html' %}
{% load i18n %}

{% block titre %}{% trans "Mes machines" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% trans "Mes machines" %}</h1>
                <p class="text-right">
                    <a href="{% url 'gestion-machines:ajout-manuel' %}" class="btn btn-info">{% trans "Ajouter une machine" %}</a>
                </p>
                {% for m in devices %}
                    {% if forloop.first %}
                        <table class="table table-hover" id="devices">
                        <thead>
                        <tr>
                            <th><i class="fa fa-desktop fa-fw" aria-hidden="true"></i> {% trans "Nom de la machine" %}</th>
                            <th><i class="fa fa-server fa-fw" aria-hidden="true"></i> {% trans "Adresse MAC" %}</th>
                            <th><i class="fa fa-info fa-fw" aria-hidden="true"></i> {% trans "Authentification" %}</th>
                            <th><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> {% trans "Dernière authentification" %}</th>
                            <th><i class="fa fa-area-chart fa-fw" aria-hidden="true"></i> {% trans "Consommation" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                    {% endif %}

                <tr style="cursor: pointer;" class="clickable" data-href="{% url 'gestion-machines:modifier' m.mac_address %}">
                    <td>
                    {% with host=m.get_host %}
                    {% if host %}
                        {{ host }}
                    {% else %}
                        {% trans "Machine sans nom" %}
                    {% endif %}
                    {% endwith %}
                    </td>
                    <td>{{ m.pretty_mac }}</td>
                    <td>
                        <span class="label label-info">{{ m.auth_type }}</span>
                    </td>
                    <td>
                    {% if m.last_date %}
                        {{ m.last_date }}
                    {% else %}
                        {% trans "Inconnue" %}
                    {% endif %}
		    </td>
                    <td>
                        <div><iframe src="/graph/d-solo/my-device-netflow?panelId=2&var-mac={{ m.mac_address }}&theme=light" width="400" height="80" frameborder="0" style="visibility: hidden; position: absolute; top: 0px;" onload="this.style.position=''; this.style.visibility=''; this.style.top='';"></iframe></div>
                    </td>
                </tr>
                {% if forloop.last %}
                    </tbody>
                    </table>
                {% endif %}
                {% empty %}
                    <p>{% blocktrans %}Aucune machine n'est attachée à votre compte.{% endblocktrans %}</p>
                {% endfor %}


            </div> <!-- /.col-lg-12 -->

        </div> <!-- /.row -->
    
    <div class="home-fragment" id="bandwidth">
        <div class="container article"><a name="bandwidth">
                <h1>Consomation de bande passante</h1></a>
            <div class="embed-responsive graph">
                <iframe id="graph" src="/graph/d-solo/my-netflow?panelId=2&theme=light" width="450" height="200" frameborder="0" style="visibility: hidden; position: absolute; top: 0px;" onload="this.style.position=''; this.style.visibility=''; this.style.top='';"></iframe>
            </div>
            <div class="btn-group">
            <button class="btn btn-default hdur" x-act="now-12h">12h</button>
            <button class="btn btn-default active hdur" x-act="now-24h" >24h</button>
            <button class="btn btn-default hdur" x-act="now-1w">1 semaine</button>
            <button class="btn btn-default hdur" x-act="now-1M">1 mois</button>
            <button class="btn btn-default hdur" x-act="now-6M">6 mois</button>
            </div>
        </div>
    </div>
    </div> <!-- /.container -->
{% endblock %}

{% block javascript %}
    <script>
        jQuery(document).ready(function($) {
            $(".clickable").click(function() {
                window.document.location = $(this).data("href");
            });
        });
        $(".hdur").click(function() {
            $('#graph').attr('src', "/graph/d-solo/my-netflow?panelId=2&theme=light&from=" + $(this).attr("x-act") + "&to=now");
            $(".hdur").removeClass("active");
            $(this).addClass("active");
        });
    </script>
{% endblock %}
