/* General CSS */
body {
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.5em;
}

#page-wrapper {
    min-height: 700px;
    background-color: #fff;
}

/* Navbar css related */
.navbar-main {
    margin-bottom: 15px;
    background: #ffffff;
}

.nav li {
    display: inline-block;
}

@media(max-width:768px) {
    body {
        font-size: 1.3em;
    }

    h2 {
        font-size: 2.5em;
    }
    h3 {
        font-size: 1.8em;
    }


    .nav li {
        display: block;
    }
    .nav {

        text-align: center;
    }
    .nav hr {
        margin-top: 0;
        margin-bottom: 0;
    }
}
.nav li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-collapse.in {
    overflow-y: visible;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.navbar-toggle {
}

.navbar-toggle .icon-bar {
    background-color: #225378;
}


.menu-text, .menu-bar {
    display: inline-block;
}

.menu-text {
    color: #225378;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 5px;
}

.dropdown-menu {
    min-width: 100px;
}
.navbar-top-links .dropdown-menu button {
    display: block;

    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

@media(min-width:768px) {

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.footer {
    background-color: #225378;
    color: #ffffff;
    padding-top: 15px;
}

.footer .row{
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer .row:last-of-type {
    margin-bottom: 0;
}

.footer a{
    color: #ffffff;
}

.footer ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 20px;
}

.footer li {
    margin-top: 5px;
}

.footer .social-links {
    font-size: 2.5em;
    margin-left: 20px;
    margin-right: 20px;
}

.footer .bottom-row {
    background-color: #1a3a57;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
}


/* Alerts */
.alert-info {
    background-color: #1695A3;
    color: #F3FFE2;
    border-color: transparent;
}

.alert-info a {
    color: #a4f1ff;
}

.alert-warning {
    background-color: #FFCA59;
    border: none;
    color: #000000;
}

.alert-warning a {
    color: #fff4d2;
}


/* btn */
.btn-info {
    background-color: #225378;
    border-color: #225378;
}

.btn-info:hover {
    background-color: #3179ad;
    border-color: #3179ad;
}

.btn-info:focus {
    background-color: #3179ad;
    border-color: #3179ad;
}


/* Fonts */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

#unregistered-device:hover {
    background-color: #d9534f;
}

.danger {
    color: #d9534f;
}

.success {
    color: #1ed212;
}

.warning {
    color: #FFCA59;
}

/* For the FAQ */
.vote {
    display: block;
}