
/* General CSS */
body {
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.4em;
}


#page-wrapper {
    min-height: 700px;
    background-color: #fff;
}

/* Navbar css related */
.navbar-main {
    margin-bottom: 0;
    background: #ffffff;
}

.nav li {
    display: inline-block;
}

.nav li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

@media(min-width:768px) {

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.footer {
    background-color: #225378;
    color: #ffffff;
    padding-top: 15px;
}


/* Alerts */
.alert-info {
    background-color: #1695A3;
    color: #F3FFE2;
    border-color: transparent;
}

.alert-warning {
    background-color: #EB7F00;
    color: #ffffff;
    border: none;
    color: #000000;
}

.alert-warning a {
    color: #3c9ada;
}


/* btn */
.btn-info {
    background-color: #225378;
    border-color: #225378;
}

.btn-info:hover {
    background-color: #3179ad;
    border-color: #3179ad;
}

.btn-info:focus {
    background-color: #3179ad;
    border-color: #3179ad;
}


/* inscription specific style */
.form-category {
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-category fieldset {
    padding-left: 5px;
    padding-right: 5px;
}

.help-block ul {
    list-style-type: none;
}