.page-header {
    margin: 20px 0 50px 0;
    background: #2E3440;
    color: #E5E9F0;
    padding: 50px;
    font-family: 'Roboto Mono', 'sans-serif';
    border-radius: 4px;
}

.page-header h1:nth-child(2) {
    padding-left: 42px;
}

.exp {
    color: #5E81AC ;
}

.hash {
    color: #EBCB8B;
}
h1 {
    font-size: 2.5em;
}
@media(max-width:767px){
    h1 {
        font-size: 1.5em;
    }
    .page-header {
        margin: 20px 0 50px 0;
        padding: 20px;
        font-family: 'Roboto Mono', 'sans-serif';
    }
    .advantages {
        margin: 20px 0 20px 0;
    }
}

.advantages {
    margin: 100px 0 100px 0;
}


.advantages img {
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}
.advantages img:hover {
    transform: scale(1.02, 1.02);
}

.advantages .text {
    padding-top: 30px;
}

.postes {
    margin: 50px 0 20px 0;
}

.postes button {
    transition-property: transform, font-size, box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.postes .active {
    font-size: 1.1em;
    transform: scale(1.05, 1.05);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.act {
    margin: 100px 0 150px 0;
}

.act h2 {
    margin-bottom: 50px;
}

[v-cloak] {
    display: none;
  }
