.jumbotron {
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 0;
    margin-top: 0;
    background: #ffffff;
    text-align: center;
}

.jumbotron-sep {
    height: 70px;
}

.jumbotron .logo {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    animation: 1s ease-out 0s 1 appear;
}

.home-fragment {
    padding-top: 25px;
    padding-bottom: 25px;
}

.home-user-management {
    background: linear-gradient(135deg, var(--accent-3), var(--accent-5));
    color: #fff;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-20px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        transform: scale(.9, .9);
        opacity: .3;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
    }
}
.assos-title {
    animation: 2s ease-out 0s 1 slideInFromLeft;
}

.assos-slogan {
    animation: 4s ease-out 0s 1 slideInFromLeft;
}

#carousel-quotes {
    height: 190px;
}

.carousel-indicators {
    bottom: -20px;
}

.home-user-management .home-login {
    text-align: center;
}

.home-user-management small {
    color: #c3ccb4;
}

.home-user-management .btn {
    margin-bottom: 0px;
    margin-top: 40px;
    border-color: #fff5;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 3px 5px -5px #000;
    transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: scale(1);
    background: #fff2;
    border-radius: 6px;
    padding: 8px 16px;
}

.home-user-management .btn:not(.halo):hover {
    box-shadow: 0 3px 8px -3px #0007;
    background: #fff3;
    border-color: #fff6;
    color: #fff;
}

.home-user-management .btn-outline {
    box-shadow: none;
    background: #0000;
}

.home-user-management .btn-outline:hover {
    box-shadow: none;
}

.home-user-management a {
    color: var(--accent-2);
}

.home-user-management .popover {
    color: #225378;
}

.home-user-management .pay-btn-container {
    margin-top: 10px;
    display: inline-block;
}

.home-user-management .pay-btn-container .btn {
    margin-top: 0;
}

.home-presentation {
    background: transparent linear-gradient(135deg, #5b247a 0%, #1bcedf 100%) repeat scroll 0% 0%;
    color: #F3FFE2;
    text-align: center;
}

.home-presentation a {
    color: var(--accent-1);
}

.home-bg-img {
    background: url("/static/images/IMG_9785_1.jpg") no-repeat fixed center;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.home-bg-img .row {
    line-height: 170px;
}

.home-bg-img .row > div > * {
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
    margin: 0;
}

@media screen and (max-width: 860px) {
    #carousel-quotes {
        height: 150px;
        padding-top: 0;
    }
    .home-bg-img .row > div > .fa {
        font-size: 90px;
    }
    .home-bg-img .row {
        line-height: 140px;
    }
    .row h2 {
        font-size: 25px;
    }
}

/* évite d'avoir le texte collé sur le côté sur mobile */
@media screen and (max-width: 768px) {
    .home-user-management {
        text-align: center;
    }
    .home-bg-img .row > div > .fa {
        font-size: 70px;
    }
    .home-bg-img .row {
        line-height: 100px;
    }
    #carousel-quotes {
        height: 220px;
    }
}

@media screen and (max-width:599px) {
    #carousel-quotes {
        height: 260px;
    }
    .home-bg-img .row {
        line-height: 140px;
    }
    .home-bg-img .row > div:first-child {
        margin: -25px 0;
    }
}

.home-user-management ~ .home-presentation {
    background: initial;
    color: #000;
}

.home-user-management~.home-presentation a {
    color: #2b669a;
}

.home-user-management .computer-icon {
    font-size: 100px;
    margin-top: 5px;
    text-align: center;
    line-height: 0;
}

.home-user-management .payment-block {
    margin-top: 20px;
}

.home-services {
    background: var(--accent-3);
    color: #ffffff;
}

.home-services h2 {
    margin-bottom: 50px;
}

.home-services a {
    color: #ffffff;
}

.home-services a:hover {
    text-decoration: none;
    color: #f1ffff;
}

.home-services .row {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.service-icon {
    font-size: 7em;
}

.home-services p {
    font-size: 1.1em;
}

.services-group {
    margin-bottom: 28px;
}

.services-group div {
    margin-bottom: 3px;
}

.dynamic:hover {
    transform: translateY(-2px);
    text-shadow: rgba(0, 0, 0, .5) 0 4px;
}

.dynamic {
    transform: scale(1);
    z-index: 2;
    transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.bigger:hover {
    transform: scale(1.1);
}

.bigger {
    transform: scale(1);
    z-index: 2;
    transition: all 1200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.home-blog {
    box-shadow: inset 0 5px 5px -5px #000c;
    padding-bottom: 60px;
    background-color: #F7F7F7;
}

.home-blog h2 {
    margin-bottom: 10px;
}

.home-blog .news-bloc {
    margin-top: 5px;
    border: 1px solid #ddd;
    padding: 20px 20px 20px 30px;
    background-color: #FFFFFF;
}

iframe {
    border: 1px solid #ddd!important;
}

.btn-more {
    margin-bottom: 50px;
    text-align: center;
}

.home-blog a {
    color: #63645e;
}

.home-blog a:hover {
    color: #2b669a;
    text-decoration: none;
}

.home-blog h3 {
    color: #48719a;
    margin-top: 5px;
}

.home-blog hr {
    margin: 10px;
}

.article {
    max-width: 800px;
}

.centered {
    text-align: center;
}

.clickable-title a:hover{
    text-decoration: none;
}

.diagram {
    position: relative;
    height: 70px;
    max-width: 500px;
    margin: 50px auto;
}

.diagram * {
    position: absolute;
}

.fa-cloud {
    z-index: 2;
    left: 2%;
    font-size: 80px;
    top: 0px;
}

.fa-check {
    margin-left: -10px;
}

.home-user-management .fa-exclamation {
    margin-top: 10px;
}

.diagram .line {
    height: 2px;
    background-color: #F3FFE2;
    top: 70%;
    left: calc(2% + 40px);
    width: calc(98% - 115px);
}

.diagram .wifi {
    z-index: 2;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    top: 37px;
    right: 5%;
    color: #F3FFE2;
    background-color: #F3FFE2;
}

@keyframes packet-mover {
    0% {
        left: calc(2% + 40px);
    }
    20% {
        left: calc(100% - 82px);
    }
    100% {
        left: calc(100% - 82px);
    }
}

.diagram .packet {
    left: 5%;
    z-index: 1;
    width: 15px;
    height: 2px;
    top: 70%;
    background: var(--accent-1);
    animation-name: packet-mover;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.wifi-wave {
    width: 150px;
    height: 150px;
    top: -25px;
    z-index: 2;
    right: 0;
}

.wifi-wave > * {
    bottom: 50%;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
    border: 10px solid #fff;
    border-radius: 100%;
    opacity: 0;
    animation: wifi 4s infinite;
}

.wifi-wave > :nth-child(1) {
    width: 100%;
    height: 100%;
    animation-delay: 1200ms;
}

.wifi-wave > :nth-child(2) {
    width: 72.5%;
    height: 72.5%;
    animation-delay: 1000ms;
}

.wifi-wave > :nth-child(3) {
    width: 45%;
    height: 45%;
    animation-delay: 800ms;
}

.wifi-wave > :nth-child(4) {
    width: 10%;
    height: 10%;
    opacity: 1;
    background-color: var(--color);
    animation: none;
}

@keyframes wifi {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .5;
    }
    75% {
        opacity: 0;
    }
}

.home-campus {
    background: linear-gradient(135deg, #56ab2f , #a8e063);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #FFFFFF;
    -webkit-clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
    clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
    padding-bottom: 150px;
}

.home-campus h2 {
    color: #FFFFFF;
    margin-bottom: 30px;
}

.home-campus h2 a, .home-campus .btn-link  {
    color: #FFFFFF;
}

.home-campus h2 a:hover, .home-campus .btn-link:hover  {
    color: #373737;
}
.home-campus h2 a:hover {
    color: #373737;
    text-decoration: none;
}

.event-bloc {
    margin-top: 15px;
    border: 2px solid #e0e0e0;
    padding: 20px 20px 10px 30px;
    background-color: white;
    min-height: 60px;
}

.event-badge-container {
    padding: 0;
}

.event-badge {
    background-color: #78c429;
    color: #FFFFFF;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
}

.event-badge .date {
    margin-bottom: 7px;
}

.event-badge .day {
    font-weight: 700;
    margin-bottom: -5px;
}

.event-badge .hour {
    font-size: 1.2em;
    font-weight: 800;
}

.event-description {
    min-height: 60px;
}

.event-description > p:first-of-type {
    font-size: 1.3em;
    font-weight: 400;
}

.home-campus a {
    color: #000000;
    transition: all 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.home-campus a:hover {
    color: #2b669a;
    text-decoration: none;
}

.club-bloc {
    position: relative;
    color: #000000;
    border: 2px solid #e0e0e0;
    border-radius: 0px;
    vertical-align: text-bottom;
    background-color: white;
}

.club-bloc a:hover {
    filter: saturate(60%);
}

.club-bloc .club-img {
    max-height: 130px;
}

.club-bloc .club-name {
    margin-top: 7px;
    margin-bottom: 2px;
    width: 100%;
    color: #000000;
    font-size: 1.3em;
}

.club-name {
    overflow: hidden;
    text-align: center;
    font-size: 1em;
    height: 3em;
}

.birthdays-list {
    padding: 10px 0 5px 20px;
    color: #000000;
}

.club-news {
    background-color: white;
    border: 2px solid #e0e0e0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.club-news-bloc {
    margin-top: 5px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px 10px 5px 30px;
    background-color: #f7f7f7;
}

.club-news-bloc .title {
    font-size: 1.4em;
    color: #000000;
}

#graph ul {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#graph ul li {
    box-shadow: none;
}

#graph ul li a {
    transition: all .2s ease;
}

#graph ul li:hover a {
    box-shadow: inset 0 1px 8px -5px #0008;
}

.tab-pane > img {
    max-width: 100%;
}

.category-item {
  display: inline-block;
  width: 300px;
  padding: 15px 20px;
  box-sizing: content-box;
  background: #f3f3f3;
  border-radius: 10px;
  height: 60px;
  margin: 5px;
  vertical-align: middle;
  color: var(--accent-3);
}
.category-item .glyphicon {
  font-size: 30px;
  vertical-align: middle;
  padding: 15px 20px 15px 5px;
  height: 30px;
  box-sizing: content-box;
  display: table-cell;
}
.category-item > div {
  display: table-cell;
  width: 300px;
  vertical-align: middle;
}
.category-item > span ~ div {
  width: 240px;
}
.item-title {
  display: block;
  color: var(--accent-5);
}

@media (max-width: 599px)  {
  .home-login > * {
    float: none;
    width: 100%;
    margin: -20px 0 0 0;
  }
}

@media (max-width: 479px)  {
  .category-item {
    margin: 5px 0;
  }
  .home-bg-img .row > div > .fa {
    font-size: 60px;
  }
}

@media(max-width:371px) {
  .category-item {
    height: auto;
    width: calc(100% - 50px);
  }
  .home-bg-img .row > div > * {
    font-size: 2.2rem;
  }
}
