/* registration specific style */

fieldset {
    box-shadow: 0 1px 8px -6px #000;
    padding: 10px 15px 0px 15px;
    border-radius: 15px;
    margin-top: 20px;
}

.help-block ul {
    list-style-type: none;
}

.user-summary {
    box-shadow: 0 2px 10px -5px var(--accent-3);
    border-radius: 10px;
    padding: 15px 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 1.2em;
}

.user-summary p {
    font-size: .8em;
}

.checkbox {
    margin: 20px;
    box-shadow: none;
}

.checkbox-label {
    padding-left: 10px;
}

.submit {
    text-align: center;
    margin-bottom: 25px;
}

legend {
  border: none;
  background: #fff;
  width: auto;
  padding: 0 10px;
  margin-bottom: -10px;
}
.required:after {
  content: "*";
  font-family: monospace;
  font-weight: 800;
  color: var(--safe-pair-1);
}
.required.by-law:after {
  color: var(--safe-pair-2);
}
#notice {
  font-style: italic;
  padding: 0 30px;
  display: inline-block;
  text-align: center;
}
.password-strength {
  height: 16px;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 0;
}
.progress-bar {
  line-height: 16px;
  font-size: 11px;
}
