html, body {
    height: 100%;
    margin: 0;
    background-color: #225378;
    color: #ffffff;
    font-family: 'Roboto', 'sans-serif';

}

* {
    font-size: 1.05em;
}
.page-wrapper {
    min-height: 100%;
}

.btn {
    background: none;
    color: #F79420;
    border-color: #F79420;
    margin: 20px;
}

.btn:hover {
    border-color: #b96400;
    color: #b96400;
    margin: 20px;
}

a, a:visited {
    color: #F79420;
}

a:hover, a:active, a:focus{
    color: #b96400;
}

.page-title {
    display: block;
    background-color: #173851;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 20px;

}

.page-content {

}

.col-sm-6 {
    padding: 0;
}

.main-content {
    box-shadow: inset 0 5px 6px 0 #122a3c;
    padding-top: 30px;
}

.contact-zone {
    margin-top: 100px;
}


strong {
    color: #F79420
}

.dropup {
    display: inline;
    text-align: left    ;
}

.dropdown-menu {
    min-width: 0;
}