/*            */
/* Mobile css */
/*            */

.service {
    margin-bottom: 5%;
}

.service-glyphicon {
    color: #F79420;

    transform: scale(1.0);
    transition: all 2s;
}

.service-description-text {
    color: #262626;
    text-align: justify;
    border-bottom: 1px solid #e8e8e8;
}


@media screen and (max-width: 992px) {
    .service-description-text {
        text-align: center;
    }
}

.service-description a:hover{
    text-decoration: none;
}

.service-link{
    margin-bottom: 5%;
}

.service-link:hover{
    text-decoration: none;
}

.service-wrapper-mobile {
    background-color: white !important;
    box-shadow: none !important;
}

/*
This class "hides" the icon when it's not visible and is removed when the
Class is visible
 */

.revealOnScroll {
    transform: scale(0.0);
    transition: all 1s;
}

/*             */
/* Desktop css */
/*             */

.service{
    display: inline-block;
    width: 100%;
    margin-bottom: 10%;
}

.service-right::before{
    content: '';
    color: white;
    right: 100%;
    height: 0;
    width: 0;
    top: 40px;
    border: 7px solid transparent;
    border-right: 7px solid white;
    position: absolute;

}

.service-left::after{
    content: '';
    color: white;
    left: 100%;
    height: 0;
    width: 0;
    top: 40px;
    border: 7px solid transparent;
    border-left: 7px solid white;
    position: absolute;

}

.service-wrapper {
   background-image:linear-gradient(rgb(14, 135, 204), rgb(159, 212, 228));
   width: 100%;
   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3) inset;
}

.service-container {
    background-image: url(../images/service-bg.png);
    background-repeat: repeat-y;
    background-position: center;
    padding-top: 100px;
}

.service-description-left {
    background-color: white;
    border-radius: 3px;
    animation-name: description-animation-left;
    animation-duration: 2s;
    box-shadow: 0px 0px 8px rgb(200, 200, 200);

}

.service-description-right {
    background-color: white;
    border-radius: 3px;
    animation-name: description-animation-right;
    animation-duration: 2s;
    box-shadow: 0px 0px 8px rgb(200, 200, 200);

}

.icon-service{
   text-align: center;
}

.icon-service img{
   border: 5px solid white;
   border-radius: 100%;
   background-color: rgb(37, 183, 211);
   width: 100px;
   height: 100px;
   transition: all 1s;
   transition-timing-function: cubic-bezier(.01,.66,.28,.64);
   animation-name: rotation;
   animation-duration: 2s;
   animation-timing-function: cubic-bezier(.38,.03,.31,.96);
}

.icon-service img:hover {
   transform: scale(1.2);
   transition-timing-function: cubic-bezier(0,.64,.38,.99);
   cursor: pointer;
}

.service-title {
    text-align: center;
    border-bottom: 1px solid #eaeaea;
}

.service-content {
    margin: 20px;
}

.service-content h2 {
    font-size: 1.7em;
}

@media screen and (max-width: 992px)  {
   .service-wrapper {
      display: none;
   }
}

@media screen and (min-width: 992px)  {
   .service-wrapper-mobile {
      display: none;
   }
}

@keyframes description-animation-left {
    from {opacity: 0; right: 100px;}
    to {opacity: 1; right: 0px;}
}

@keyframes description-animation-right {
    from {opacity: 0; left: 100px;}
    to {opacity: 1; left: 0px;}
}

.additional-icon {
   text-align: center;
   padding-top: 3%;
   animation-name: rotation;
   animation-duration: 1s;
   animation-timing-function: cubic-bezier(.38,.03,.31,.96);

}

.additional-icon img {
   height: 100px;
   width: auto;
}

.additional-icon-top {
   border: 5px solid white;
   border-radius: 50%;
}

@keyframes rotation {
   from {transform: rotateY(360deg);}
   to {transform: rotateY(0deg);}
}
