/*            */
/* Mobile css */
/*            */

.service {
    margin-bottom: 5%;
}

.service-glyphicon {
    color: var(--accent-3);
    transform: scale(1);
    transition: all 2s;
}

@media screen and (max-width: 992px) {
    .service-description-text {
        text-align: center;
    }
}

.service-description a:hover{
    text-decoration: none;
}

.service-link{
    margin-bottom: 5%;
}

.service-link:hover{
    text-decoration: none;
}

.service-wrapper-mobile {
    background-color: white !important;
    box-shadow: none !important;
    text-align: center;
}

/*
This class "hides" the icon when it's not visible and is removed when the
Class is visible
 */

.revealOnScroll {
    transform: scale(0.0);
    transition: all 1s;
}

/*             */
/* Desktop css */
/*             */

.service{
    display: inline-block;
    width: 100%;
    margin-bottom: 10%;
}

.service-right::before, .service-left::after {
    content: '';
    right: 100%;
    height: 0;
    width: 0;
    top: 40px;
    border: 7px solid #0000;
    position: absolute;
}

.service-right::before{
    border-right: 7px solid var(--description-color);
    right: 100%;
}

.service-left::after{
    border-left: 7px solid var(--description-color);
    left: 100%;
}

.service-wrapper {
   width: 100%;
   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3) inset;
   --description-color: #fff2;
   --description-text: #fff;
   background: linear-gradient(var(--accent-3), #5a7967);
}

.service-container {
  background: linear-gradient(to right, #0000, #0000 calc(50% - 2.5px), #fff calc(50% - 2.5px), #fff calc(50% + 2.5px), #0000 calc(50% + 2.5px), #0000);
  padding-top: 100px;
}

.service-description-left, .service-description-right {
    border-radius: 10px;
    animation-duration: 2s;
    background: var(--description-color);
    color: var(--description-text);
    box-shadow: 0 2px 10px -8px #000;
}

.service-description-left {
  animation-name: description-animation-left;
}

.service-description-right {
  animation-name: description-animation-right;
}

.icon-service {
   text-align: center;
}

.icon-service a {
  border-radius: 30px;
  background: #fff;
  height: 100px;
  width: 100px;
  display: inline-block;
  box-shadow: 0 2px 7px -3px #000;
  transition: all .1s ease;
}

.icon-service a:hover {
  transform: scale(1.05);
}

.icon-service img {
  margin-top: 18px;
  width: 64px;
  height: 64px;
}

.service-title {
    text-align: center;
    border-bottom: 1px solid var(--description-text);
    padding-bottom: 4px;
    font-size: 1.7em;
}

.service-content {
    margin: 20px 10px;
}

@media (max-width: 539px)  {
  .icon-service a {
    height: 80px;
    width: 80px;
    margin-top: 10px;
  }
  .icon-service img {
    margin-top: 16px;
    width: 48px;
    height: 48px;
  }
  .service-description-right {
    width: calc(33.33333333% + 20px);
    margin-left: -20px;
  }
  .service-description-left {
    width: calc(33.33333333% + 20px);
    margin-right: -20px;
  }
}

@media (max-width: 479px)  {
  .service-title {
    font-size: 1.4em;
  }
  .icon-service a {
    height: 60px;
    width: 60px;
    margin-top: 20px;
    border-radius: 20px;
  }
  .icon-service img {
    margin-top: 12px;
    width: 36px;
    height: 36px;
  }
  .service-description-right {
    width: calc(33.33333333% + 10px);
    margin-left: -10px;
  }
  .service-description-left {
    width: calc(33.33333333% + 10px);
    margin-right: -10px;
  }
  .service {
    margin-bottom: 10%;
    margin-bottom: 5%;
  }
  .service-content {
    margin: 20px 10px;
    margin: 10px 0;
  }
  .service {
    margin-bottom: 5%;
    font-size: .9em;
  }
  .service-content {
    margin: 10px 0;
  }
}

@media (max-width: 371px)  {
   .service-wrapper {
      display: none;
   }
  .service-title {
    border: none;
    padding: 0;
    margin: 5px;
  }
  .service {
    margin-bottom: 5%;
    margin-bottom: 12%;
  }
  p {
    margin-bottom: 2px;
  }
}

@media (min-width: 372px)  {
   .service-wrapper-mobile {
      display: none;
   }
}

@keyframes description-animation-left {
    from {opacity: 0; right: 100px;}
    to {opacity: 1; right: 0px;}
}

@keyframes description-animation-right {
    from {opacity: 0; left: 100px;}
    to {opacity: 1; left: 0px;}
}

.additional-icon {
   text-align: center;
   padding-top: 3%;
}

.additional-icon img {
   height: 120px;
   width: auto;
}

.additional-icon-top {
  margin-bottom: -10px;
}

.service a {
  color: var(--description-text);
  text-decoration: underline;
}
