.global-status {
    padding: 20px 20px 20px 20px;
    margin: 0 20% 0 20%;
    font-weight: bolder;
}

.global-status .fa-circle {
  animation: blinker 5s linear infinite;
}

@keyframes blinker {
  40% { opacity: 1; }
  50% { opacity: 0; }
}

.success {
    /*color: rgb(26, 174, 16);*/
}
body {
    perspective: 800px;
}

.card {
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.39);
    background-color: #ffffff;
}

.details {
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.39);
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
    position: absolute;
    z-index: 2;
    transform-origin: 0 0;
    transition: left .3s, top .3s, width .6s, height .6s;
    width: 400px;
}

.details .details-status {
    font-size: .8em;
    height: 20px;
}

.details .details-title {
    font-size: 1.3em;
}

.details .details-details {
    width: 150px;
}

.details .details-icon {
    text-align: center;
}

.details .grid-wrap {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.fade-enter-active, .fade-leave-active {
    transition: all .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: rotate3d(0,1,0,10deg);
}

#svgContainer {
	position:absolute;
	opacity: 0.5;
    pointer-events: none;
}

.el {
    width: 4px;
    height: 4px;
    left: -2px;
    top: -2px;
    background-color: #f9f9f9;
    position: absolute;
}

path {
    stroke: #1b6d85;
    stroke-width: 3px;
    fill: none;
}

#page-wrapper {
    background-color: #f9f9f9;
}


.network {
}

.network-description {
    position: absolute;
    font-size: 4em;
    color: rgba(255, 255, 255, 0.68);
    font-weight: bold;
    margin-left: -30%;
}

#internet-access {
    padding: 70px 35% 100px  35%;
    /*background-color: #cde3ff;*/
    /*background: #e4f0ff linear-gradient(to bottom, #f9f9f9 0%, #cde3ff 45%);*/
     background: linear-gradient(to bottom, #cde3ff 40%,#f2f2f2 100%);
}

#internet-access .network-description {
}

#internet-access .card {
    padding: 20px 20px 20px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    height: 110px;
    align-items: start;
}

#internet-access .card div {
    width: 100%;
}

.fa-cloud, .fa-server, .fa-circle-o {
    font-size: 75px;
    height: 70px;
    width: 70px;
    padding-top: -20px;
    margin-bottom: -20px;
}

#adista {
}

#renater {
    /*margin-left: 50%;*/
}

#network-edge {
    padding: 70px 35% 100px  35%;
    background-color: #f2f2f2;
}

#network-edge .network-description {
    color: rgba(180, 180, 180, 0.67);
}

#network-edge .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

#matahari {
    width: 100%;
}

#zahia {
    width: 100%;
}

#network-core {
    padding: 50px 25% 50px  25%;
    background-color: #3f3f3f;
}

#network-core .network-description {
    font-size: 3.5em;
    color: rgba(180, 180, 180, 0.38);
    margin-left: -20%;
}

#network-core .content {
    display: grid;
    grid-template-columns: 40% auto 40%;
    grid-gap: 15px;
    align-items: center;
}

#kuma {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#rescure-stack {
    border-radius: 2px;
    box-shadow: 0px 0px 4px #8d8d8d;
    background-color: #ffffff;
    padding: 0 5% 0 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

#main-stack {
    border-radius: 2px;
    box-shadow: 0px 0px 4px #8d8d8d;
    background-color: #ffffff;
    padding: 0 5% 0 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.service {
    color: rgb(26, 174, 16);
    font-size: 40px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#network-access {
    padding: 20px 5% 20px 5%;
    margin: 100px auto 70px auto;
    max-width: 420px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    grid-gap: 15px;
}

#network-access .network-description {
    color: rgba(180, 180, 180, 0.67);
}

.building {
    font-size: 40px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
}

.sep {
    height: 70px;
    background-color: #f9f9f9;
}
