.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.who-fragment {
    padding-top: 50px;
    padding-bottom: 50px;
}

.who-presentation {
    background: #225378;
    color: #F3FFE2;
    box-shadow: inset 0 5px 6px 0 #122a3c;
}

.who-presentation h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
  font-weight: bold;
  color: #EB7F00;
}


.who-details {
    box-shadow: inset 0 5px 6px 0 #80817b;
    background: #ffffff;
    color: #000000;
    min-height: 450px;
}

.who-details h2{
    text-align: center;
}

.who-elements {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.ui-autocomplete-input {
  border: 1px solid #DDD !important;
  padding-top: 0px !important;
}

.ui-autocomplete {
  z-index: 1510 !important;
}