[Unit]
Description=rq-worker of resel.fr
After=syslog.target

[Service]
ExecStart=/srv/www/resel.fr/env/bin/python3 manage.py rqworker -v3
WorkingDirectory=/srv/www/resel.fr
User=www-data
Restart=always

[Install]
WantedBy=multi-user.target
