{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block titre %}{%  trans "Inscription - CGU" %}{% endblock %}

{% block css %}
    <link href="{% static 'css/inscription.css' %}" rel="stylesheet">
    <link href="{% static 'css/reglement-interieur.css' %}" rel="stylesheet">
    <link href="{% static 'css/htlatex.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="container">

        <h1>{% trans "Règlement intérieur du ResEl" %}</h1>

        <hr />
    <p>{%  trans "Afin de faire partie de l'association du ResEl vous devez lire attentivement son règlement intérieur et l'accepter." %}</p>
        <hr />
{% include 'ri.html' %}
        <hr />
        <h4>{% trans "Veuillez également lire attentivement"%} <a href="{% static "files/statuts.pdf" %}" target="_blank">{%  trans "les statuts" %}</a> {% trans "de l'association avant de continuer" %}</h4>
        <form action="" method="POST" class="form">
            {% csrf_token %}
            <div class="form-category">
                <div class="row">
                    <fieldset class="checkbox form-group col-sm-10 col-sm-offset-2 {% if form.have_read.errors %}has-error{% endif %}">
                        {{ form.have_read }}{{ form.have_read.label_tag }}
                    </fieldset>
                </div>
            </div>

            <div class="form-category">
            {% csrf_token %}
                <div class="row checkbox">
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-lg">{% trans "Créer un compte" %}</button>
                    </div>
                </div> <!-- /.row -->
            </div>
        </form>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}
