{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block titre %}{%  trans "Inscription - Finalisation" %}{% endblock %}

{% block css %}
    <link href="{% static 'css/inscription.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{% trans "Inscription terminée" %}</h1>

        <hr />

        <h3>{% trans "Vous êtes désormais membre de l'association ResEl" %}</h3>
        <div class="row">
            <div class="user-summary col-sm-6 col-sm-offset-3">
                <h3>{% trans "Vos identifiants"%}</h3>
                <hr />
                <div>{% trans "Utilisateur :"%} <strong>{{ username }}</strong></div>
                <hr />
                <div>{% trans "Mot de passe :" %} <strong>******</strong> <small>{% trans "(précédemment choisi)" %}</small></div>
                <hr />
                <p><strong>{% trans "Conservez très précieusement ces informations" %}</strong>, {%  trans "elles vous seront nécessaires afin de vous connecter à tous les services du ResEl." %}</p>
            </div>
        </div>

        <div class="row text-center">
            <p>{% trans "Afin de pouvoir accéder à internet vous devez enregistrer votre ordinateur" %}</p>
            <a href="{% url 'gestion-machines:ajout' %}" class="btn btn-info btn-lg"><span class="fa fa-arrow-right"> </span> {% trans "Inscrire ma machine" %}</a>
        </div>
        <div class="row text-right">
            <a href="{% url 'home' %}" class="btn btn-lg btn-link">{% trans "Revenir à l'accueil" %}</a>
        </div>
    </div>

{% endblock %}

{% block javascript %}
{% endblock %}