{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block titre %}{%  trans "Inscription - Finalisation" %}{% endblock %}

{% block css %}
    <link href="{% static 'css/inscription.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <p>Vous êtes désormais inscrit au ResEl.</p>
        <p>Voici vos identifiants : </p>
        <p>Nom d'utilisateur : {{ username }}</p>
        <p>Mot de passe : ****** (mot de passe que vous avez choisi)</p>
        <p>Conservez ces informations très précieusement, elles vous seront nécéssaire afin de vous connecter à tous les services du ResEl.</p>
        <a href="{% url 'home' %}">Revenir à l'acceuil</a>
    </div>

{% endblock %}

{% block javascript %}
{% endblock %}