{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block titre %}{%  trans "Inscription" %}{% endblock %}

{% block css %}
    <link href="{% static 'css/inscription.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="page-header">{% trans "Inscription au ResEl" %}</h1>
        <div class="alert alert-warning">{% trans "Vous êtes sur le point de créer un compte ResEl, si vous en possédez déjà un veuillez vous" %} <a href="{% url "login" %}">{% trans "connecter" %}</a>.</div>

        <div class="col-md-7 signup-form">
            <form action="{% url 'gestion-personnes:inscription' %}" method="post" class="form" id="form">
                {% csrf_token %}
                <span id="notice">{% blocktrans %}Les informations marquées d’un astérisque bleu <span class="required by-law"></span> sont requises par l’<a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000025622766/" target="_blank">article R10-13 du code des postes et des communications électroniques</a>. Les autres informations requises par le ResEl sont marquées d’un astérisque rouge <span class="required"></span>. Toute fausse déclaration peut être punie par la loi.{% endblocktrans %}</span>
                <fieldset class="row">
                    <legend data-toggle="tooltip" title="{% trans "Quelques informations requises sur vous" %}">{% trans "Informations courantes" %}</legend>
                    <div class="form-group{% if form.first_name.errors %} has-error{% endif %}">
                        <label for="id_first_name" data-toggle="tooltip" title="{% trans "Nous avons légalement besoin de votre prénom pour vous identifier. Si vous avez plusieurs prénoms, merci de n’indiquer que le prénom d’usage." %}">{% trans "Prénom (n’entrer que le prénom d’usage)" %} <span class="required by-law"></span></label>
                        {{ form.first_name }}
                        {% if form.first_name.errors %}<span class="help-block">{{ form.first_name.errors }}</span>{% endif %}
                    </div>
                    <div class="form-group{% if form.last_name.errors %} has-error{% endif %}">
                        <label for="id_last_name" data-toggle="tooltip" title="{% trans "Nous avons légalement besoin de votre nom de famille pour vous identifier" %}">{% trans "Nom de famille" %} <span class="required by-law"></span></label>
                        {{ form.last_name }}
                        {% if form.last_name.errors %}<span class="help-block">{{ form.last_name.errors }}</span>{% endif %}
                    </div>
                    <div class="form-group{% if form.category.errors %} has-error{% endif %}">
                        <label data-toggle="tooltip" title="{% trans "De votre situation dépendent les paramètres de votre compte" %}">{% trans "Vous êtes…" %} <span class="required by-resel"></span></label>
                        {{ form.category }}
                        {% if form.category.errors %}<span class="help-block">{{ form.category.errors }}</span>{% endif %}
                    </div>
                    <div class="form-group hidden{% if form.formation.errors %} has-error{% endif %}" id="formation">
                        <label for="id_formation" data-toggle="tooltip" title="{% trans "Certains éléments du ResEl sont personnalisés selon votre formation" %}">{% trans "Formation" %} <span class="required"></span></label>
                        {{ form.formation }}
                        {% if form.formation.errors %}<span class="help-block">{{ form.formation.errors }}</span>{% endif %}
                    </div>
                    <div class="form-group center italic hidden" id="manual-verification">Un accès à Internet à titre gracieux vous sera fourni après vérification.</div>
                    <div class="form-group center italic hidden" id="no-internet">Vous n’êtes pas éligible à un compte ResEl.</div>
                </fieldset>
                <fieldset class="row not-other">
                    <legend data-toggle="tooltip" title="{% trans "Les éléments principaux de votre compte" %}">{% trans "Informations du compte" %}</legend>
                    <div class="row form-group">
                        <div class="col-sm-6{% if form.email.errors %} has-error{% endif %}">
                            <label for="id_email" data-toggle="tooltip" title="{% trans "Votre adresse mail nous permettra de vous contacter" %}">{% trans "Adresse e-mail" %} <span class="required by-law"></span></label>
                            {{ form.email }}
                            {% if form.email.errors %}<span class="help-block">{{ form.email.errors }}</span>{% endif %}
                        </div>
                        <div class="col-sm-6{% if form.email_verification.errors %} has-error{% endif %}">
                            <label for="id_email_verification">{% trans "Vérification de l’adresse e-mail" %} <span class="required by-law"></span></label>
                            {{ form.email_verification }}
                            {% if form.email_verification.errors %}<span class="help-block">{{ form.email_verification.errors }}</span>{% endif %}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6{% if form.password.errors %} has-error{% endif %}">
                            <label for="id_password">{% trans "Mot de passe" %} <span class="required"></span></label>
                            {{ form.password }}
                            {% if form.password.errors %}<span class="help-block">{{ form.password.errors }}</span>{% endif %}
                        </div>
                        <div class="col-sm-6 {% if form.password_verification.errors %}has-error{% endif %}">
                            <label for="id_password_verification">{% trans "Vérification du mot de passe" %} <span class="required"></span></label>
                            {{ form.password_verification }}
                            {% if form.password_verification.errors %}<span class="help-block">{{ form.password_verification.errors }}</span>{% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="progress password-strength">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0;">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="row not-other">
                    <legend data-toggle="tooltip" title="{% trans "Les derniers éléments réglementaires sur vous" %}">{% trans "Informations de contact" %} <span class="required by-law"></span></legend>
                    <div class="row form-group">
                        <div class="col-sm-6{% if form.birth_place.errors %} has-error{% endif %}">
                            <label for="id_birth_place" data-toggle="tooltip" title="{% trans "La loi exige cette information. Si celle-ci n’est pas connue, indiquer « XXX »." %}">{% trans "Ville de naissance" %} <span class="required by-law"></span></label>
                            {{ form.birth_place }}
                            {% if form.birth_place.errors %}<span class="help-block">{{ form.birth_place.errors }}</span>{% endif %}
                        </div>
                        <div class="col-sm-6{% if form.birth_country.errors %} has-error{% endif %}">
                            <label for="id_birth_country" data-toggle="tooltip" title="{% trans "La loi exige cette information. Si celle-ci n’est pas connue, indiquer « XXX »." %}">{% trans "Pays de naissance" %} <span class="required by-law"></span></label>
                            {{ form.birth_country }}
                            {% if form.birth_country.errors %}<span class="help-block">{{ form.birth_country.errors }}</span>{% endif %}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12{% if form.birth_date.errors %} has-error{% endif %}">
                            <label for="id_birth_date" data-toggle="tooltip" title="{% trans "La loi exige cette information. En cas d’absence d’information, l’indiquer avec des « X » (par exemple, XX/XX/2001)." %}">{% trans "Date de naissance (JJ/MM/AAAA)" %} <span class="required by-law"></span></label>
                            {{ form.birth_date }}
                            {% if form.birth_date.errors %}<span class="help-block">{{ form.birth_date.errors }}</span>{% endif %}
                        </div>
                    </div>
                    <div class="form-group{% if form.campus.errors %} has-error{% endif %}">
                        <label for="id_campus" data-toggle="tooltip" title="{% trans "Votre adresse de résidence est requise" %}">{% trans "Campus de résidence" %} <span class="required by-law"></span></label>
                        {{ form.campus }}
                        {% if form.campus.errors %}<span class="help-block">{{ form.campus.errors }}</span>{% endif %}
                    </div>
                    <div class="row form-group hidden" id="maisel-information">
                        <div class="col-sm-6{% if form.building.errors %} has-error{% endif %}">
                            <label for="id_building" data-toggle="tooltip" title="{% trans "Votre adresse de résidence est requise" %}">{% trans "Bâtiment" %} <span class="required by-law"></span></label>
                            {{ form.building }}
                            {% if form.building.errors %}<span class="help-block">{{ form.building.errors }}</span>{% endif %}
                        </div>
                        <div class="col-sm-6{% if form.room.errors %} has-error{% endif %}">
                            <label for="id_room" data-toggle="tooltip" title="{% trans "Votre adresse de résidence est requise" %}">{% trans "Chambre" %} <span class="required by-law"></span></label>
                            {{ form.room }}
                            {% if form.room.errors %}<span class="help-block">{{ form.room.errors }}</span>{% endif %}
                        </div>
                    </div>
                    <div class="form-group hidden{% if form.address.errors %} has-error{% endif %}" id="home-address">
                        <label for="id_address" data-toggle="tooltip" title="{% trans "Votre adresse de résidence est requise" %}">{% trans "Adresse postale" %} <span class="required by-law"></span></label>
                        {{ form.address }}
                        {% if form.address.errors %}<span class="help-block">{{ form.address.errors }}</span>{% endif %}
                    </div>
                    <div class="form-group{% if form.phone.errors %} has-error{% endif %}">
                        <label for="id_phone" data-toggle="tooltip" title="{% trans "Ce numéro permettra de vous contacter en cas d’urgence" %}">{% trans "Numéro de téléphone" %}</label>
                        {{ form.phone }}
                        {% if form.phone.errors %}<span class="help-block">{{ form.phone.errors }}</span>{% endif %}
                    </div>
                </fieldset>

                <div class="checkbox form-group not-other{% if form.certify_truth.errors %} has-error{% endif %}">
                    {{ form.certify_truth }}{{ form.certify_truth.label_tag }}
                </div>

                <div class="submit not-other">
                    <button type="submit" class="btn btn-lg btn-info">{% trans "Continuer l'inscription" %}</button>
                </div>
            </form>
        </div>
        <div class="col-md-5 side-column">
            <h2>{% trans "En devenant membre de l’association…" %}</h2>
            <ul>
                <li>{% trans "Vous profiterez des nombreux services du ResEl" %} </li>
                <li>{% trans "Vous pourrez participer aux événements et aux activités du ResEl" %} </li>
            </ul>
                <h3>{% trans "Téléchargez :" %}</h3>
                <ul>
                    <li><a href="{% static "files/"|add:request.LANGUAGE_CODE|add:"/Flyer_ResEl_2024.pdf" %}">{% trans "Flyer de connexion" %}</a></li>
                </ul>
            <hr />
            <h3>{% trans "Un problème pour vous inscrire ?" %}</h3>
            <div><a href="{% url "contact" %}">{% trans "Contactez nous !" %}</a></div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/zxcvbn.js' %}"></script>
    <script>
        const buildings = {'Brest': ['I1', 'I2', 'I3', 'I4', 'I5', 'I6', 'I7', 'I8', 'I9', 'I10', 'I11', 'I12', 'I14', 'I15'],
                           'Rennes': ['C1', 'S1'],
                           'Nantes': ['N', 'P', 'Q', 'R', 'S', 'T', 'PC']};

        function update_buildings() {
            const form = document.getElementById('form');
            const campus = form.campus.value;
            const maisel_information = document.getElementById('maisel-information');
            const home_address = document.getElementById('home-address');
            const enabled_buildings = [...form.building.options];

            if (campus == "None") {
                maisel_information.classList.add('hidden');
                home_address.classList.remove('hidden');
            }
            else if (campus) {

                maisel_information.classList.remove('hidden');
                home_address.classList.add('hidden');
                enabled_buildings.forEach(e => {
                    if (buildings[campus].indexOf(e.value) >= 0) {
                        e.classList.remove('hidden');
                        e.disabled = false;
                    }
                    else {
                        e.classList.add('hidden');
                        e.disabled = true;
                    }
                });
            }
        }

        function reset_building_and_room() {
            form.building.value = '';
            form.room.value = '';
        }

        function update_category() {
            const category = document.getElementById('form').category.value;
            const formation = document.getElementById('formation');
            const no_internet = document.getElementById('no-internet');
            const not_other = [...document.getElementsByClassName('not-other')];
            const manual_verification = document.getElementById('manual-verification');
            if (category == 'student')
                formation.classList.remove('hidden');
            else
                formation.classList.add('hidden');
            if (category == 'maisel')
                manual_verification.classList.remove('hidden');
            else
                manual_verification.classList.add('hidden');
            if (category == 'other') {
                not_other.forEach(e => e.classList.add('hidden'));
                no_internet.classList.remove('hidden');
            }
            else {
                not_other.forEach(e => e.classList.remove('hidden'));
                no_internet.classList.add('hidden');
            }
        }

        document.getElementById('id_campus').addEventListener('change', update_buildings);
        document.getElementById('id_campus').addEventListener('change', reset_building_and_room);

        document.addEventListener('DOMContentLoaded', () => {
            update_category();
            update_buildings();
            document.getElementById('form').category.forEach(e => e.addEventListener('change', update_category));
            $('[data-toggle="tooltip"]').tooltip();
        });

        $("#id_password").on("keyup", function( event ) {
            var customs = ['resel', 'tb', 'telecom', 'bretagne', 'maisel',
            $("#id_email").val(),
            $("#id_first_name").val(),
            $("#id_last_name").val(),
            ];

            var result = zxcvbn($(this).val(), customs);
            if( result.score == 0 ) {
                $(".password-strength .progress-bar")
                        .removeClass("progress-bar-success")
                        .removeClass("progress-bar-info")
                        .removeClass("progress-bar-warning")
                        .addClass("progress-bar-danger")
                        .attr("aria-valuenow", "1")
                        .css("width", "20%");
                $(".password-strength .progress-bar span").text("{% trans "très faible" %}");

            } else if ( result.score == 1 ) {
                $(".password-strength .progress-bar")
                        .removeClass("progress-bar-success")
                        .removeClass("progress-bar-info")
                        .addClass("progress-bar-warning")
                        .removeClass("progress-bar-danger")
                        .attr("aria-valuenow", "2")
                        .css("width", "40%");
                $(".password-strength .progress-bar span").text("{% trans "faible" %}");

            } else if ( result.score == 2 ) {
                $(".password-strength .progress-bar")
                        .removeClass("progress-bar-success")
                        .addClass("progress-bar-info")
                        .removeClass("progress-bar-warning")
                        .removeClass("progress-bar-danger")
                        .attr("aria-valuenow", "3")
                        .css("width", "60%");
                $(".password-strength .progress-bar span").text("{% trans "Moyen" %}");

            } else if ( result.score == 3 ) {
                $(".password-strength .progress-bar")
                        .addClass("progress-bar-success")
                        .removeClass("progress-bar-info")
                        .removeClass("progress-bar-warning")
                        .removeClass("progress-bar-danger")
                        .attr("aria-valuenow", "4")
                        .css("width", "80%");
                $(".password-strength .progress-bar span").text("{% trans "Correct" %}");

            } else if ( result.score == 4 ) {
                $(".password-strength .progress-bar")
                        .addClass("progress-bar-success")
                        .removeClass("progress-bar-info")
                        .removeClass("progress-bar-warning")
                        .removeClass("progress-bar-danger")
                        .attr("aria-valuenow", "5")
                        .css("width", "100%");
                    $(".password-strength .progress-bar span").text("{% trans "Bon" %}");

            }
        })

    </script>
{% endblock %}
