{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block titre %}{%  trans "Inscription" %}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="page-header">{% trans "Inscription au ResEl" %}</h1>
        <div class="alert alert-warning">{% trans "Vous êtes sur le point de créer un compte ResEl, si vous en possédez déjà un veuillez vous" %} <a href="{% url "login" %}">{% trans "connecter" %}</a>.</div>
        <div class="col-md-8">
            <form action="" method="POST" class="form">
                {% csrf_token %}
                <div class="form-category">
                    <p>{% trans "Veuillez renseigner vos informations personnelles" %}</p>
                    <div class="row">
                        <fieldset class="form-group col-sm-6 {% if form.last_name.errors %}has-error{% endif %}" >
                            {{ form.last_name }}
                            {% if form.last_name.errors %}<span class="help-block">{{ form.last_name.errors }}</span>{% endif %}
                        </fieldset>

                        <fieldset class="form-group col-sm-6 {% if form.first_name.errors %}has-error{% endif %}">
                            {{ form.first_name }}
                            {% if form.first_name.errors %}<span class="help-block">{{ form.first_name.errors }}</span>{% endif %}
                        </fieldset>

                        <fieldset class="form-group col-sm-6 {% if form.formation.errors %}has-error{% endif %}">
                            {{ form.formation }}
                            {% if form.formation.errors %}<span class="help-block">{{ form.formation.errors }}</span>{% endif %}
                        </fieldset>
                    </div>
                </div>

                <div class="form-category">
                    <p>{% trans "Veuillez renseigner vos informations de compte" %}</p>

                    <div class="row">
                        <fieldset class="form-group col-sm-6 {% if form.email.errors %}has-error{% endif %}">
                            {{ form.email }}
                            {% if form.email.errors %}<span class="help-block">{{ form.email.errors }}</span>{% endif %}
                        </fieldset>
                    </div>

                    <div class="row">
                        <fieldset class="form-group col-sm-6 {% if form.password.errors %}has-error{% endif %}">
                            {{ form.password }}
                            <div class="progress password-strength">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0;">
                                    <span>{% trans "Password strength" %}</span>
                                </div>
                            </div>
                            {% if form.password.errors %}<span class="help-block">{{ form.password.errors }}</span>{% endif %}
                        </fieldset>
                        <fieldset class="form-group col-sm-6 {% if form.password_verification.errors %}has-error{% endif %}">
                            {{ form.password_verification }}
                            {% if form.password_verification.errors %}<span class="help-block">{{ form.password_verification.errors }}</span>{% endif %}
                        </fieldset>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">

                        </div>
                    </div>
                </div>
                <div class="form-category">
                    <p>{% trans "Nous avons de besoin de votre numéro de bâtiment, votre numéro de chambre et votre numéro de téléphone afin de vous contacter" %}</p>
                    <div class="row">
                    <fieldset class="form-group col-sm-6 {% if form.campus.errors %}has-error{% endif %}">
                            {{ form.campus }}
                            {% if form.campus.errors %}<span class="help-block">{{ form.campus.errors }}</span>{% endif %}
                    </fieldset>
                    </div>
                    <div class="row" id="maisel-information">
                        <fieldset class="form-group col-sm-6 {% if form.building.errors %}has-error{% endif %}">
                            {{ form.building }}
                            {% if form.building.errors %}<span class="help-block">{{ form.building.errors }}</span>{% endif %}
                        </fieldset>
                        <fieldset class="form-group col-sm-6 {% if form.room.errors %}has-error{% endif %}">
                            {{ form.room }}
                            {% if form.room.errors %}<span class="help-block">{{ form.room.errors }}</span>{% endif %}
                        </fieldset>
                    </div>
                    <div class="row" id="home-address">
                        <fieldset class="form-group col-sm-6 {% if form.address.errors %}has-error{% endif %}">
                            {{ form.address }}
                            {% if form.address.errors %}<span class="help-block">{{ form.address.errors }}</span>{% endif %}
                        </fieldset>
                    </div>

                    <div class="row">
                        <fieldset class="form-group col-sm-6 {% if form.phone.errors %}has-error{% endif %}">
                            {{ form.phone }}
                            {% if form.phone.errors %}<span class="help-block">{{ form.phone.errors }}</span>{% endif %}
                        </fieldset>
                    </div>
                </div>

                <div class="form-category">
                    <div class="row">
                        <fieldset class="checkbox form-group col-sm-10 col-sm-offset-2 {% if form.certify_truth.errors %}has-error{% endif %}">
                            {{ form.certify_truth }}{{ form.certify_truth.label_tag }}
                        </fieldset>
                    </div>
                </div>

                <div class="form-category">
                    <div class="row">
                        <div class="text-center">
                            <button type="submit" class="btn btn-info">{% trans "Continuer" %}</button>
                        </div>
                    </div> <!-- /.row -->
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/zxcvbn.js' %}"></script>
    <script>
        var brest_buildings = ['I1', 'I2', 'I3', 'I4', 'I5', 'I6', 'I7', 'I8', 'I9', 'I10', 'I11', 'I12'];
        var rennes_buildings = ['Studios', 'Chambres'];

        function update_buildings() {
            var selected_campus = $("#id_campus").find("option:selected").text();
            if (selected_campus === "Brest") {
                $("#maisel-information").show();
                $("#home-address").hide();
                $("#id_building").find("option").each(function () {
                    if(brest_buildings.indexOf($(this).text()) >= 0){
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                })
            } else if (selected_campus === "Rennes") {
                $("#maisel-information").show();
                $("#home-address").hide();
                $("#id_building").find("option").each(function () {
                    if(rennes_buildings.indexOf($(this).text()) >= 0){
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                })
            } else {
                $("#maisel-information").hide();
                $("#home-address").show();
            }
        }

        $("#id_campus").on("change", function (event) {
            update_buildings();
        });

        $( document ).on("ready", function( event ){
            update_buildings();
        });

        $("#id_password").on("keyup", function( event ) {
            var customs = ['resel', 'tb', 'telecom', 'bretagne', 'maisel',
            $("#id_email").val(),
            $("#id_first_name").val(),
            $("#id_last_name").val(),
            ];

            var result = zxcvbn($(this).val(), customs);
            if( result.score == 0 ) {
                $(".password-strength .progress-bar")
                        .removeClass("progress-bar-success")
                        .removeClass("progress-bar-info")
                        .removeClass("progress-bar-warning")
                        .addClass("progress-bar-danger")
                        .attr("aria-valuenow", "1")
                        .css("width", Math.ceil(1 / 5 * 100) + "%");
                $(".password-strength .progress-bar span").text("{% trans "très faible" %}");

            } else if ( result.score == 1 ) {
                $(".password-strength .progress-bar")
                        .removeClass("progress-bar-success")
                        .removeClass("progress-bar-info")
                        .addClass("progress-bar-warning")
                        .removeClass("progress-bar-danger")
                        .attr("aria-valuenow", "2")
                        .css("width", Math.ceil(2 / 5 * 100) + "%");
                $(".password-strength .progress-bar span").text("{% trans "faible" %}");

            } else if ( result.score == 2 ) {
                $(".password-strength .progress-bar")
                        .removeClass("progress-bar-success")
                        .addClass("progress-bar-info")
                        .removeClass("progress-bar-warning")
                        .removeClass("progress-bar-danger")
                        .attr("aria-valuenow", "3")
                        .css("width", Math.ceil(3 / 5 * 100) + "%");
                $(".password-strength .progress-bar span").text("{% trans "Moyen" %}");

            } else if ( result.score == 3 ) {
                $(".password-strength .progress-bar")
                        .addClass("progress-bar-success")
                        .removeClass("progress-bar-info")
                        .removeClass("progress-bar-warning")
                        .removeClass("progress-bar-danger")
                        .attr("aria-valuenow", "4")
                        .css("width", Math.ceil(4 / 5 * 100) + "%");
                $(".password-strength .progress-bar span").text("{% trans "Correct" %}");

            } else if ( result.score == 4 ) {
                $(".password-strength .progress-bar")
                        .addClass("progress-bar-success")
                        .removeClass("progress-bar-info")
                        .removeClass("progress-bar-warning")
                        .removeClass("progress-bar-danger")
                        .attr("aria-valuenow", "5")
                        .css("width", Math.ceil(5 / 5 * 100) + "%");
                    $(".password-strength .progress-bar span").text("{% trans "Bon" %}");

            }
{#            $("#hack-time").text(result.crack_times_display.offline_slow_hashing_1e4_per_second);#}
        })

    </script>
{% endblock %}