{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block titre %}{%  trans "Informations personnelles" %}{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="page-header">{% trans "Informations de compte" %}</h1>
        <div class="row">
            <div class="col-md-8">
                <form action="" method="post" class="form form-horizontal" id="form">
                    {% csrf_token %}
                    <h2>{% trans "Informations personnelles" %}</h2>
                    <div class="form-group">
                        <label for="uid" class="col-sm-4 control-label">{% trans "Identifiant" %}</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="uid" placeholder="{% trans "Identifiant" %}" value="{{ ldapuser.uid }}" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-4 control-label">{% trans "Nom" %}</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="lastname" placeholder="{% trans "Nom" %}" value="{{ ldapuser.last_name }}" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-sm-4 control-label">{% trans "Prénom" %}</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="firstname" placeholder="{% trans "Prénom" %}" value="{{ ldapuser.first_name }}" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formation" class="col-sm-4 control-label">{% trans "Formation" %}</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="formation" placeholder="{% trans "Formation" %}" value="{{ ldapuser.formation }}" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formation" class="col-sm-4 control-label">{% trans "Ville de naissance" %}</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="formation" placeholder="{% trans "Ville de naissance" %}" value="{{ ldapuser.birth_place }}" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formation" class="col-sm-4 control-label">{% trans "Pays de naissance" %}</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="formation" placeholder="{% trans "Pays de naissance" %}" value="{{ ldapuser.birth_country }}" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formation" class="col-sm-4 control-label">{% trans "Date de naissance" %}</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="formation" placeholder="{% trans "Date de naissance" %}" value="{{ ldapuser.freeform_birth_date }}" disabled="disabled">
                        </div>
                    </div>
                    <h3>{% trans "Informations de contact" %}</h3>
                    <p>{% trans "Nous avons de besoin de votre numéro de bâtiment, votre numéro de chambre et votre numéro de téléphone afin de vous contacter" %}</p>
                    <div class="form-group">
                        <label for="email" class="col-sm-4 control-label">{% trans "E-mail" %}</label>
                        <div class="col-sm-7">
                            {{ form.email }}
                            <fieldset class="form-group col-sm-6 {% if form.email.errors %}has-error{% endif %}">
                                {% if form.email.errors %}<span class="help-block">{{ form.email.errors }}</span>{% endif %}
                            </fieldset>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-4 control-label">{% trans "Téléphone" %}</label>
                        <div class="col-sm-7">
                            {{ form.phone }}
                            <fieldset class="form-group col-sm-6 {% if form.phone.errors %}has-error{% endif %}">
                                {% if form.phone.errors %}<span class="help-block">{{ form.phone.errors }}</span>{% endif %}
                            </fieldset>
                        </div>
                    </div>
                    <div class="form-category">
                        <div class="form-group">
                            <label for="campus" class="col-sm-4 control-label">{% trans "Campus" %}</label>
                            <div class="col-sm-7">
                                {{ form.campus }}
                                <fieldset class="form-group col-sm-6 {% if form.campus.errors %}has-error{% endif %}">
                                    {% if form.campus.errors %}<span class="help-block">{{ form.campus.errors }}</span>{% endif %}
                                </fieldset>
                            </div>
                        </div>
                        <div id="maisel-information" >
                            <div class="form-group">
                                <label for="building" class="col-sm-4 control-label">{% trans "Bâtiment" %}</label>
                                <div class="col-sm-7">
                                    {{ form.building }}
                                    <fieldset class="form-group col-sm-6 {% if form.building.errors %}has-error{% endif %}">
                                        {% if form.building.errors %}<span class="help-block">{{ form.building.errors }}</span>{% endif %}
                                    </fieldset>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="room" class="col-sm-4 control-label">{% trans "Chambre" %}</label>
                                <div class="col-sm-7">
                                    {{ form.room }}
                                    <fieldset class="form-group col-sm-6 {% if form.room.errors %}has-error{% endif %}">
                                        {% if form.room.errors %}<span class="help-block">{{ form.room.errors }}</span>{% endif %}
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="home-address">
                            <label for="address" class="col-sm-4 control-label">{% trans "Chambre" %}</label>
                            <div class="col-sm-7">
                                {{ form.address }}
                                <fieldset class="form-group col-sm-6 {% if form.address.errors %}has-error{% endif %}">
                                    {% if form.address.errors %}<span class="help-block">{{ form.address.errors }}</span>{% endif %}
                                </fieldset>
                            </div>
                        </div>
                    </div>

                    <div class="form-category">
                        <div class="row checkbox">
                            <div class="col-xs-9 col-xs-offset-2 col-sm-offset-3">
                                <fieldset class="checkbox form-group  {% if form.certify_truth.errors %}has-error{% endif %}">
                                    {{ form.certify_truth }}{{ form.certify_truth.label_tag }}
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="form-category">
                        <div class="row">
                            <div class="text-center">
                                <button type="submit" class="btn btn-lg btn-info">{% trans "Valider ces informations" %}</button>
                            </div>
                        </div>
                    </div>
                    <br />
                </form>
            </div>
            <div class="col-md-4 side-column">
                <a href="{% url 'tresorerie:home' %}"><span class="fa fa-fw fa-long-arrow-left"></span> {% trans "Retour" %}</a>
                <h3>{% trans "Gardez vos informations à jour !" %}</h3>
                <p>{% blocktrans %}
                    Il est important de conserver vos informations personnelles à jour, nous en avons besoin pour vous contacter en cas de problème.
                {% endblocktrans %}</p>
                <p class="alert alert-info">{% blocktrans %}
                    Vous ne pouvez pas modifier votre nom, votre prénom et votre formation. Si vous pensez que les données fournies sont fausses n'hésitez pas à {% endblocktrans %}
                    <a href="{% url "contact" %}">{% trans "nous contacter" %}</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        const buildings = {'Brest': ['I1', 'I2', 'I3', 'I4', 'I5', 'I6', 'I7', 'I8', 'I9', 'I10', 'I11', 'I12'],
                           'Rennes': ['C1', 'S1'],
                           'Nantes': ['N', 'P', 'Q', 'R', 'S', 'T', 'PC']};

        function update_buildings() {
            const form = document.getElementById('form');
            const campus = form.campus.value;
            const maisel_information = document.getElementById('maisel-information');
            const home_address = document.getElementById('home-address');
            const enabled_buildings = [...form.building.options];

            if (campus == "None") {
                maisel_information.classList.add('hidden');
                home_address.classList.remove('hidden');
            }
            else if (campus) {
                maisel_information.classList.remove('hidden');
                home_address.classList.add('hidden');
                enabled_buildings.forEach(e => {
                    if (buildings[campus].indexOf(e.value) >= 0) {
                        e.classList.remove('hidden');
                        e.disabled = false;
                    }
                    else {
                        e.classList.add('hidden');
                        e.disabled = true;
                    }
                });
            }
        }

        document.getElementById('id_campus').addEventListener('change', update_buildings);
        document.addEventListener('DOMContentLoaded', update_buildings);
    </script>
{% endblock %}
