{% extends "base_campus.html" %}
{% load staticfiles %}
{% load i18n %}
{% load clubs_extras %}

{% block title %}Associations et clubs{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/campus/clubs.css' %}">
    <link href="{% static 'jquery/jquery-ui.min.css' %}" rel="Stylesheet"></link>
{% endblock %}
{% block content %}

<div class="container">
    <div class="btn-home btn-home-campus">
      <a href="{% url 'campus:home' %}" class="noncolored-a"><span class="fa fa-home"></span>   </a>
    </div>
    <div class="row">
        <div class="col-md-12 well entries-container">
          <h1 class="mobile-centered name">{% trans 'Assos' %}</h1>
            {% for asso in assos %}
            <div class="row assos-card mobile-centered {% if forloop.counter|divisibleby:2 %} alternative-color {% endif %}">
                <div class="col-sm-2 col-sm-offset-1 text-center">
                  {% if asso.logo and asso.logo != "None" %}
                  <img class="logo" src="/media/image/ASSOS/{{ asso.logo }}">
                  {% else %}
                  <img class="logo" src="{% static 'images/campus/orga.png' %}">
                  {% endif %}
                </div>
                <div class="col-sm-6 mobile-margin-top">
                    <p class="club-name">{{ asso.name }}</p>
                    <p>{{ asso.description|truncatewords:30 }}</p>
                    {% if asso.email %}
                    <p><a href="mailto:{{ asso.email }}"><p><span class="fa fa-envelope"><span> <a href="mailto:{{ asso.email }}"> {{ asso.email}}</a></p>
                    {% endif %}
                    {% if asso.website %}
                    <p><a href="http://{{ asso.website }}"><span class="fa fa-globe"></span> {{ asso.website }}</a></p>
                    {% endif %}
                    <a href="{% url 'campus:clubs:club_detail' asso.cn %}"><span class="fa fa-info-circle"></span> En savoir plus</a>
                </div>
                <div class="col-sm-3 mobile-margin-top">
                    {% if request.user.is_authenticated %}
                    <p><button class="btn btn-success" data-toggle="collapse" data-target="#{{asso.cn}}"><span class="fa fa-angle-double-down"></span> Actions <span class="fa fa-angle-double-down"></span></button></p>
                    <div class="collapse" id="{{ asso.cn }}">
                        {% if request.ldap_user.is_campus_moderator or 'uid='|add:request.ldap_user.uid|add:','|add:ldapOuPeople in asso.prezs or request.user.is_staff %}
                        <p><a href="{% url 'campus:clubs:edit' asso.cn%}"><span class="fa fa-edit"></span> éditer</a></p>
                        <p><a class="addPersonLink" data-toggle="modal" data-target="#addPerson" data="{{asso.cn}}"><span class="fa fa-fw fa-user-plus"></span> inscrire un membre</a></p>
                        <p><a class="addMailLink" data-toggle="modal" data-target="#addEmail" data="{{asso.cn}}"><span class="fa fa-fw fa-envelope"></span> abonner un membre</a></p>
                        <p><a class="delPersonLink" data-toggle="modal" data-target="#delPerson" data="{{asso.cn}}"><span class="fa fa-fw fa-user-times"></span> désinscrire un membre</a></p>
                        <p><a class="addPrezLink" data-toggle="modal" data-target="#addPrez" data="{{ asso.cn }}"><span class="fa fa-fw fa-street-view"></span> effectuer une passation</a></p>
                        {% endif%}
                        {% if request.ldap_user.pk in asso.members %}
                        <p><form method="POST" action="{% url 'campus:clubs:remove-person' asso.cn %}" class="inline" >
                           {% csrf_token %}
                           <button type="submit" class="btn btn-link dell-user" /><span class="fa fa-fw fa-sign-out"></span> me désinscrire</button>
                        </form></p>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% empty%}
            <p class="well">{% trans "Aucune association trouvée" %}</p>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 well entries-container">
            <h1 class="mobile-centered name">{% trans 'Clubs' %}</h1>
            {% for club in clubs %}
            <div class="row assos-card mobile-centered {% if forloop.counter|divisibleby:2 %} alternative-color {% endif %}">
                <div class="col-sm-2 col-sm-offset-1 text-center">
                  {% if club.logo and club.logo != "None" %}
                  <img class="logo" src="/media/image/CLUB/{{ club.logo }}">
                  {% else %}
                  <img class="logo" src="{% static 'images/campus/orga.png' %}">
                  {% endif %}
                </div>
                <div class="col-sm-6 mobile-margin-top">
                    <p class="club-name">{{ club.name }}</p>
                    <p>{{ club.description|truncatewords:30 }}</p>
                    {% if club.email %}
                    <p><a href="mailto:{{ club.email }}"><p><span class="fa fa-envelope"><span> <a href="mailto:{{ club.email }}"> {{ club.email}}</a></p>
                    {% endif %}
                    {% if club.website %}
                    <p><a href="http://{{ club.website }}"><span class="fa fa-globe"></span> {{ club.website }}</a></p>
                    {% endif %}
                    <a href="{% url 'campus:clubs:club_detail' club.cn %}"><span class="fa fa-info-circle"></span> En savoir plus</a>
                </div>
                <div class="col-sm-3 mobile-margin-top">
                    {% if request.user.is_authenticated %}
                    <p><button class="btn btn-success" data-toggle="collapse" data-target="#{{club.cn}}"><span class="fa fa-angle-double-down"></span> Actions <span class="fa fa-angle-double-down"></span></button></p>
                    <div class="collapse" id="{{ club.cn }}">
                        {% if not request.ldap_user.pk in club.members %}
                        <p><form method="POST" action="{% url 'campus:clubs:add-person' club.cn %}" class="inline" >
                           {% csrf_token %}
                           <button type="submit" class="btn btn-link add-user" /><span class="fa fa-fw fa-sign-in"></span> m'inscrire</button>
                        </form></p>
                        {% else %}
                        <p><form method="POST" action="{% url 'campus:clubs:remove-person' club.cn %}" class="inline" >
                           {% csrf_token %}
                           <button type="submit" class="btn btn-link dell-user" /><span class="fa fa-fw fa-sign-out"></span> me désinscrire</button>
                        </form></p>
                        {% endif %}
                        {% if request.ldap_user.is_campus_moderator or 'uid='|add:request.ldap_user.uid|add:','|add:ldapOuPeople in club.prezs or request.user.is_staff%}
                        <p><a href="{% url 'campus:clubs:edit' club.cn%}"><span class="fa fa-fw fa-edit"></span> éditer</a></p>
                        <p><a class="addPersonLink" data-toggle="modal" data-target="#addPerson" data="{{club.cn}}"><span class="fa fa-fw fa-user-plus"></span> inscrire un membre</a></p>
                        <p><a class="addMailLink" data-toggle="modal" data-target="#addEmail" data="{{club.cn}}"><span class="fa fa-fw fa-envelope"></span> abonner un membre</a></p>
                        <p><a class="delPersonLink" data-toggle="modal" data-target="#delPerson" data="{{club.cn}}"><span class="fa fa-fw fa-user-times"></span> désinscrire un membre</a></p>
                        <p><a class="addPrezLink" data-toggle="modal" data-target="#addPrez" data="{{club.cn}}"><span class="fa fa-fw fa-street-view"></span> effectuer une passation</a></p>
                        {% endif%}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% empty %}
            <p class="well">{% trans "Aucun club trouvé" %}</p>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 well entries-container">
            <h1 class="mobile-centered name">{% trans 'Listes' %}</h1>
            {% for list in lists %}
            <div class="row assos-card mobile-centered {% if forloop.counter|divisibleby:2 %} alternative-color {% endif %}">
                <div class="col-sm-2 col-sm-offset-1 text-center">
                  {% if list.logo and list.logo != "None" %}
                  <img class="logo" src="/media/image/LIST/{{ list.logo }}">
                  {% else %}
                  <img class="logo" src="{% static 'images/campus/orga.png' %}">
                  {% endif %}
                </div>
                <div class="col-sm-6 mobile-margin-top">
                    <p class="club-name">{{ list.name }}</p>
                    <p>{{ list.description|truncatewords:30 }}</p>
                    {% if list.email %}
                    <p><a href="mailto:{{ list.email }}"><span class="fa fa-envelope"><span> <a href="mailto:{{ list.email }}"> {{ list.email}}</a></p>
                    {% endif %}
                    {% if list.website %}
                    <p><a href="http://{{ list.website }}"><span class="fa fa-globe"></span> {{ list.website }}</a></p>
                    {% endif %}
                    <a href="{% url 'campus:clubs:club_detail' list.cn %}"><span class="fa fa-info-circle"></span> En savoir plus</a>
                </div>
                <div class="col-sm-3 mobile-margin-top">
                    {% if request.user.is_authenticated %}
                    <p><button class="btn btn-success" data-toggle="collapse" data-target="#{{list.cn}}"><span class="fa fa-angle-double-down"></span> Actions <span class="fa fa-angle-double-down"></span></button></p>
                    <div class="collapse" id="{{list.cn}}">
                        {% if not 'uid='|add:request.ldap_user.uid|add:','|add:ldapOuPeople in list.members%}
                        <p><form method="POST" action="{% url 'campus:clubs:add-person' list.cn %}" class="inline" >
                           {% csrf_token %}
                           <button type="submit" class="btn btn-link add-user" /><span class="fa fa-fw fa-sign-in"></span> m'inscrire</button>
                        </form></p>
                        {% else %}
                        <p><form method="POST" action="{% url 'campus:clubs:remove-person' list.cn %}" class="inline" >
                           {% csrf_token %}
                           <button type="submit" class="btn btn-link dell-user" /><span class="fa fa-fw fa-sign-out"></span> me désinscrire</button>
                        </form></p>
                        {% endif %}
                        {% if request.ldap_user.is_campus_moderator or 'uid='|add:request.ldap_user.uid|add:','|add:ldapOuPeople in list.prezs or request.user.is_staff%}
                        <p><a href="{% url 'campus:clubs:edit' list.cn %}"><span class="fa fa-fw fa-edit"></span> éditer</a></p>
                        <p><a class="addPersonLink" data-toggle="modal" data-target="#addPerson" data="{{ list.cn }}"><span class="fa fa-fw fa-user-plus"></span> inscrire un membre</a></p>
                        <p><a class="addMailLink" data-toggle="modal" data-target="#addEmail" data="{{ list.cn }}"><span class="fa fa-fw fa-envelope"></span> abonner un membre</a></p>
                        <p><a class="delPersonLink" data-toggle="modal" data-target="#delPerson" data="{{ list.cn }}"><span class="fa fa-fw fa-user-times"></span> désinscrire un membre</a></p>
                        <p><a class="addPrezLink" data-toggle="modal" data-target="#addPrez" data="{{ list.cn }}"><span class="fa fa-fw fa-street-view"></span> effectuer une passation</a></p>
                        {% endif%}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% empty %}
            <p class="well">{% trans "Aucune liste trouvée" %}</p>
            {% endfor %}
        </div>
    </div>
</div>
<div class="modal fade" id="addPrez" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" id="addPrezForm" action="" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">{% trans "Ajouter un président" %}</h4>
                </div>
                <div class="alert alert-danger text-center remove-radius">
                    <span class="fa fa-spin fa-warning"></span>
                    <p>
                        {% trans "Attention, cette action n'est pas sans conséquences." %} <br />
                        {% trans "Le président actuel sera destitué" %} <br />
                        {% trans "Assurez-vous de renseigner la bonne personne." %} <br />
                        {% trans "En cas d'erreur" %} <a href="{% url 'contact'%}"> {% trans "contactez un administrateur ResEl" %} </a>
                    </p>
                </div>
                <div class="modal-body">
                    <p>{% trans "Entrer la personne à ajouter en tant que président à ce club:" %}</p>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><span class="fa fa-user"></span></span>
                        <input type="text" class="form-control" name="id_user" id="id_prez_to_add" style="width:70%;"></input>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">{% trans "Ajouter" %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Annuler" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="addPerson" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" id="addPersonForm" action="" method="get">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">{% trans "Ajouter une Personne" %}</h4>
                </div>
                <div class="modal-body">
                  <p>{% trans "Entrer la personne à ajouter à ce club:" %}</p>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="fa fa-user"></span></span>
                    <input type="text" class="form-control" name="id_user" id="id_user_to_add" style="width:70%;"></input>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">{% trans "Ajouter" %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Annuler" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="delPerson" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" id="delPersonForm" action="" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">{% trans "Désinscrire une personne" %}</h4>
                </div>
                <div class="modal-body">
                  <p>{% trans "Entrer la personne à ajouter à désinscrire de ce club:" %}</p>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="fa fa-user"></span></span>
                    <input type="text" class="form-control" name="id_user" id="id_user_to_del" style="width:70%;"></input>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">{% trans "Désinscrire" %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Annuler" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="addEmail" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" id="addMailForm" action="" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">{% trans "Désinscrire une personne" %}</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger text-center remove-radius">
                        <span class="fa fa-spin fa-warning"></span>
                        <p>
                            {% trans "Attention, cette option, n'est à utilser que pour les membres non inscrits au ResEl" %} <br />
                            {% trans "Ajouter un utilisateur ResEl inscrit déjà automatiquement à la mailing list" %} <br />
                        </p>
                    </div>
                  <p>{% trans "Entrer l'email à abonner:" %}</p>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="fa fa-envelope"></span></span>
                    <input type="text" class="form-control" name="mail" style="width:70%;"></input>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">{% trans "Ajouter" %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Annuler" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'jquery/jquery-ui.min.js' %}"></script>
<script>
    var addprezlinks = document.getElementsByClassName('addPrezLink');
    var addlinks = document.getElementsByClassName('addPersonLink');
    var dellinks = document.getElementsByClassName('delPersonLink');
    var addmaillinks = document.getElementsByClassName('addMailLink');
    var addprezform = document.getElementById('addPrezForm');
    var addform = document.getElementById('addPersonForm');
    var delform = document.getElementById('delPersonForm');
    var addmailform = document.getElementById('addMailForm');

    for (var i = 0; i < addprezlinks.length; i++) {
        addprezlinks[i].addEventListener("click", changeAddPrezLinkValue(i));
    };

    for (var i = 0; i < addlinks.length; i++) {
        addlinks[i].addEventListener("click", changeAddLinkValue(i));
    };

    for (var i = 0; i < dellinks.length; i++) {
        dellinks[i].addEventListener("click", changeDelLinkValue(i));
    };

    for (var i = 0; i < addmaillinks.length; i++) {
        addmaillinks[i].addEventListener("click", changeAddEmailLinkValue(i));
    };

    function changeAddPrezLinkValue(i) {
    return function(){
        addprezform.action = "{{hardLinkAddPrez}}"+addprezlinks[i].getAttribute('data');
        };
    };

    function changeAddLinkValue(i) {
    return function(){
        addform.action = "{{hardLinkAdd}}"+addlinks[i].getAttribute('data');
        };
    };

    function changeDelLinkValue(i) {
    return function(){
        delform.action = "{{ hardLinkDel }}" + dellinks[i].getAttribute('data');
        };
    };

    function changeAddEmailLinkValue(i) {
    return function(){
        addmailform.action = "{{ hardLinkAddMail }}"+addmaillinks[i].getAttribute('data');
        };
    };

</script>
<script>
    jQuery(document).ready(function ($) {
      $('#id_prez_to_add').autocomplete({
          source: "{% url 'campus:who:request-user' %}",
          minLength: 3,
      });
    })

    jQuery(document).ready(function ($) {
      $('#id_user_to_add').autocomplete({
          source: "{% url 'campus:who:request-user' %}",
          minLength: 3,
      });
    })

    jQuery(document).ready(function ($) {
      $('#id_user_to_del').autocomplete({
          source: "{% url 'campus:who:request-user' %}",
          minLength: 3,
      });
    })
</script>
{% endblock %}
