{% extends "base_campus.html" %}
{% load staticfiles %}
{% load i18n %}
{% load clubs_extras %}

{% block title %}Mes clubs{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/campus/clubs.css' %}">
    <link href="{% static 'jquery/jquery-ui.min.css' %}" rel="Stylesheet"></link>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="row">
        <div class="col-md-12 well">
            <h2>{% trans 'Clubs' %}</h2>
            {% for club in clubs %}
            <div class="row assos-card">
                <div class="col-md-3 col-md-offset-1">
                  {% if club.logo != "None" %}
                  <img class="assos-img" src="/media/image/CLUB/{{ club.logo }}">
                  {% endif %}
                </div>
                <div class="col-md-5">
                    <h2>{{ club.name }}</h2>
                    <p>{{ club.description }}</p>
                    {% if club.website %}
                    <p>Mailing list: <a href="mailto:{{ club.email }}">{{ club.email}}</a></p>
                    {% endif %}
                    {% if club.website %}
                    <p><a href="http://{{ club.website }}">En savoir plus</a></p>
                    {% endif %}
                    <p>
                        <a data-toggle="collapse" data-target="#prezs_{{club.cn}}" id="prezs_{{club.cn}}_btn"><span class="fa fa-angle-double-down"></span> Présidents <span class="fa fa-angle-double-down"></span></a>
                        <ul class="collapse" id="prezs_{{club.cn}}">
                        </ul>
                    </p>
                    <p>
                        <a data-toggle="collapse" data-target="#membres_{{club.cn}}" id="membres_{{club.cn}}_btn"><span class="fa fa-angle-double-down"></span> Membres <span class="fa fa-angle-double-down"></span></a>
                        <ul class="collapse" id="membres_{{club.cn}}">
                        </ul>
                    </p>
                </div>
                <div class="col-md-3">
                    {% if request.user.is_authenticated %}
                    <p><button class="btn btn-info" data-toggle="collapse" data-target="#{{club.cn}}"><span class="fa fa-angle-double-down"></span> Actions <span class="fa fa-angle-double-down"></span></button></p>
                    <div class="collapse" id="{{club.cn}}">
                        {% if not 'uid='|add:request.ldap_user.uid|add:','|add:ldapOuPeople in club.members%}
                        <p><a href="{% url 'campus:clubs:add-person' club.cn%}"><span class="fa fa-sign-in"></span> m'inscrire</a></p>
                        {% else %}
                        <p><a href="{% url 'campus:clubs:remove-person' club.cn%}"><span class="fa fa-sign-out"></span> me désinscrire</a></p>
                        {% endif %}
                        {% if request.ldap_user.is_campus_moderator or 'uid='|add:request.ldap_user.uid|add:','|add:ldapOuPeople in club.prezs or request.user.is_staff%}
                        <p><a href="{% url 'campus:clubs:edit' club.cn%}"><span class="fa fa-edit"></span> éditer</a></p>
                        <p><a class="addPersonLink" data-toggle="modal" data-target="#addPerson" data="{{club.cn}}"><span class="fa fa-user-plus"></span> inscrire un membre</a></p>
                        <p><a class="delPersonLink" data-toggle="modal" data-target="#delPerson" data="{{club.cn}}"><span class="fa fa-user-times"></span> désinscrire un membre</a></p>
                        <p><a class="addPrezLink" data-toggle="modal" data-target="#addPrez" data="{{club.cn}}"><span class="fa fa-street-view"></span> ajouter un président</a></p>
                        {% endif%}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% empty %}
            {% trans "Une erreur est servenue pendant la récupération des clubs" %}
            {% endfor %}
        </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addPrez" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" id="addPrezForm" action="" method="get">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">{% trans "Ajouter un président" %}</h4>
                </div>
                <div class="alert alert-danger text-center remove-radius">
                    <span class="fa fa-spin fa-warning"></span>
                    <p>Attention, cette action n'est pas sans conséquences. <br />Assurez-vous de renseigner la bonne personne.</p>
                </div>
                <div class="modal-body">
                    <p>{% trans "Entrer la personne à ajouter en tant que président à ce club:" %}</p>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><span class="fa fa-user"></span></span>
                        <input type="text" class="form-control" name="id_user" id="id_prez_to_add" style="width:70%;"></input>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">{% trans "Ajouter" %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Annuler" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="addPerson" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" id="addPersonForm" action="" method="get">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">{% trans "Ajouter une Personne" %}</h4>
                </div>
                <div class="modal-body">
                  <p>{% trans "Entrer la personne à ajouter à ce club:" %}</p>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="fa fa-user"></span></span>
                    <input type="text" class="form-control" name="id_user" id="id_user_to_add" style="width:70%;"></input>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">{% trans "Ajouter" %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Annuler" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="delPerson" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" id="delPersonForm" action="" method="get">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">{% trans "Désinscrire une personne" %}</h4>
                </div>
                <div class="modal-body">
                  <p>{% trans "Entrer la personne à ajouter à désinscrire de ce club:" %}</p>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="fa fa-user"></span></span>
                    <input type="text" class="form-control" name="id_user" id="id_user_to_del" style="width:70%;"></input>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">{% trans "Ajouter" %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Annuler" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'jquery/jquery-ui.min.js' %}"></script>
<script>
    var addprezlinks = document.getElementsByClassName('addPrezLink');
    var addlinks = document.getElementsByClassName('addPersonLink');
    var dellinks = document.getElementsByClassName('delPersonLink');
    var addprezform = document.getElementById('addPrezForm');
    var addform = document.getElementById('addPersonForm');
    var delform = document.getElementById('delPersonForm');

    for (var i = 0; i < addprezlinks.length; i++) {
        addprezlinks[i].addEventListener("click", changeAddPrezLinkValue(i));
    };

    for (var i = 0; i < addlinks.length; i++) {
        addlinks[i].addEventListener("click", changeAddLinkValue(i));
    };

    for (var i = 0; i < dellinks.length; i++) {
        dellinks[i].addEventListener("click", changeDelLinkValue(i));
    };

    function changeAddPrezLinkValue(i) {
    return function(){
        addprezform.action = "{{hardLinkAddPrez}}"+addprezlinks[i].getAttribute('data');
        };
    };

    function changeAddLinkValue(i) {
    return function(){
        addform.action = "{{hardLinkAdd}}"+addlinks[i].getAttribute('data');
        };
    };

    function changeDelLinkValue(i) {
    return function(){
        delform.action = "{{hardLinkDel}}"+dellinks[i].getAttribute('data');
        };
    };

</script>
<script>
    jQuery(document).ready(function ($) {
      $('#id_prez_to_add').autocomplete({
          source: "{% url 'campus:who:request-user' %}",
          minLength: 3,
      });
    })

    jQuery(document).ready(function ($) {
      $('#id_user_to_add').autocomplete({
          source: "{% url 'campus:who:request-user' %}",
          minLength: 3,
      });
    })

    jQuery(document).ready(function ($) {
      $('#id_user_to_del').autocomplete({
          source: "{% url 'campus:who:request-user' %}",
          minLength: 3,
      });
    })

    {% if user.is_authenticated%}
    function fetchMembers(pk, type) {
      var get_data = {'pk':pk};
      var correct_url;
      if(type=="members"){
          correct_url = "{% url 'campus:clubs:request_members'%}";
      }else {
          correct_url = "{% url 'campus:clubs:request_prezs'%}";
      }
      $.ajax({
        url:correct_url,
        data: get_data,
        dataType:"json",
        success:function(data) {
          for(i=0; i<data.length; i++){
            var node = document.createElement("LI");
            var link = document.createElement("A");
            var textlink = document.createTextNode(data[i]['full_name']);
            link.href="{{hardLinkWhoUser}}"+data[i]['uid'];
            link.appendChild(textlink);
            node.appendChild(link);
            if(type=="members"){
                document.getElementById("membres_"+pk).appendChild(node);
            }else {
                document.getElementById("prezs_"+pk).appendChild(node);
            }
          };
        }
      });
    }

    {% for club in clubs %}
        var btn_{{club.cn|remove_unwanted_strings}} = document.getElementById("membres_{{club.cn}}_btn");
        $(btn_{{club.cn|remove_unwanted_strings}}).one("click", function(){fetchMembers("{{club.cn}}", "members"); btn_{{club.cn|remove_unwanted_strings}}.onclick=null;});
    {% endfor %}

    {% for club in clubs %}
        var btn_{{club.cn|remove_unwanted_strings}} = document.getElementById("prezs_{{club.cn}}_btn");
        $(btn_{{club.cn|remove_unwanted_strings}}).one("click", function(){fetchMembers("{{club.cn}}", "prezs"); btn_{{club.cn|remove_unwanted_strings}}.onclick=null;});
    {% endfor %}
    {% endif %}
</script>
{% endblock %}
