{% extends "base_campus.html" %}
{% load staticfiles %}
{% load i18n %}
{% load clubs_extras %}

{% block title %}Associations et clubs{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/campus/clubs.css' %}" />
<link href="{% static 'jquery/jquery-ui.min.css' %}" rel="Stylesheet" />
{% endblock %}
{% block content %}

<div class="container">
    <div class="btn-home btn-home-campus">
        <a href="{% url 'campus:home' %}" class="noncolored-a"><span class="fa fa-home"></span>   </a>
    </div>
    <div class="col-md-12 entries-container">
        <h1 class="text-center well name">{% trans 'Associations' %}</h1>
        {% for asso in assos %}
        {% if forloop.counter|add:-1|divisibleby:4 %}
        <div class="row assos-card mobile-centered">
        {% endif %}
            <div class="col-md-3">
                <div class="col-md-12 well">
                    <div class="col-md-12 text-center logo-wrapper">
                        <a href="{% url 'campus:clubs:club_detail' asso.cn %}">
                            {% if asso.logo and asso.logo != "None" %}
                            <img class="logo" data-src="/media/image/ASSOS/{{ asso.logo }}">
                            {% else %}
                            <img class="logo" src="{% static 'images/campus/orga.png' %}">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-md-12 mobile-margin-top">
                        <p class="club-name">{{ asso.name }}</p>
                        <p class="description">{{ asso.description|truncatechars:70 }}</p>
                        <p><a href="mailto:{{ asso.email }}"><span class="fa fa-envelope"></span> {% if asso.email %}{{ asso.email }}{% else %}{% trans "non renseigné" %}{% endif %}</a></p>
                        <p><a href="{{ asso.website }}"><span class="fa fa-globe"></span> {% if asso.website %}{{ asso.website }}{% else %}{% trans "non renseigné" %}{% endif %}</a></p>
                        <hr />
                        <span class="actions">
                            <a href="{% url 'campus:clubs:club_detail' asso.cn %}" class="label label-success"><span class="fa fa-info-circle"></span> {% trans "info" %}</a>
                            {% if request.user.is_authenticated %}
                            {% if request.ldap_user.is_campus_moderator or request.ldap_user.pk in asso.prezs or request.user.is_staff %}
                            <a href="{% url 'campus:clubs:edit' asso.cn%}" class="label label-success"><span class="fa fa-pencil-square"></span> {% trans "éditer" %}</a>
                            {% endif %}
                            {% if request.ldap_user.pk in asso.members %}
                            <span class="pull-right member-badge fa fa-check-circle-o" data-toggle="tooltip" data-placement="right" title="{% trans 'Vous êtes membre' %}"></span>
                            {% endif %}
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        {% if forloop.counter|divisibleby:4 or forloop.last%}
        </div>
        {% endif %}
        {% empty %}
        <p class="well">{% trans "Aucunne association trouvée" %}</p>
        {% endfor %}
    </div>

    <div class="col-md-12 entries-container">
        <h1 class="text-center well name">{% trans 'Clubs' %}</h1>
        {% for club in clubs %}
        {% if forloop.counter|add:-1|divisibleby:4 %}
        <div class="row assos-card mobile-centered">
        {% endif %}
        <div class="col-md-3">
            <div class="col-md-12 well">
                <div class="col-md-12 text-center logo-wrapper">
                    <a href="{% url 'campus:clubs:club_detail' club.cn %}">
                        {% if club.logo and club.logo != "None" %}
                        <img class="logo" data-src="/media/image/CLUB/{{ club.logo }}">
                        {% else %}
                        <img class="logo" src="{% static 'images/campus/orga.png' %}">
                        {% endif %}
                    </a>
                </div>
                <div class="col-md-12 mobile-margin-top">
                    <p class="club-name">{{ club.name }}</p>
                    <p class="description">{{ club.description|truncatechars:70 }}</p>
                    <p><a href="mailto:{{ club.email }}"><span class="fa fa-envelope"></span> {% if club.email %}{{ club.email }}{% else %}{% trans "non renseigné" %}{% endif %}</a></p>
                    <p><a href="{{ club.website }}"><span class="fa fa-globe"></span> {% if club.website %}{{ club.website }}{% else %}{% trans "non renseigné" %}{% endif %}</a></p>
                    <hr />
                    <span class="actions">
                        <a href="{% url 'campus:clubs:club_detail' club.cn %}" class="label label-success"><span class="fa fa-info-circle"></span> {% trans "info" %}</a>
                        {% if request.user.is_authenticated %}
                        {% if request.ldap_user.is_campus_moderator or request.ldap_user.pk in club.prezs or request.user.is_staff %}
                        <a href="{% url 'campus:clubs:edit' club.cn%}" class="label label-success"><span class="fa fa-pencil-square"></span> {% trans "éditer" %}</a>
                        {% endif %}
                        {% if request.ldap_user.pk in club.members %}
                        <span class="pull-right member-badge fa fa-check-circle-o" data-toggle="tooltip" data-placement="right" title="{% trans 'Vous êtes membre' %}"></span>
                        {% endif %}
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:4 or forloop.last %}
        </div>
        {% endif %}
        {% empty %}
        <p class="well">{% trans "Aucunne club trouvé" %}</p>
        {% endfor %}
    </div>
    <div class="col-md-12 entries-container">
        <h1 class="text-center well name">{% trans 'Listes de campagne' %}</h1>
        {% for list in lists %}
        {% if forloop.counter|add:-1|divisibleby:4 %}
        <div class="row assos-card mobile-centered">
        {% endif %}
            <div class="col-md-3">
                <div class="col-md-12 well">
                    <div class="row">
                        <div class="col-md-12 text-center logo-wrapper">
                            <a href="{% url 'campus:clubs:club_detail' list.cn %}">
                                {% if list.logo and list.logo != "None" %}
                                <img class="logo" data-src="/media/image/LIST/{{ list.logo }}">
                                {% else %}
                                <img class="logo" src="{% static 'images/campus/orga.png' %}">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mobile-margin-top">
                            <p class="club-name">{{ list.name }}</p>
                            <p class="description">{{ list.description|truncatechars:70 }}</p>
                            <p><a href="mailto:{{ list.email }}"><span class="fa fa-envelope"></span> {% if list.email %}{{ list.email }}{% else %}{% trans "non renseigné" %}{% endif %}</a></p>
                            <p><a href="{{ list.website }}"><span class="fa fa-globe"></span> {% if list.website %}{{ list.website }}{% else %}{% trans "non renseigné" %}{% endif %}</a></p>
                            <hr />
                            <span class="actions">
                                <a href="{% url 'campus:clubs:club_detail' list.cn %}" class="label label-success"><span class="fa fa-info-circle"></span> {% trans "info" %}</a>
                                {% if request.user.is_authenticated %}
                                {% if request.ldap_user.is_campus_moderator or request.ldap_user.pk in list.prezs or request.user.is_staff %}
                                <a href="{% url 'campus:clubs:edit' list.cn%}" class="label label-success"><span class="fa fa-pencil-square"></span> {% trans "éditer" %}</a>
                                {% endif %}
                                {% if request.ldap_user.pk in list.members %}
                                <span class="pull-right member-badge fa fa-check-circle-o" data-toggle="tooltip" data-placement="right" title="{% trans 'Vous êtes membre' %}"></span>
                                {% endif %}
                                {% endif %}
                            </span>
                        </div>
                    </div>
                  </div>
                </div>
                {% if forloop.counter|divisibleby:4 or forloop.last%}
            </div>
            {% endif %}
            {% empty %}
            <p class="well">{% trans "Aucunne liste trouvée" %}</p>
            {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'jquery/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/jquery.unveil.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("img").unveil();
});

// Tooltip for member badge
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}
