{% extends "base_campus.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Associations et clubs{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/campus/clubs.css' %}">
{% endblock %}

{% block content %}
    <div class="btn-home">
      <a href="{% url 'campus:clubs:list' %}" class="noncolored-a"><span class="fa fa-group"></span>   </a>
    </div>
    <div class="btn-home btn-home-campus">
      <a href="{% url 'campus:home' %}" class="noncolored-a"><span class="fa fa-home"></span>   </a>
    </div>
    <div class="container" id="content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="page-header text-center" style="color: white;">
                    {% if pk %}{% trans "Editer un club ou une association" %}
                    {% else %}{% trans "Nouveau club ou association" %}
                    {% endif %}
                </h1>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <form class="form well" action="{% if not pk%}{% url 'campus:clubs:new' %}{% else %}{% url 'campus:clubs:edit' pk %}{% endif %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group" {% if pk %} style="display: none"{% endif %}>
                    {{ form.type.errors }}
                    <label for="name">{{ form.type.label }}:</label>
                    {{ form.type }}
                </div>
                <div class="form-group">
                    {{ form.name.errors }}
                    <label for="name">{{ form.name.label }}:</label>
                    {{ form.name }}
                </div>
                <div class="form-group" {% if pk %} style="display: none" {% endif %}>
                    {{ form.cn.errors }}
                    <label for="name">{{ form.cn.label }}:</label>
                    {{ form.cn }}
                </div>
                <div class="form-group">
                    {{ form.description.errors }}
                    <label for="name">{{ form.description.label }}:</label>
                    {{ form.description }}
                </div>
                <div class="form-group">
                    {{ form.logo.errors }}
                    <label for="name">{{ form.logo.label }}:</label>
                    {{ form.logo }}
                </div>
                <div class="form-group">
                    {{ form.email.errors }}
                    <label for="name">{{ form.email.label }}:</label>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    {{ form.website.errors }}
                    <label for="name">{{ form.website.label }}:</label>
                    {{ form.website }}
                </div>
                <div class="form-group" id="campagneYear" {% if pk %} style="display: none;"{% endif %}>
                    {{ form.campagneYear.errors }}
                    <label for="name">{{ form.campagneYear.label }}:</label>
                    {{ form.campagneYear }}
                </div>
                <button class="btn btn-success pull-right">{% trans 'Confirmer' %}</button>
                {% if pk and request.ldap_user.is_campus_moderator or request.user.is_staff%}
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete">Supprimer</button>
                {% endif%}
            </form>
        </div>
    </div>
    {% if pk%}
    <div id="delete" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Supprimer ?</h4>
          </div>
          <div class="modal-body">
            <p>Êtes vous certain de vouloir faire ça ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Annuler</button>
            <form method="POST" action="{% url 'campus:clubs:delete' pk %}" class="inline" >
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Confirmer</a>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script src="{% static 'jquery/jquery-ui.min.js' %}"></script>
    <script>
        function update_required_info() {
            var selected_type = $("#type").find("option:selected").text();
            if (selected_type === "Club"){
              $("#campagneYear").hide();
          } else if (selected_type === "Association") {
              $("#campagneYear").hide();
            } else {
              $("#campagneYear").show();
            }
        }

        $("#type").on("change", function (event) {
            update_required_info();
        });

        $( document ).on("ready", function( event ){
            update_required_info();
        });
    </script>
{% endblock %}
