{% extends "base_campus.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Associations et clubs{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/campus/clubs.css' %}">
{% endblock %}

{% block content %}
{% include './base_clubs.html' %}
    <div class="container" id="content">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header text-center" style="color: white;">
                    {% trans "Nouveau club ou association" %}
                </h1>
            </div>

        </div>
    </div>
{% endblock %}
