{% extends "base_campus.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Rechercher un club{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/campus/clubs.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 well">
            <h2>{% trans 'Résultat de votre recherche:' %}</h2>
            {% for club in clubs %}
            <div class="row assos-card">
                <div class="col-md-6 col-md-offset-1">
                    <h2>{{ club.name }}</h2>
                    <p>{{ club.description }}</p>
                </div>
            </div>
            {% empty %}
            {% trans "Aucun résultat n'a été retourné" %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
