{% extends 'base.html' %}
{% load i18n %}

{% block titre %}{{object.name}}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{ object.name }}</h1>
        <p>{{ object.description|safe }}</p>
        <ul>
            {# Pour chaque article dans le "set d'article" de la catégorie #}
            {% for article in object.article_set.all %}
                <li><a href="{{ article.get_absolute_url }}">{{ article.name }}</a> : {{ article.description }}</li>
            {% empty %}
                <li>No articles yet.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
