{% extends "base_campus.html" %}
{% load staticfiles %}

{% block title %}Événement{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/campus/clubs.css' %}">
{% endblock %}

{% block content %}
    <div class="btn-home">
      <a href="{% url 'campus:rooms:calendar' %}" class="noncolored-a"><span class="fa fa-home"></span> </a>
    </div>
    <div class="container title">
        <h1 class="page-header">
            Événement
        </h1>
    </div>
    <div class="container well" id="content">
        <a class="btn btn-default pull-right" href="{% url "campus:rooms:mod-booking" object.pk %}">Modifier l'événement</a>
        <h3>{{ object.description }}</h3>
        <p>
            {% for room in object.room.all %}
                - <i>{{ room.name }}</i><br>
            {% endfor %}
        </p>
        <form action="{% url "campus:rooms:delete-booking" object.pk %}" method="post">
            {% csrf_token %}
            <button class="btn btn-danger">Supprimer</button>
        </form>
    </div>

{% endblock %}
