{% extends "base_campus.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Événement{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/campus/clubs.css' %}">
{% endblock %}

{% block content %}
    <div class="btn-home">
      <a href="{% url 'campus:rooms:calendar' %}" class="noncolored-a"><span class="fa fa-calendar"></span> </a>
    </div>
    <div class="btn-home btn-home-campus">
      <a href="{% url 'campus:home' %}" class="noncolored-a"><span class="fa fa-home"></span>   </a>
    </div>
    <div class="container title">
        <h1 class="page-header">
            {% trans "Événement" %}
        </h1>
    </div>
    <div class="container well" id="content">
        {% if user.is_authenticated %}
        {% if object.user_can_manage or request.user.is_staff or request.ldap_user.is_campus_moderator or request.ldap_user.uid in object.user%}
        <a class="btn btn-default pull-right" href="{% url "campus:rooms:mod-booking" object.pk %}">Modifier l'événement</a>
        {% endif %}
        {% endif %}
        <h3>{{ object.description }}</h3>
        <p>{% trans "De" %} {{ object.start_time|date:"j l H:i:s" }} {% trans "à" %} {{ object.end_time|date:"j l H:i:s" }}</p>
        <p>
            {% for room in object.room.all %}
                - <i>{{ room.name }}</i><br>
            {% endfor %}
        </p>
        {% if user.is_authenticated %}
        {% if object.user_can_manage or request.user.is_staff or request.ldap_user.is_campus_moderator %}
        <form action="{% url "campus:rooms:delete-booking" object.pk %}" method="post">
            {% csrf_token %}
            <button class="btn btn-danger">Supprimer</button>
        </form>
        {% endif %}
        {% endif %}
    </div>

{% endblock %}
