{% extends "base_campus.html" %}
{% load static %}
{% load rooms_extras %}
{% load i18n %}

{% block title %}Calendrier campus{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/campus/rooms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.min.css' %}">
{% endblock css %}

{% block content %}
    <div class="btn-home btn-home-campus">
      <a href="{% url 'campus:home' %}" class="noncolored-a"><span class="fa fa-home"></span>   </a>
    </div>

    <div class="container title">
        <h1>Calendrier de l'AE</h1>
    </div>
    <div class="container well" id="content">
        <div class="row">
            <div class="col-xs-12" id="month-navigation">
                <div class="btn-group" role="group" aria-label="previous-next-month">
                    {% if current_room == 'all' %}
                        <a class="btn btn-default" href="{% url 'campus:rooms:calendar-month' current_date|previous_month|date:'Y' current_date|previous_month|date:'n' %}">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    {% else %}
                        <a class="btn btn-default" href="{% url 'campus:rooms:calendar-room-month' current_room.pk current_date|previous_month|date:'Y' current_date|previous_month|date:'n' %}">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    {% endif %}

                    {% if current_room == 'all' %}
                        <a class="btn btn-default" href="{% url 'campus:rooms:calendar-month' current_date|next_month|date:'Y' current_date|next_month|date:'n' %}">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    {% else %}
                        <a class="btn btn-default" href="{% url 'campus:rooms:calendar-room-month' current_room.pk current_date|next_month|date:'Y' current_date|next_month|date:'n' %}">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    {% endif %}
                </div>

                <div class="btn btn-link">
                    {{ current_date|date:'F Y' }}
                </div>

                <div class="btn btn-link pull-right">
                    {% if current_room == 'all' %}
                        Toutes les salles
                        {% if user.is_authenticated %}
                        <button data-toggle="modal" data-target="#addBooking" class="btn btn-success">Créer un événement</button>
                        {% if user.is_staff %}
                        <a href="{% url 'campus:rooms:add-room' %}" class="btn btn-default">Ajouter une salle</a>
                        <a href="{% url 'campus:rooms:manage-rooms' %}" class="btn btn-default">Gérer les salles</a>
                        {% endif %}
                        {% endif %}
                    {% else %}
                        {{ current_room.name }} (<a href="{% url 'campus:rooms:calendar' %}">voir toutes les salles</a>) {% if user.is_authenticated %}<button data-toggle="modal" data-target="#addBooking" class="btn btn-success">Réserver la salle</button>{% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="table-responsive col-xs-12">
                <div class="row">
                    <table id="calendar" class="table">
                        <thead>
                        <tr>
                            {% if calendar|length_is:'1' %}
                                <th>{{ calendar.0.0.0|date:'l' }}</th>
                            {% else %}
                                {% for day, events in calendar.3 %}
                                    <th>{{ day|date:'l' }}</th>
                                {% endfor %}
                            {% endif %}
                        </tr>
                        </thead>

                        <tbody>
                        {% for week in calendar %}
                            <tr>
                                {% for day, events in week %}
                                    {% if day == 0 %}
                                        <td>
                                            <div class='text-right small'></div>
                                        </td>
                                    {% else %}
                                        <td {% if day|date:'j' == current_day.0 and day|date:'n' == current_day.1 and day|date:'Y' == current_day.2 %}class="current-day"{% endif %} >
                                            <div class='text-right small'>
                                                {% if current_room == 'all' %}
                                                    <a href="{% url 'campus:rooms:calendar-day' day|date:'Y' day|date:'n' day|date:'j' %}">
                                                        {{ day|date:'j' }}
                                                    </a>
                                                {% else %}
                                                    <span {% if current_day.0 == day|date:'j' %}class="label label-info"{% endif %}>
                                                    <a href="{% url 'campus:rooms:calendar-room-day' current_room.pk day|date:'Y' day|date:'n' day|date:'j' %}">
                                                        {{ day|date:'j' }}
                                                    </a>
                                                    </span>
                                                {% endif %}
                                            </div>
                                            {% for event in events %}
                                                <a class="event" href="{% url "campus:rooms:booking-detail"  event.pk %}">
                                                    <div class="alert-{{ event.booking_type }} {% if calendar|length_is:'1' %} col-md-3 {% endif %}">
                                                        <span class="time">
                                                            {% if event.start_time|date:'j' == day|date:'j' and event.start_time|date:'n' == current_date|date:'n' and event.start_time|date:'Y' == current_day.2 %}
                                                                {{ event.start_time|time:'H:i' }}
                                                            {% else %}
                                                                00:00
                                                            {% endif %}
                                                            -
                                                            {% if event.end_time|date:'j' == day|date:'j' and event.end_time|date:'n' == current_date|date:'n' and event.end_time|date:'Y' == current_day.2 %}
                                                                {{ event.end_time|time:'H:i' }}
                                                            {% else %}
                                                                23:59
                                                            {% endif %}
                                                        </span>
                                                        <span class="description">{{ event.name|truncatewords:7 }}</span>
                                                    </div>
                                                </a>
                                            {% endfor %}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <table id="legend">
                        <tr>
                            <td><span class="alert alert-party">Soirée</span></td>
                            <td><span class="alert alert-club">Activité de club</span></td>
                            <td><span class="alert alert-meeting">Réunion</span></td>
                            <td><span class="alert alert-training">Formation</span></td>
                            <td><span class="alert alert-event">Évènement</span></td>
                            <td><span class="alert alert-sport">Sport</span></td>
                            <td><span class="alert alert-arts">Arts et culture</span></td>
                            <td><span class="alert alert-trip">Sortie</span></td>
                            <td><span class="alert alert-other">Autre</span></td>
                        </tr>
                    </table>
                </div>
            </div> <!-- /.table-responsive -->

        </div> <!-- /.row -->

        <div class="row">
            <div class="col-xs-12" >
                {% for title, queryset in rooms %}
                    {% if queryset %}
                        <div class="col-xs-6 col-sm-3 room-list">
                            <div class="panel panel-info">
                                <div class="panel-heading">{{ title }}</div>

                                <div class="panel-body">
                                    {% for room in queryset %}
                                        <a href="{% url 'campus:rooms:calendar-room' room.pk %}">{{ room.name }}</a><br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        </div>  <!-- /.row -->
    </div>

    <!-- Modal for the booking form -->
    {% if user.is_authenticated %}
    <div class="modal fade" id="addBooking" role="dialog">
        <div class="modal-dialog modal-large">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{% trans "Ajouter une réservation" %}</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" id="booking-errors" role="alert" style="display: none;"></div>
                    <!-- Beginning of the booking form -->
                    <form method="POST" class="form-horizontal" id="booking-form" onsubmit="event.preventDefault(); checkAvailability(this);">
                        {% csrf_token %}
                        <div class="row remove-margin">
                            <div class="col-md-6">
                                <div class="form-group {% if form.name.errors %}has-error{% endif %}">
                                    <label class="col-sm-2 control-label">Nom</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" rows="5" name="name" placeholder="{{ form.name.help_text }}" value="{{ form.name.value|default_if_none:'' }}"/>
                                    </div>
                                </div>

                                <div class="form-group {% if form.description.errors %}has-error{% endif %}">
                                    <label class="col-sm-2 control-label">Description</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="5" name="description" placeholder="{{ form.description.help_text }}">{{ form.description.value|default_if_none:'' }}</textarea>
                                    </div>
                                </div>

                                <div class="form-group {% if form.room.errors %}has-error{% endif %}">
                                    <label class="col-sm-2 control-label">Salle(s)</label>
                                    <div class="col-sm-10">
                                        <select multiple name="room" class="form-control" size="{{ form.room.field.choices|length }}">
                                        {% for choice_id, choice_label in form.room.field.choices %}
                                            <option {% if choice_id in form.room.value %}selected{% endif %} class="room-choice"value="{{ choice_id }}">{{ choice_label }}</option>
                                        {% endfor %}
                                    </select>
                                        <p class="small">{% trans 'Maintenez la touche controle pour sélectionner plusieurs salles'%}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group {% if form.booking_type.errors %}has-error{% endif %}">
                                    <label class="col-sm-2 control-label">Type</label>
                                    <div class="col-sm-10 input-group">
                                        <div class="input-group-addon"><span class="fa fa-tags" ></span></div>
                                        <select name="booking_type" class="form-control">
                                            {% for choice_id, choice_label in form.booking_type.field.choices %}
                                                <option {% if form.booking_type.value == choice_id %}selected{% endif %} value="{{ choice_id }}">{{ choice_label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group {% if form.start_time.errors %}has-error{% endif %}">
                                    <label class="col-sm-2 control-label">Début</label>
                                    <div class="col-sm-10 input-group">
                                        <div class="input-group-addon"><span class="fa fa-clock-o" ></span></div>
                                        <input type="text" id="startDate" onChange="addEndDate()" class="form-control datetimepicker" name="start_time" value="{% firstof form.start_time.value|date:'Y-m-d H:i:00' form.start_time.value %}">
                                    </div>
                                </div>

                                {# TODO: Auto-add 1h after start date #}
                                <div class="form-group {% if form.end_time.errors %}has-error{% endif %}">
                                    <label class="col-sm-2 control-label">Fin</label>
                                    <div class="col-sm-10 input-group">
                                        <div class="input-group-addon"><span class="fa fa-clock-o" ></span></div>
                                        <input type="text" id="endDate" class="form-control datetimepicker" name="end_time" value="{% firstof form.end_time.value|date:'Y-m-d H:i:00' form.end_time.value %}">
                                    </div>
                                </div>

                                <div class="form-group {% if form.recurring_rule.errors %}has-error{% endif %}">
                                    <label class="col-sm-2 control-label">Récurrence</label>
                                    <div class="col-sm-10 input-group">
                                        <div class="input-group-addon"><span class="fa fa-circle-o-notch" ></span></div>
                                        <select name="recurring_rule" class="form-control">
                                            {% for choice_id, choice_label in form.recurring_rule.field.choices %}
                                                <option {% if form.recurring_rule.value == choice_id %}selected{% endif %} value="{{ choice_id }}">{{ choice_label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                {# TODO: hide that when not necessary #}
                                <div class="form-group {% if form.end_recurring_period.errors %}has-error{% endif %}">
                                    <label class="col-sm-2 control-label">Fin de récurrence</label>
                                    <div class="col-sm-10 input-group">
                                        <div class="input-group-addon"><span class="fa fa-clock-o" ></span></div>
                                        <input type="text" class="form-control datetimepicker" name="end_recurring_period" value="{% firstof form.end_recurring_period.value|date:'Y-m-d H:i:00' form.end_recurring_period.value %}">
                                    </div>
                                </div>

                                {% if form.fields.user %}
                                    <div class="form-group {% if form.user.errors %}has-error{% endif %}">
                                        <label class="col-sm-2 control-label">Utilisateur</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="user" value="{{ form.fields.user.value }}">
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" {% if form.displayable.value %}checked{% endif %} name="displayable"> Cochez pour afficher sur le calendrier campus
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" id="booking-submit" class="btn btn-success pull-right">{% trans "Réserver" %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- End of the booking form -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Annuler" %}</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
    <script>
        checkFormURL = "{% url 'campus:rooms:check-availability'%}";
        sendFormURL = "{% url 'campus:rooms:booking'%}";
        id = null;
    </script>
    <script src="{% static 'js/campus/booking.js' %}"></script>
{% endblock %}
