{% extends "base_campus.html" %}
{% load staticfiles %}
{% load i18n %}

{% block titre %} {% trans "Ajouter une salle"%} {% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/campus/rooms.css' %}">
    <link href="{% static 'jquery/jquery-ui.min.css' %}" rel="Stylesheet"></link>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row well">
        <form method="POST" class="form-horizontal">
            {% csrf_token %}
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-4">
                        <label>{{form.location.label}}</label>
                        {{form.location.errors}}
                    </div>
                    <div class="col-md-8">
                        {{form.location}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label>{{form.name.label}}</label>
                        {{form.name.errors}}
                    </div>
                    <div class="col-md-8">
                        {{form.name}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label>{{form.mailing_list.label}}</label>
                        {{form.mailing_list.errors}}
                    </div>
                    <div class="col-md-8">
                        {{form.mailing_list}}
                    </div>
                </div>
                <div class="form-check">
                    {{form.private.errors}}
                    {{form.private}}
                    <label class="form-check-label"><abbr title="{{form.private.help_text}}">{{form.private.label}}</abbr></label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-4">
                        <label>Chercher un club</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input type="text" class="form-control" id="club_to_add">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="addClub()">Ajouter</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label><abbr title="{{form.clubs.help_text}}">{{form.clubs.label}}<abbr></label>
                        {{form.clubs.errors}}
                    </div>
                    <div class="col-md-8">
                        {{form.clubs}}
                    </div>
                </div>
                <button type="submit" class="btn btn-success pull-right" name="button">Ajouter</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'jquery/jquery-ui.min.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
          $('#club_to_add').autocomplete({
              source: "{% url 'campus:clubs:getclubs' %}",
              minLength: 3,
          });
        })
    </script>
    <script type="text/javascript">
        function addClub(){
            var text = document.getElementById("club_to_add").value;
            var re = /[\w\d-]+/;
            if(text.match(re) != null){
                if(document.getElementById("clubs_area").value != ""){
                    text = ";" + text;
                }
                document.getElementById("clubs_area").value += text;
            }
        }
    </script>
{% endblock %}
