{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block titre %}{% trans "Devenez adminitrateur ResEl" %}{% endblock %}

{% block content %}
  <div class="header" data-navstyle="invert">
    <h1><span class="intro">you@resel:~$</span> # Participe à une grande <span class="exp">$<span id="exp"></span></span></h1>
  </div>
  <div class="container" data-navstyle="lighten">
    <h2>En devenant administrateur ResEl tu pourras…</h2>
    <div class="row advantages">
      <div class="col-xs-8 col-xs-offset-2 col-md-5 col-md-offset-0 image">
        <div class="halo">
          <img src="{% static 'images/become/servers_light.jpg' %}" class="img-responsive img-rounded">
        </div>
      </div>
      <div class="col-md-6 col-lg-5 col-md-offset-1 text">
        <h3>… monter en compétences techniques</h3>
        <p>Avec son réseau de plus de 3000 machines réparties sur deux campus,
          le ResEl est une association technique avant tout. En participant au ResEl,
          que tu sois novice ou expert(e) en informatique, tu apprendras à maîtriser
          de nombreuses technologies utiles pour ta vie professionnelle.
          </p>
      </div>
    </div>

    <div class="row advantages">
      <div class="col-xs-8 col-xs-offset-2 col-md-5 col-md-offset-0 col-md-push-7 image">
        <div class="halo">
          <img src="{% static 'images/become/meeting_light.jpg' %}" class="img-responsive img-rounded">
        </div>
      </div>
      <div class="col-md-6 col-lg-5 col-md-pull-5 col-lg-pull-4 text-right text">
        <h3>… apprendre à gérer une équipe</h3>
        <p>Manager une équipe d'une dizaine d'étudiants administrateurs, il n'y a pas
        mieux pour apprendre les ficelles de la gestion de projets. Que les projets soient de petite
        ou de grande envergure, nous t’aiderons à les lancer.</p>
      </div>
    </div>

    <div class="row advantages">
      <div class="col-xs-8 col-xs-offset-2 col-md-5 col-md-offset-0 image">
        <div class="halo">
          <img src="{% static 'images/become/hashcode_light.jpg' %}" class="img-responsive img-rounded">
        </div>
      </div>
      <div class="col-md-6 col-lg-5 col-md-offset-1 text">
        <h3>… organiser et participer à des événements uniques</h3>
        <p>
          Le ResEl est une association étudiante très impliquée dans la vie associative
          de l’école. Cela passe par l'organisation d'événements plus ou moins importants
          comme le <a href="https://hashcode.withgoogle.com/">Google Hash code</a>, les
          <a href="https://federez.net/journees">Journées FedeRez</a>, ou encore quelques sorties
          entre administrateurs ResEl.
        </p>
      </div>
    </div>

    <div class="row advantages">
      <div class="col-xs-8 col-xs-offset-2 col-md-5 col-md-offset-0 col-md-push-7 image">
        <div class="halo">
          <img src="{% static 'images/become/federez_light.jpg' %}" class="img-responsive img-rounded">
        </div>
      </div>
      <div class="col-md-6 col-lg-5 col-md-pull-5 col-lg-pull-4 text-right text">
        <h3>...étoffer ton réseau professionnel</h3>
        <p>
          En devenant administrateur, tu entreras automatiquement dans le réseau <a href="https://federez.net/">FedeRez</a>
          qui regroupe l'ensemble des associations de réseau des Grandes Écoles. Tu profiteras de nombreuses
          opportunités de stages ou d'emplois proposés par les membres de l'association, une occasion unique.
        </p>
      </div>
    </div>

    <h2>Les différents postes disponibles</h2>

    <div class="row postes">
      <div class="col-md-4 col-lg-offset-1">
        <div class="list-group" id="titles">
        </div>
      </div>
      <div class="col-lg-6 col-md-7">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3 id="title"></h3>
            <hr />
            <p id="title-description"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center act">
      <h2>Investis-toi dès maintenant !</h2>
      <div class="col-md-4">
        <div><span class="fa fa-fw fa-5x fa-telegram"></span> </div>
        <h3><strong>Contacte</strong> l'équipe en place</h3>
        <p>
          Rejoins-nous 
          sur <a href="https://t.me/joinchat/AXiiUwC4RyojhPL7D2etbA">Telegram</a> channel #ResEl, ou sur le
          <a href="https://resel.fr/wiki/tutoriaux/discuss-with-irc">chan IRC #ResEl Réseau Sup</a>, ou encore par mail à
          <a href="mailto:dreamteam@resel.fr">dreamteam@resel.fr</a> ou <a href="{% url 'contact' %}">passe en
          perm au foyer (Brest ou Nantes)</a> !
        </p>
      </div>
      <div class="col-md-4">
        <div><span class="fa fa-fw fa-5x fa-book"></span> </div>
        <h3><strong>Apprends</strong> et documente-toi</h3>
        <p>
          Que ce soit techniquement ou humainement, tu passeras tout ton temps au ResEl à apprendre. Alors dès maintenant
          tu peux aller faire un tour sur le <a href="https://wiki.resel.fr">wiki</a> ou jeter un coup d'œil aux
          <a href="https://git.resel.fr/resel/Formation">cours ResEl</a>.
        </p>
      </div>
      <div class="col-md-4">
        <div><span class="fa fa-fw fa-5x fa-gitlab"></span> </div>
        <h3><strong>Participe</strong> aux projets en cours</h3>
        <p>
          Tu te sens prêt(e) pour participer dès maintenant aux projets de l'association, alors rends-toi dès maintenant
          sur le <a href="https://taiga.resel.fr/">gestionnaire de projet</a> ou sur <a href="https://git.resel.fr/resel/general/">notre GitLab</a> !
        </p>
      </div>
    </div>
  </div> <!-- /.container -->
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/become_admin.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
{% endblock %}

{% block javascript %}
<script>
const exps = ["AVENTURE", "EXPÉRIENCE", "ASSOCIATION", "FAMILLE"];
const titles = {
  'Président(e)': 'Le/la président(e) de l’association ResEl est la personne qui est en charge de la gestion de l’association. C’est celle qui agit en tant que représentant légal de l’association au quotidien. De l’administratif, un peu de technique, et beaucoup d’humain, c’est ce qui qualifie au mieux le poste !',
  'Trésorier(e)': 'Le/la trésorier(e) est le deuxième membre du Bureau de l’association. Son rôle est de gérer la comptabilité du ResEl, d’établir les différents bilans financiers de l’association et d’effectuer les commandes de matériel et de services. Un poste rigoureux, mais très enrichissant.',
  'Secrétaire': 'Le/la secrétaire est le troisième et dernier membre du Bureau, dont la tâche est de gérer le Secrétariat et d’épauler le Président pour les tâches administratives. Cela va de la rédaction de comptes-rendus aux envois de courriels aux membres du ResEl, en passant par l’écriture de divers contrats et conventions.',
  'Responsable du Parc Opérationnel': 'Sans doute la personne la plus importante du point de vue technique au ResEl. Le/la Respons’Parc coordonne les équipes dans leurs actions de maintenance, assure le suivi du parc informatique de l’association, veille au respect des bonnes pratiques et au bon fonctionnement des systèmes et du réseau. De quoi se blinder niveau technique.',
  'Responsable de l’Animation': 'C’est la personne qui assure le recrutement des nouveaux administrateurs, présente l’association et s’entretient avec les nouvelles recrues. Le/la Respons’Anim se charge du suivi du suivi des administrateurs de leur intégration (formation, projets) à leur quotidien au ResEl. C’est celui/celle qui anime l’esprit associatif, notamment par l’organisation d’événements.',
  'Responsable des Projets': 'Parce que le ResEl touche un peu à tout, il est parfois difficile de savoir quoi faire. Le/la Respons’Projets est la personne qui coordonne les actions de développement et de déploiement dans l’infrastructure informatique de l’association. C’est avec elle que les personnes souhaitant lancer de nouveaux projets communiquent pour une mise en œuvre dans les meilleures conditions.',
  'Responsable de la Communication': 'Véritable porte-parole de l’association, c’est lui/elle qui prépare les supports de communication (e-mails, affiches, tracs…) pour les événements, qui anime le ResEl sur les réseaux sociaux (Facebook, Twitter…), qui informe sur différents média (<i>news</i> sur le site, annonces sur les réseaux sociaux, e-mails) des informations importantes… Il faut être bon en orthographe et grammaire 😈.',
  'Responsable du Support': 'On ne peut pas plaire à tout le monde ! Parfois, les gens ont des problèmes et il faut que les administrateurs du ResEl soient réactifs. Le/la Respons’Support s’assure que les demandes des utilisateurs sont traitées rapidement, que les permanences sont bien tenues, et incite les équipes à interagir avec les utilisateurs et à les tenir au courant de l’avancement de leurs demandes.',
  'Responsable de la Formation': 'C’est le rôle le plus important au début de l’année pour que le ResEl ait de nouvelles recrues. Le/la Respons’Formation prépare le planning des formations et les différentes activités d’intégration des nouveaux arrivants. Il/elle s’assure que bénévoles préparent leurs cours suffisamment en avance et que chacun reçoive une formation cohérente avec ses compétences initiales et ses objectifs.',
  'Responsable du site rennais': 'C’est l’agent rennais du Respons’Parc. Véritable touche à tout, c’est lui/elle qui assure la bonne tenue des documentations techniques, l’organisation des réunions, des maintenances… Bref, tout ce qui touche au campus rennais.',
  'Responsable du site nantais': 'Un jour peut-être ?'
};
let i = 0;

document.addEventListener('DOMContentLoaded', () => {
  const span = document.getElementById('exp');
  const titlesDiv = document.getElementById('titles');
  const titleDiv = document.getElementById('title');
  const titleDesc = document.getElementById('title-description');

  function type() {
    const disappear = setInterval(() => {
      if (span.innerHTML.length > 0) {
        span.removeChild(span.lastChild);
      }
      else {
        clearInterval(disappear);
        let text = exps[i];
        j = 0;
        const appear = setInterval(() => {
          if (j < text.length) {
            span.append(text[j++]);
          }
          else {
            clearInterval(appear);
            i = (i + 1) % 4;
            setTimeout(type, 3000);
          }
        }, 150);
      }
    }, 35);
  }

  function switchActive(btn) {
    [...titlesDiv.children].forEach(e => {
      if (e === btn)
        e.classList.add('active');
      else
        e.classList.remove('active');
    });
  }

  type();

  let first = true;
  for (const title in titles) {
    const btn = document.createElement('button');
    btn.className = 'list-group-item';
    btn.innerHTML = title;
    titlesDiv.appendChild(btn);
    btn.addEventListener('click', e => {
      titleDiv.innerHTML = title;
      titleDesc.innerHTML = titles[title];
      switchActive(e.target);
    });
    if (first) {
      btn.click();
      first = false;
    }
  }
});
</script>
{% endblock %}
