{% extends 'pages/home/home.html' %}
{% load i18n %}
{% load staticfiles %}
{% block presentation %}
    <div class="home-fragment home-presentation">
        <div class="container">
            {% if is_registered %}
                <h2>{% trans "Erreur : mauvais réseau"%}</h2>
                {% if vlan == "999" %}
                    <p>{% blocktrans %}
                        Bien que votre machine soit inscrite sur notre réseau, vous êtes toujours sur la zone d'inscription.
                        Il semblerait que vous soyez connecté au réseau Wifi "ResEl inscription".
                        Il est impossible d'avoir accès à internet depuis ce réseau Wifi pour des raisons de sécurité.<br/>
                        Veuillez vous connecter sur le réseau Wifi "ResEl Secure".
                    {% endblocktrans %}</p>
                {% elif vlan == "995" %}
                    <p>{% blocktrans %}
                        Bien que votre machine soit inscrite sur notre réseau, vous êtes toujours sur la zone d'inscription.
                        Si vous venez de vous inscrire, c'est normal, vous devez avant débrancher puis rebrancher votre câble réseau, ou vous
                        déconnecter du réseau Wifi puis vous y reconnecter (sur le réseau Wifi "ResEl Secure").
                    {% endblocktrans %}</p>
                {% endif %}
            {% endif %}
            {% if is_logged_in %}
                <h2>{% trans "Vous êtes sur la zone d'inscription"%}</h2>
                <p>{% blocktrans %}
                    Votre machine est actuellement connectée sur la zone inscription. Dans cette zone, vous n'avez pas accès à internet.
                    Avant d'avoir internet, passez sur notre site pour inscrire votre machine à votre compte sur notre réseau.
                {% endblocktrans %}</p>
                <a href="{% url 'gestion-machines:ajout' %}" class="btn btn-default btn-lg ">{%  trans "Je fonce !"%}</a>
            {% else %}
                <h2>{% trans "Vous êtes sur la zone d'inscription"%}</h2>
                <p>{% blocktrans %}
                    Votre machine est actuellement connectée sur la zone inscription. Dans cette zone, vous n'avez pas accès à internet.
                    Avant d'avoir internet, passez sur notre site pour vous inscrire à notre association.
                {% endblocktrans %}</p>
                <a href="{% url 'gestion-machines:ajout' %}" class="btn btn-default btn-lg ">{%  trans "Je fonce !"%}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
