{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block titre %}{% trans "Statut du réseau" %}{% endblock %}

{% block content %}
  <script src="{% static 'js/vendors/vue.js' %}"></script>
  <script src="{% static 'js/vendors/lodash.js' %}"></script>
  <script src="{% static 'js/vendors/anime.js' %}"></script>
  <div id="network-status-app" xmlns:v-on="http://www.w3.org/1999/xhtml"
       xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="global-status" v-bind:class="global_status">
      <span class="fa fa-fw fa-circle" v-bind:class="global_status"></span> [[ global_status_text ]]
    </div>
    <transition name="fade">
    <div class="details" v-if="display_details" v-bind:style="{ left: details.left + 'px', top: details.top + 'px' }"
    @mouseleave="hide_details()">
      <div class="details-status">
        <span class="fa fa-fw fa-circle" :class="details.status"></span> [[ details.status_text ]]
      </div>
      <div class="grid-wrap">
        <div class="details-icon">
          <span class="fa" :class="[ details.icon, details.status ]"></span>
          <div class="details-title">[[ details.title ]]</div>
        </div>
        <div class="details-details">[[ details.text ]]
        </div>
      </div>
    </div>
    </transition>
    <div id="svgContainer" ref="pathContainer" style="margin: 50px 50px;">
      <div class="el" v-for="(path, i) in connections" ref="el" :class="'el' + i"></div>
      <svg id="svg1" width="0" height="0" ref="svg1" >
        <path v-for="(path, i) in connections"
            :id="'path' + i"
            d="M0 0"
            stroke="rgb(107, 79, 187)"
            fill="none"
            stroke-width="3px"
            ref="path"></path>
      </svg>
    </div>
    <div class="network">
      <div id="internet-access" ref="#internet-access">
        <div class="network-description">Internet</div>
        <div class="card">
          <div id="adista" class="fa fa-cloud" @mouseenter="show_details('#adista')" ref="#adista" :class="services['#adista'].status"></div>
          <div id="renater" class="fa fa-cloud" @mouseenter="show_details('#renater')" ref="#renater" :class="services['#renater'].status"></div>
        </div>
      </div>
      <div id="network-edge" ref="#network-edge">
        <div class="network-description">Tête de réseau</div>
        <div class="content">
          <div id="zahia" class="fa fa-server" @mouseenter="show_details('#zahia')" ref="#zahia" :class="services['#zahia'].status"></div>
          <div id="matahari" class="fa fa-server" @mouseenter="show_details('#matahari')" ref="#matahari" :class="services['#matahari'].status"></div>
        </div>
      </div>
      <div id="network-core" ref="#network-core">
        <div class="network-description">Coeur de réseau</div>
        <div class="content">
          <div id="rescure-stack">
            <span id="radius" class="fa fa-wifi service" @mouseenter="show_details('#wifi')" ref="#wifi"></span>
            <span id="dhcp" class="fa fa-legal service" @mouseenter="show_details('#legal')" ref="#legal"></span>
            <span id="dns" class="fa fa-book service" @mouseenter="show_details('#book')" ref="#book"></span>
          </div>
          <span id="kuma" class="fa fa-circle-o" @mouseenter="show_details('#kuma')" ref="#kuma" :class="services['#kuma'].status"></span>
          <div id="main-stack">
            <span id="radius" class="fa fa-wifi service" @mouseenter="show_details('#wifi')" ref="#wifi"></span>
            <span id="dhcp" class="fa fa-legal service" @mouseenter="show_details('#legal')" ref="#legal"></span>
            <span id="dns" class="fa fa-book service" @mouseenter="show_details('#book')" ref="#book"></span>
            <span id="ldap" class="fa fa-address-book service" @mouseenter="show_details('#address-book')" ref="#address-book"></span>
            <span id="mysql" class="fa fa-database service" @mouseenter="show_details('#database')" ref="#database"></span>
            <span id="monitoring" class="fa fa-area-chart service" @mouseenter="show_details('#area-chart')" ref="#area-chart"></span>
            <span id="web" class="fa fa-internet-explorer service" @mouseenter="show_details('#ie')" ref="#ie"></span>
            <span id="tv" class="fa fa-television service" @mouseenter="show_details('#television')" ref="#television"></span>
            <span id="backup" class="fa fa-floppy-o service" @mouseenter="show_details('#floppy')" ref="#floppy"></span>
            <span id="mail" class="fa fa-envelope service" @mouseenter="show_details('#envelope')" ref="#envelope"></span>
            <span id="garbage" class="fa fa-film service" @mouseenter="show_details('#film')" ref="#film"></span>
          </div></div>

      </div>
      <div id="network-access" class="card" ref="#network-access">
        <div class="network-description">Réseau d'accès</div>
        <span id="i1" class="fa fa-building building" @mouseenter="show_details('#i1')" ref="#i1"></span>
        <span id="i2" class="fa fa-building building" @mouseenter="show_details('#i2')" ref="#i2"></span>
        <span id="i3" class="fa fa-building building" @mouseenter="show_details('#i3')" ref="#i3"></span>
        <span id="i4" class="fa fa-building building" @mouseenter="show_details('#i4')" ref="#i4"></span>
        <span id="i5" class="fa fa-building building" @mouseenter="show_details('#i5')" ref="#i5"></span>
        <span id="i6" class="fa fa-building building" @mouseenter="show_details('#i6')" ref="#i6"></span>
        <span id="i7" class="fa fa-building building" @mouseenter="show_details('#i7')" ref="#i7"></span>
        <span id="i8" class="fa fa-building building" @mouseenter="show_details('#i8')" ref="#i8"></span>
        <span id="i9" class="fa fa-building building" @mouseenter="show_details('#i9')" ref="#i9"></span>
        <span id="i10" class="fa fa-building building" @mouseenter="show_details('#i10')" ref="#i10"></span>
        <span id="i11" class="fa fa-building building" @mouseenter="show_details('#i11')" ref="#i11"></span>
        <span id="i12" class="fa fa-building building" @mouseenter="show_details('#i12')" ref="#i12"></span>
      </div>
    </div>
    <div class="sep"></div>
  </div> <!-- /.container -->
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/status_page.css' %}">
  <!--<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">-->
{% endblock %}

{% block javascript %}
  <script>
    var app = new Vue({
      el: '#network-status-app',
      data: {
        current_details: "#adista",
        display_details: false,
        mouse_hover_details: false,
        global_status: "success",
        global_status_text: "Tous les services sont nominaux",
        connections: [
          {
            start: '#adista',
            end: '#network-edge',
          },
          {
            start: '#internet-access',
            end: '#zahia',
          },
          {
            start: '#zahia',
            end: '#network-core',
          },
          {
            start: '#network-edge',
            end: '#kuma',
          },
          {
            start: '#kuma',
            end: '#network-access',
          },
        ],
        services: {
          '#adista': {
            title: "Connexion Adista",
            status_text: "Connexion fonctionnelle",
            text: "La connexion Adista est la connexion principale du ResEl",
            icon: "fa-cloud",
            status: "success"
          },
          '#renater': {
            title: "Connexion Renater",
            status_text: "Connexion fonctionnelle",
            text: "La connexion Renater est la connexion de secours du ResEl sur le campus de Brest",
            icon: "fa-cloud",
            status: "success"
          },
          '#zahia': {
            title: "Firewall Zahia",
            status_text: "Fonctionnel",
            text: "Zahia est le firewall principal à Brest",
            icon: "fa-server",
            status: "success"
          },
          '#matahari': {
            title: "Firewall Matahari",
            status_text: "Fonctionnel",
            text: "Matahari est le firewall secondaire à Brest",
            icon: "fa-server",
            status: "success"
          },
          '#kuma': {
            title: "Routeur de coeur Kuma",
            status_text: "Fonctionnel",
            text: "Kuma est le routeur de coeur du campus de Brest, il permet de router les packets entre les différents réseaux",
            icon: "fa-circle-o",
            status: "success"
          },
          '#i1': {
            title: "Bâtiment I1",
            status_text: "Fonctionnel",
            text: "Switch d'accès au I1 et bornes Wi-Fi du I1",
            icon: "fa-building building",
            status: "success"
          },
        }
      },
      computed: {
        details: function() {
          var target = this.$refs[this.current_details]
          return {
            title: this.services[this.current_details].title,
            status_text: this.services[this.current_details].status_text,
            status: this.services[this.current_details].status,
            text: this.services[this.current_details].text,
            icon: this.services[this.current_details].icon,
            left: target.offsetLeft - 60,
            top: target.offsetTop - 60
          }
        }
      },
      delimiters: ['[[', ']]'],
      mounted: function () {
        this.initPaths()
        window.addEventListener('resize', this.initPaths)
      },
      methods: {
        show_details: function (target) {
          this.current_details = target
          this.display_details = true
          this.mouse_hover_details = true
        },
        hide_details: function () {
          that = this
          this.mouse_hover_details = false
          _.delay(function () {
            if (!that.mouse_hover_details) {
              that.display_details = false
            }
          }, 400)
        },
        initPaths:  function () {
          this.$refs['svg1'].setAttribute('width', 0)
          this.$refs['svg1'].setAttribute('height', 0)
          for (var i in this.connections) {
            this.connectElements(
                this.$refs['svg1'],
                this.$refs['path'][i],
                this.$refs[this.connections[i].start],
                this.$refs[this.connections[i].end])
            var path = anime.path('#path' + i)
            anime({
              targets: '#svgContainer .el' + i,
              translateX: path('x'),
              translateY: path('y'),
              rotate: path('angle'),
              easing: 'linear',
              duration: 1500,
              loop: true
            });
          }
        },
        connectElements: function (svg, path, startElem, endElem) {
          var svgContainer = this.$refs['pathContainer']

          // if first element is lower than the second, swap!
          if (startElem.offsetTop > endElem.offsetTop) {
            var temp = startElem
            startElem = endElem
            endElem = temp
          }

          // get (top, left) corner coordinates of the svg container
          var svgTop  = svgContainer.offsetTop
          var svgLeft = svgContainer.offsetLeft

          // get (top, left) coordinates for the two elements
          var startCoord = {left: startElem.offsetLeft, top: startElem.offsetTop}
          var endCoord = {left: endElem.offsetLeft, top: endElem.offsetTop}

          // calculate path's start (x,y)  coords
          // we want the x coordinate to visually result in the element's mid point
          var startX = startCoord.left + 0.5*startElem.offsetWidth - svgLeft    // x = left offset + 0.5*width - svg's left offset
          var startY = startCoord.top  + startElem.offsetHeight - svgTop        // y = top offset + height - svg's top offset

          // calculate path's end (x,y) coords
          var endX = endCoord.left + 0.5*endElem.offsetWidth - svgLeft
          var endY = endCoord.top  - svgTop

          // call function for drawing the path
          this.drawPath(svg, path, startX, startY, endX, endY);
        },
        drawPath: function (svg, path, startX, startY, endX, endY) {
          // get the path's stroke width (if one wanted to be  really precise, one could use half the stroke size)
          var stroke =  parseFloat(path.getAttribute("stroke-width"));
          // check if the svg is big enough to draw the path, if not, set heigh/width
          if (svg.getAttribute("height") <  endY)                 svg.setAttribute("height", endY);
          if (svg.getAttribute("width" ) < (startX + stroke) )    svg.setAttribute("width", (startX + stroke));
          if (svg.getAttribute("width" ) < (endX   + stroke) )    svg.setAttribute("width", (endX   + stroke));

          var deltaX = (endX - startX) * .18;
          var deltaY = (endY - startY) * .18
          // for further calculations which ever is the shortest distance
          var delta  =  deltaY < Math.abs(deltaX) ? deltaY : Math.abs(deltaX)

          // set sweep-flag (counter/clock-wise)
          // if start element is closer to the left edge,
          // draw the first arc counter-clockwise, and the second one clock-wise
          var arc1 = 0; var arc2 = 1;
          if (startX > endX) {
            arc1 = 1;
            arc2 = 0;
          }
          // draw tha pipe-like path
          // 1. move a bit down, 2. arch,  3. move a bit to the right, 4.arch, 5. move down to the end
          path.setAttribute("d",  "M"  + startX + " " + startY +
              " V" + (startY + delta) +
              " A" + delta + " " +  delta + " 0 0 " + arc1 + " " + (startX + delta*Math.sign(deltaX)) + " " + (startY + 2*delta) +
              " H" + (endX - delta*Math.sign(deltaX)) +
              " A" + delta + " " +  delta + " 0 0 " + arc2 + " " + endX + " " + (startY + 3*delta) +
              " V" + endY );
        }
      },
      watch: {
      }
    })
  </script>
{% endblock %}
