{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block titre %}{% trans "Statut du réseau" %}{% endblock %}

{% block content %}
  <script src="{% static 'js/vendors/vue.js' %}"></script>
  <script src="{% static 'js/vendors/lodash.js' %}"></script>
  <script src="{% static 'js/vendors/anime.js' %}"></script>
  <div id="network-status-app" xmlns:v-on="http://www.w3.org/1999/xhtml"
       xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="global-status container" v-bind:class="global_status">
      <div class="row">
        <div class="col-sm-8">
          <span class="fa fa-fw fa-circle" v-bind:class="global_status"></span> [[ global_status_text ]]
        </div>
        <div class="col-sm-4">
          <div class="btn-group" v-bind:class="global_status">
            <button class="btn btn-info">Brest</button>
            <button class="btn btn-default" disabled>Rennes</button>
            <button class="btn btn-default" disabled>Nantes</button>
          </div>
        </div>
      </div>
    </div>
    <transition name="fade">
    <div class="details" v-if="display_details" v-bind:style="{ left: details.left + 'px', top: details.top + 'px' }"
    @mouseleave="hide_details()">
      <div class="details-status">
        <span class="fa fa-fw fa-circle" :class="details.status"></span> [[ details.status_text ]]
      </div>
      <div class="grid-wrap">
        <div class="details-icon">
          <span class="fa" :class="[ details.icon, details.status ]"></span>
          <div class="details-title">[[ details.title ]]</div>
        </div>
        <div class="details-details">[[ details.text ]]
        </div>
      </div>
    </div>
    </transition>
    <div id="svgContainer" ref="pathContainer" style="margin: 50px 50px;">
      <div class="el" v-for="(path, i) in connections" ref="el" :class="'el' + i"></div>
      <svg id="svg1" width="0" height="0" ref="svg1" >
        <path v-for="(path, i) in connections"
            :id="'path' + i"
            d="M0 0"
            stroke="rgb(107, 79, 187)"
            fill="none"
            stroke-width="3px"
            ref="path"></path>
      </svg>
    </div>
    <div class="network">
      <div id="internet-access">
        <div class="network-description">Internet</div>
        <div class="card">
          <div v-for="(service, name) in getServices('internet-access')"
               class="fa fa-cloud"
               :class="[service.icon, service.status]"
               :id="name"
          @mouseenter="show_details(service, $event)"></div>
        </div>
      </div>
      <div id="network-edge">
        <div class="network-description">Tête de réseau</div>
        <div class="content">
          <div v-for="(service, name) in getServices('network-edge')"
               class="fa server"
               :class="[service.icon, service.status]"
               :id="name"
               @mouseenter="show_details(service, $event)"></div>
        </div>
      </div>
      <div id="network-core" ref="#network-core">
        <div class="network-description">Coeur de réseau</div>
        <div class="content">
          <div id="rescue-stack">
          <span v-for="(service, name) in getServices('rescue-stack')"
                class="fa service"
                :class="[service.icon, service.status]"
                :id="name"
                @mouseenter="show_details(service, $event)"></span>
          </div>
          <span v-for="(service, name) in getServices('network-core')"
               class="fa"
               :class="[service.icon, service.status]"
               :id="name"
               @mouseenter="show_details(service, $event)"></span>
          <div id="main-stack">
          <span v-for="(service, name) in getServices('main-stack')"
                class="fa service"
                :class="[service.icon, service.status]"
                :id="name"
                @mouseenter="show_details(service, $event)"></span>
          </div></div>

      </div>
      <div id="network-access" class="card" ref="#network-access">
        <div class="network-description">Réseau d'accès</div>
        <span v-for="(service, name) in getServices('network-access')"
              class="fa service"
              :class="[service.icon, service.status]"
              :id="name"
              @mouseenter="show_details(service, $event)"></span>
      </div>
    </div>
    <div class="sep"></div>
  </div> <!-- /.container -->
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/status_page.css' %}">
  <!--<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">-->
{% endblock %}

{% block javascript %}
  <script>
    var app = new Vue({
      el: '#network-status-app',
      data: {
        current_details: "#adista",
        display_details: false,
        mouse_hover_details: false,
        global_status: "success",
        global_status_text: "Tous les services sont nominaux",
        connections: [
          {
            start: 'adista',
            end: 'network-edge',
          },
          {
            start: 'internet-access',
            end: 'zahia',
          },
          {
            start: 'zahia',
            end: 'network-core',
          },
          {
            start: 'network-edge',
            end: 'kuma',
          },
          {
            start: 'kuma',
            end: 'network-access',
          },
        ],
        services: {
          'adista': {
            title: "Connexion Adista",
            status_text: "Connexion fonctionnelle",
            text: "La connexion Adista est la connexion principale du ResEl",
            icon: "fa-cloud",
            status: "success",
            category: "internet-access"
          },
          'renater': {
            title: "Connexion Renater",
            status_text: "Connexion fonctionnelle",
            text: "La connexion Renater est la connexion de secours du ResEl sur le campus de Brest",
            icon: "fa-cloud",
            status: "success",
            category: "internet-access"
          },
          'zahia': {
            title: "Firewall Zahia",
            status_text: "Fonctionnel",
            text: "Zahia est le firewall principal à Brest",
            icon: "fa-server",
            status: "success",
            category: "network-edge"
          },
          'matahari': {
            title: "Firewall Matahari",
            status_text: "Fonctionnel",
            text: "Matahari est le firewall secondaire à Brest",
            icon: "fa-server",
            status: "success",
            category: "network-edge"
          },
          'kuma': {
            title: "Routeur de coeur Kuma",
            status_text: "Fonctionnel",
            text: "Kuma est le routeur de coeur du campus de Brest, il permet de router les packets entre les différents réseaux",
            icon: "fa-circle-o",
            status: "success",
            category: "network-core"
          },
          'radius2': {
            title: "Radius de secours",
            status_text: "Fonctionnel",
            text: "Le radius de secours",
            icon: "fa-wifi",
            status: "success",
            category: "rescue-stack"
          },
          'dhcp2': {
            title: "DHCP de secours",
            status_text: "Fonctionnel",
            text: "Le dhcp de secours",
            icon: "fa-legal",
            status: "success",
            category: "rescue-stack"
          },
          'dns2': {
            title: "DNS de secours",
            status_text: "Fonctionnel",
            text: "Le DNS de secours",
            icon: "fa-book",
            status: "success",
            category: "rescue-stack"
          },
          'radius': {
            title: "RADIUS principal",
            status_text: "Fonctionnel",
            text: "Le RADIUS principal",
            icon: "fa-wifi",
            status: "success",
            category: "main-stack"
          },
          'dns': {
            title: "DNS principal",
            status_text: "Fonctionnel",
            text: "Le DNS principal",
            icon: "fa-book",
            status: "success",
            category: "main-stack"
          },
          'dhcp': {
            title: "DHCP principal",
            status_text: "Fonctionnel",
            text: "Le DHCP principal",
            icon: "fa-legal",
            status: "success",
            category: "main-stack"
          },
          'ldap': {
            title: "LDAP",
            status_text: "Fonctionnel",
            text: "Le LDAP principal",
            icon: "fa-address-book",
            status: "success",
            category: "main-stack"
          },
          'mysql': {
            title: "MariaDB",
            status_text: "Fonctionnel",
            text: "Le MariaDB principal",
            icon: "fa-database",
            status: "success",
            category: "main-stack"
          },
          'monitoring': {
            title: "Monitoring",
            status_text: "Fonctionnel",
            text: "Le monitoring principal",
            icon: "fa-area-chart",
            status: "success",
            category: "main-stack"
          },
          'web': {
            title: "Les sites web",
            status_text: "Fonctionnel",
            text: "Le web principal",
            icon: "fa-internet-explorer",
            status: "success",
            category: "main-stack"
          },
          'tv': {
            title: "Les services TV",
            status_text: "Fonctionnel",
            text: "Le tv principal",
            icon: "fa-television",
            status: "success",
            category: "main-stack"
          },
          'backup': {
            title: "Le système de backup",
            status_text: "Fonctionnel",
            text: "Le backup principal",
            icon: "fa-floppy-o",
            status: "success",
            category: "main-stack"
          },
          'mail': {
            title: "Le système de mail",
            status_text: "Fonctionnel",
            text: "Le mail principal",
            icon: "fa-envelope",
            status: "success",
            category: "main-stack"
          },
          'garbage': {
            title: "Le système de garbage",
            status_text: "Fonctionnel",
            text: "Le garbage principal",
            icon: "fa-film",
            status: "success",
            category: "main-stack"
          },
          'i1': {
            title: "Bâtiment I1",
            status_text: "Fonctionnel",
            text: "Switch d'accès au I1 et bornes Wi-Fi du I1",
            icon: "fa-building building",
            status: "success",
            category: "network-access"
          },
          'i2': {
            title: "Bâtiment I2",
            status_text: "Fonctionnel",
            text: "Switch d'accès au I1 et bornes Wi-Fi du I1",
            icon: "fa-building building",
            status: "success",
            category: "network-access"
          },
          'i3': {
            title: "Bâtiment I3",
            status_text: "Fonctionnel",
            text: "Switch d'accès au I1 et bornes Wi-Fi du I1",
            icon: "fa-building building",
            status: "success",
            category: "network-access"
          },
          'i4': {
            title: "Bâtiment I4",
            status_text: "Fonctionnel",
            text: "Switch d'accès au I1 et bornes Wi-Fi du I1",
            icon: "fa-building building",
            status: "success",
            category: "network-access"
          },
          'i5': {
            title: "Bâtiment I5",
            status_text: "Fonctionnel",
            text: "Switch d'accès au I1 et bornes Wi-Fi du I1",
            icon: "fa-building building",
            status: "success",
            category: "network-access"
          },
          'i6': {
            title: "Bâtiment I6",
            status_text: "Fonctionnel",
            text: "Switch d'accès au I1 et bornes Wi-Fi du I1",
            icon: "fa-building building",
            status: "success",
            category: "network-access"
          },
          'i7': {
            title: "Bâtiment I7",
            status_text: "Fonctionnel",
            text: "Switch d'accès au I1 et bornes Wi-Fi du I1",
            icon: "fa-building building",
            status: "success",
            category: "network-access"
          },
          'i8': {
            title: "Bâtiment I8",
            status_text: "Fonctionnel",
            text: "Switch d'accès au I1 et bornes Wi-Fi du I1",
            icon: "fa-building building",
            status: "success",
            category: "network-access"
          },
          'i9': {
            title: "Bâtiment I9",
            status_text: "Fonctionnel",
            text: "Switch d'accès au I1 et bornes Wi-Fi du I1",
            icon: "fa-building building",
            status: "success",
            category: "network-access"
          },
          'i10': {
            title: "Bâtiment I10",
            status_text: "Fonctionnel",
            text: "Switch d'accès au I1 et bornes Wi-Fi du I1",
            icon: "fa-building building",
            status: "success",
            category: "network-access"
          },
          'i11': {
            title: "Bâtiment I11",
            status_text: "Fonctionnel",
            text: "Switch d'accès au I1 et bornes Wi-Fi du I1",
            icon: "fa-building building",
            status: "success",
            category: "network-access"
          },
          'i12': {
            title: "Bâtiment I12",
            status_text: "Fonctionnel",
            text: "Switch d'accès au I1 et bornes Wi-Fi du I1",
            icon: "fa-building building",
            status: "success",
            category: "network-access"
          },
          'foyer': {
            title: "Foyer",
            status_text: "Fonctionnel",
            text: "Switch d'accès au I1 et bornes Wi-Fi du I1",
            icon: "fa-building building",
            status: "success",
            category: "network-access"
          },
        }
      },
      computed: {
        details: function() {
          var target = this.current_details.target
          return {
            title: this.current_details.service.title,
            status_text: this.current_details.service.status_text,
            status: this.current_details.service.status,
            text: this.current_details.service.text,
            icon: this.current_details.service.icon,
            left: target.offsetLeft - 60,
            top: target.offsetTop - 60
          }
        }
      },
      delimiters: ['[[', ']]'],
      mounted: function () {
        this.initPaths()
        window.addEventListener('resize', this.initPaths)
      },
      methods: {
        show_details: function (service, event) {
          console.log(service)
          this.current_details = {service: service, target: event.target}
          this.display_details = true
          this.mouse_hover_details = true
        },
        hide_details: function () {
          that = this
          this.mouse_hover_details = false
          _.delay(function () {
            if (!that.mouse_hover_details) {
              that.display_details = false
            }
          }, 400)
        },
        initPaths:  function () {
          this.$refs['svg1'].setAttribute('width', 0)
          this.$refs['svg1'].setAttribute('height', 0)
          for (var i in this.connections) {
            this.connectElements(
                this.$refs['svg1'],
                this.$refs['path'][i],
                document.getElementById(this.connections[i].start),
                document.getElementById(this.connections[i].end))
            var path = anime.path('#path' + i)
            anime({
              targets: '#svgContainer .el' + i,
              translateX: path('x'),
              translateY: path('y'),
              rotate: path('angle'),
              easing: 'linear',
              duration: 1500,
              loop: true
            });
          }
        },
        connectElements: function (svg, path, startElem, endElem) {
          var svgContainer = this.$refs['pathContainer']

          // if first element is lower than the second, swap!
          if (startElem.offsetTop > endElem.offsetTop) {
            var temp = startElem
            startElem = endElem
            endElem = temp
          }

          // get (top, left) corner coordinates of the svg container
          var svgTop  = svgContainer.offsetTop
          var svgLeft = svgContainer.offsetLeft

          // get (top, left) coordinates for the two elements
          var startCoord = {left: startElem.offsetLeft, top: startElem.offsetTop}
          var endCoord = {left: endElem.offsetLeft, top: endElem.offsetTop}

          // calculate path's start (x,y)  coords
          // we want the x coordinate to visually result in the element's mid point
          var startX = startCoord.left + 0.5*startElem.offsetWidth - svgLeft    // x = left offset + 0.5*width - svg's left offset
          var startY = startCoord.top  + startElem.offsetHeight - svgTop        // y = top offset + height - svg's top offset

          // calculate path's end (x,y) coords
          var endX = endCoord.left + 0.5*endElem.offsetWidth - svgLeft
          var endY = endCoord.top  - svgTop

          // call function for drawing the path
          this.drawPath(svg, path, startX, startY, endX, endY);
        },
        drawPath: function (svg, path, startX, startY, endX, endY) {
          // get the path's stroke width (if one wanted to be  really precise, one could use half the stroke size)
          var stroke = parseFloat(path.getAttribute("stroke-width"));
          // check if the svg is big enough to draw the path, if not, set heigh/width
          if (svg.getAttribute("height") < endY) svg.setAttribute("height", endY);
          if (svg.getAttribute("width") < (startX + stroke)) svg.setAttribute("width", (startX + stroke));
          if (svg.getAttribute("width") < (endX + stroke)) svg.setAttribute("width", (endX + stroke));

          var deltaX = (endX - startX) * .18;
          var deltaY = (endY - startY) * .18
          // for further calculations which ever is the shortest distance
          var delta = deltaY < Math.abs(deltaX) ? deltaY : Math.abs(deltaX)

          // set sweep-flag (counter/clock-wise)
          // if start element is closer to the left edge,
          // draw the first arc counter-clockwise, and the second one clock-wise
          var arc1 = 0;
          var arc2 = 1;
          if (startX > endX) {
            arc1 = 1;
            arc2 = 0;
          }
          // draw tha pipe-like path
          // 1. move a bit down, 2. arch,  3. move a bit to the right, 4.arch, 5. move down to the end
          path.setAttribute("d", "M" + startX + " " + startY +
              " V" + (startY + delta) +
              " A" + delta + " " + delta + " 0 0 " + arc1 + " " + (startX + delta * Math.sign(deltaX)) + " " + (startY + 2 * delta) +
              " H" + (endX - delta * Math.sign(deltaX)) +
              " A" + delta + " " + delta + " 0 0 " + arc2 + " " + endX + " " + (startY + 3 * delta) +
              " V" + endY);
        },
        getServices: function(category) {
          return _.pickBy(this.services, function (s) {
            return s.category === category
          })
        }
      },
      watch: {
      }
    })
  </script>
{% endblock %}
