{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block titre %}News{% endblock %}

{% block content %}
    <div>
        <div>
            {# Affichage normal de la page #}
            <div class="home-fragment home-user-management">
                <div class="container">
                    <div class="row">
                        <h2>{% trans "Les dernières Actualités" %}</h2>
                        <p>{% trans "Vous trouverez ici l'intégralité des Actualités ResEl."%}</p>
                        <p>{% trans "N'hésitez pas non plus à nous trouver sur "%} <a href="https://www.facebook.com/Reselfr">Facebook</a> et <a href="https://twitter.com/resel_fr">Twitter</a></p>
                        <p><a href="{% url 'rss' %}"><span class="fa fa-rss-square"></span> {% trans "Flux RSS" %}</a> <a href="{% url 'atom' %}">{% trans "Flux Atom" %}</a></p>
                    </div>
                </div>
            </div>
            <div class="home-fragment home-presentation">
                <div class="container text-left article">
                  {% for billet in derniers_billets %}
                     <div class="news-container">
                         <div class="panel-heading centered"><h3><a href="{%url 'piece-of-news' billet.pk %}">{{ billet.title }}</a></h3><hr /></div>
                         <div class="panel-body">{{ billet.content|safe|truncatewords_html:150 }}</div>
                         <div class="centered"><a href="{%url 'piece-of-news' billet.pk %}">{% trans "Lire la suite" %}</a></div><hr />
                         <div class="pieceofnews-footer">{% blocktrans with author=billet.author date=billet.date %}{{author}}, le {{date}}{% endblocktrans %}</div>
                     </div>
                  {% empty %}
                  <p>{% trans "Pas de news à l'horizon" %}</p>
                  {% endfor %}
                  {% if is_paginated %}
                      <div class="pagination">
                             {% if page_obj.has_previous %}
                                 <a href="?page={{ page_obj.previous_page_number }}"> {% trans "Précédente" %} </a> —
                             {% endif %}
                             {% trans "Page " %}{{ page_obj.number }} {% trans "sur" %} {{ page_obj.paginator.num_pages }}
                             {% if page_obj.has_next %}
                                — <a href="?page={{ page_obj.next_page_number }}"> {% trans "Suivante" %} </a>
                              {% endif %}
                      </div>
                  {% endif %}
               </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}
