{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link href="{% static 'css/service.css' %}" rel="stylesheet">
{% endblock %}

{% block titre %}Services{% endblock %}

{% block content %}
    <div>
        <div>
            <div class="home-fragment home-user-management">
                <div class="container">
                    <div class="row">
                        <h2>{% trans "Les services ResEl" %}</h2>
                        <p>{% trans "Retrouvez ici tous les services proposés par le ResEl."%}</p>
                    </div>
                </div>
            </div>
            <div class="service-wrapper">
               <div class="additional-icon">
                  <img src="{% static 'images/icons/server.png'%}" class="additional-icon-top" />
               </div>
               <div class="container service-container">
                  {% for service in services %}
                  <div class="service">
                  {% if forloop.counter|add:-1|divisibleby:2 %}
                     <div class="col-xs-offset-5 col-xs-2 icon-service">
                         <a href="{{ service.get_absolute_url }}"><img src="{{service.icon.url}}" alt="{{ service.name }}"></a>
                     </div>
                     <div class=" col-xs-5 service-description-right">
                         <div class="service-content service-right">
                             <h2 class="service-title">{{ service.name }}</h2>
                             <p>{{ service.description }}</p>
                             <a href="{{ service.get_absolute_url }}">En savoir plus</a>
                         </div>
                     </div>
                  {% endif %}
                  {% if forloop.counter|divisibleby:2 %}
                     <div class="col-xs-5 service-description-left">
                         <div class="service-content service-left">
                             <h2 class="service-title">{{ service.name }}</h2>
                             <p>{{ service.description }}</p>
                             <a href="{{ service.get_absolute_url }}">En savoir plus</a>
                         </div>
                     </div>
                     <div class="col-xs-2 icon-service">
                         <a href="{{ service.get_absolute_url }}"><img src="{{service.icon.url}}" alt="{{ service.name }}"></a>
                     </div>

                  {% endif %}
                  </div>
                  {% endfor%}
                  <div class="additional-icon">
                     <img src="{% static 'images/icons/computer.png'%}" />
                  </div>
               </div>
            </div>
            <div class="home-fragment home-presentation service-wrapper-mobile">
                <div class="container">
                   {% for service in services %}
                   {% if forloop.counter|add:-1|divisibleby:2 %}
                     <div class="row service">
                   {% endif %}
                      {% if forloop.counter|add:-1|divisibleby:2 %}
                        <div class="col-md-2">
                      {% else %}
                        <div class=" col-md-offset-2 col-md-2">
                      {% endif %}
                          <a class="service-link" href="{{ service.get_absolute_url }}">
                             <span class="glyphicon service-glyphicon {{ service.glyphicon_name }} service-icon revealOnScroll" aria-hidden="true"></span>
                          </a>
                      </div>
                      <div class="col-md-3">
                         <span class="service-description">
                           <h3 class="service-title">{{ service.name }}</h3>
                           <p class="service-description-text">{{ service.description }}</p>
                           <a href="{{ service.get_absolute_url }}">En savoir plus</a>
                         </span>
                      </div>
                   {% if forloop.counter|divisibleby:2 %}
                     </div>
                   {% endif %}
                   {% empty %}
                   {% endfor %}
                  </div>
               </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}

{% block javascript %}
<script src="{% static 'js/modernizr.js' %}"></script>
<script>
   $(function() {

     var $window           = $(window),
         win_height_padded = $window.height() * 1.1,
         isTouch           = Modernizr.touch;

     if (isTouch) { $('.revealOnScroll').removeClass('animated'); }

     $window.on('scroll', revealOnScroll);

     function revealOnScroll() {
       var scrolled = $window.scrollTop(),
           win_height_padded = $window.height() * 1.1;

       // Showed...
       $(".revealOnScroll").each(function () {
         var $this     = $(this),
             offsetTop = $this.offset().top;

         if (scrolled + win_height_padded > offsetTop) {
             $this.removeClass('revealOnScroll');
             $this.addClass('animated');
         }
       });
       // Hidden...
      $(".animated").each(function (index) {
         var $this     = $(this),
             offsetTop = $this.offset().top;
         if (scrolled + win_height_padded < offsetTop) {
           $(this).addClass('revealOnScroll')
           $(this).removeClass('animated')
         }
       });
     }

     revealOnScroll();
   });
</script>
{% endblock %}
