{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titre %}{% trans "Permission refusée" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{% trans "Permission refusée" %}</h1>
            <div class="col-lg-12 text-center"><a type="button" href="{% url 'home' %}">{% trans "Retour à la page d'accueil" %}</a></div>
            <div class="col-lg-12 text-center">
                <p>{% blocktrans %}Vous n'êtes pas autorisé à accéder à cette page{% endblocktrans %}</p>
                <img style="width: 80%; height: auto;" class="img-responsive" src="{% static 'images/permission_denied.png' %}"/>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}