{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titre %}{% trans "Erreur interne" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{% trans "Erreur interne" %}</h1>
            <div class="col-lg-12 text-center">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {% blocktrans %}Une erreur s'est produite. Cela ne devrait pas se produire... Si le problème persiste, contactez un administrateur.{% endblocktrans %}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <a type="button" class="btn btn-info" href="{% url 'home' %}">{% trans "Retour à la page d'accueil" %}</a>
                    </div>
                </div>
                <img style="width: 400px; height: auto; margin: auto;" class="img-responsive" src="{% static 'images/server_error.png' %}"/>
            </div>
        </div> <!-- /.col-lg-12 -->
    </div> <!-- /.row -->
</div> <!-- /.container -->
{% endblock %}
