{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My ResEl | {% block titre %}{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'boostrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- MetisMenu CSS -->
    <link href="{% static 'metisMenu/css/metisMenu.min.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo_resel.png' %}" alt="logo_resel"></a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                {% if request.user.is_authenticated %}
                <li>
                    <a href="/logout"><i class="fa fa-sign-out fa-fw"></i> {% trans "Déconnexion" %}</a>
                </li>
                {% else %}
                <li>
                    <a href="/login"><i class="fa fa-sign-in fa-fw"></i> {% trans "Connexion" %}</a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'contact' %}"><i class="fa fa-comment-o fa-fw"></i> {% trans "Contact" %}</a>
                </li>
            </ul>
            <!-- /.navbar-header -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <!-- Pages accessibles à tout le monde -->
                        <li>
                            <a href="{% url 'news' %}"><b><i class="fa fa-newspaper-o" aria-hidden="true"></i> {% trans "Les nouvelles" %}</b></a>
                        </li>
		      
                        {% if request.user.is_authenticated %}
                            <!-- Gestion du compte de l'user -->
                            <li>
                                <a href=""><b><i class="fa fa-user fa-fw" aria-hidden="true"></i> {% trans "Gérer mon compte" %}</b></a>
				<ul class="nav nav-second-level">
				  
				   <!-- Gestion des machines -->
				   <li>
                                       <a href=""><i class="fa fa-laptop fa-fw" aria-hidden="true"></i> {% trans "Gérer mes machines" %}</a>
                                        <ul class="nav nav-third-level">
					    <li>
                                                <a href="{% url 'gestion-machines:liste' %}"><i>{% trans "Toutes mes machines" %}</i></a>
					    <li>
                                                <a href="{% url 'gestion-machines:ajout-manuel' %}"><i>{% trans "Ajouter une machine manuellement" %}</i></a>
					    </li>
					</ul>
                                   </li>
                                   <!-- Paiements -->
                                   <li>
                                       <a href="{% url 'tresorerie:historique' %}"><i class="fa fa-money fa-fw" aria-hidden="true"></i> {% trans "Historique de mes paiements" %}</a>
                                   </li>
			      </ul>
                              <!-- /.nav-second-level -->
                            </li>
                        {% endif %}

			<!-- Catégories des pages customisées-->
			{% for category in categories %}
			    <li>
		                <a href="{% url 'custom-pages:show-category' slug=category.slug %}"><i class="fa {{ category.fa_icon_name }} fa-fw" aria-hidden="true"></i> <b>{{ category.name }}</b></a>
				<ul class="nav nav-second-level">
				    <li>
				        {% for article in category.article_set.all %}
					    <a href="{{ article.get_absolute_url }}">{{ article.name }}</a>
					{% endfor %}
				    </li>	
				</ul>
			    </li>
			{% endfor %}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
        {% block content %}{% endblock %}
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'boostrap/js/bootstrap.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/base.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'metisMenu/js/metisMenu.min.js' %}"></script>

    <!-- Custom Javascript -->
    {% block javascript %}{% endblock %}

   </body>

</html>
