{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="fr">

<head>

    <link rel="stylesheet" type="text/css" href="static/css/base.css"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Le ResEl | {% block titre %}{% endblock %}</title>

    {# Bootstrap #}
    <link href="{% static 'boostrap/css/bootstrap.min.css' %}" rel="stylesheet">

    {# Custom Fonts #}
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    {# fonts #}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">

    {# Custom CSS, leave it last #}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    
    <!-- Navigation -->
    <nav class="navbar navbar-main navbar-static-top" role="navigation">
        <div class="container">
            <ul class="nav navbar-left">
                <li>
                    <a class="navbar-brand" href="{% url 'home' %}"><img style="width: 100%; height: 45px; margin-top: -13px;" src="{% static 'images/logo_resel_flat.png' %}"></a>
                </li>
            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="#">{% trans "L'association" %}</a>
                </li>

                <li>
                    <a href="#">{% trans "Les services" %}</a>
                </li>

                <li>
                    <a href="#">{% trans "Blog" %}</a>
                </li>

                <li>
                    <a href="{% url 'contact' %}"><i class="fa fa-comment-o fa-fw"></i> {% trans "Contact" %}</a>
                </li>

                {% if request.user.is_authenticated %}
                <li>
                    <a href="/logout"><i class="fa fa-sign-out fa-fw"></i> {% trans "Déconnexion" %}</a>
                </li>
                {% else %}
                <li>
                    <a href="/login"><i class="fa fa-sign-in fa-fw"></i> {% trans "Connexion" %}</a>
                </li>
                {% endif %}
            </ul>
        </div><!-- /.container -->
    </nav>

    <div id="page-wrapper">
    {% block content %}{% endblock %}
    </div>
    <!-- /#page-wrapper -->
    
    <!-- jQuery -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'boostrap/js/bootstrap.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/base.js' %}"></script>

    <!-- Custom Javascript -->
    {% block javascript %}{% endblock %}

</body>
</html>
