{% load staticfiles %}
{% load i18n %}
{% load cache %}

<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" sizes="96x96" href="{% static "images/icons/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/icons/favicon-32x32.png" %}">
    <title>Le ResEl | {% block titre %}{% endblock %}</title>

    {# Bootstrap #}
    <link href="{% static 'boostrap/css/bootstrap.min.css' %}" rel="stylesheet">

    {# Custom Fonts #}
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    {# Custom CSS, leave it last #}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-main navbar-static-top" role="navigation">
    <div class="container">
        <div class="nav navbar-left navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="menu-text">Menu</span>
                <span class="menu-bar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </span>
            </button>
            <div>
              <a class="navbar-brand" href="{% url 'home' %}">
                <img style="width: auto; height: 45px; margin-top: -13px;"
                     src="{% static 'images/logo_resel_flat.png' %}" alt="{% trans "Logo ResEl" %}">
              </a>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-top-links navbar-left navbar-collapse">
            {% if association_category %}
            <li class="dropdown">
                <a href="{% url 'wiki:show-category' slug='lassociation' %}" class="dropdown-toggle" data-toggle="dropdown"><i class="fa {{ association_category.fa_icon_name }} fa-fw" aria-hidden="true"></i> <span class="hidden-sm">{{ association_category.name }}</span></a>
                <ul class="dropdown-menu">
                    {% for stuff in association_category.get_articles_and_links_to_display %}
                      <li>
                        <a href="{{ stuff.get_absolute_url }}" class="container dropdown-link">
                          <div class="row">
                            <div class="col-xs-2 icon">
                              <span class="glyphicon {{ stuff.glyphicon_name }}"></span>
                            </div>
                            <div class="col-xs-10">
                              <div class="link-name">{{ stuff.name }}</div>
                              <div class="link-description">{{ stuff.description }}</div>
                            </div>
                          </div>
                        </a>
                      </li>
                    {% empty %}
                    <li>
                        <a>{% trans "Aucun article" %}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}

            {% if services_category %}
            <li class="dropdown">
                <a href="{% url 'wiki:show-category' slug='services' %}" class="dropdown-toggle" data-toggle="dropdown"><i class="fa {{ services_category.fa_icon_name }} fa-fw" aria-hidden="true"></i> <span class="hidden-sm">{{ services_category.name }}</span></a>
                <ul class="dropdown-menu">
                    {% for stuff in services_category.get_articles_and_links_to_display %}
                    <li>
                      <a href="{{ stuff.get_absolute_url }}" class="container dropdown-link">
                        <div class="row">
                          <div class="col-xs-2 icon">
                            <span class="glyphicon {{ stuff.glyphicon_name }}"></span>
                          </div>
                          <div class="col-xs-10">
                            <div class="link-name">{{ stuff.name }}</div>
                            <div class="link-description">{{ stuff.description }}</div>
                          </div>
                        </div>
                      </a>
                    </li>
                    {% empty %}
                    <li>
                        <a>{% trans "Aucun article" %}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}

            <li>
                <a class="btn-campus" href="{% url 'campus:home' %}"><i class="fa fa-bicycle fa-fw"></i> <span class="hidden-sm btn-campus-text">{% trans "Campus" %}</span></a>
            </li>
            {% if request.user.is_staff %}
            <li>
                <a href="/gestion"><i class="fa fa-gears fa-fw"></i></a>
            </li>
            {% endif %}
        </ul>
        <ul class="nav navbar-top-links navbar-right navbar-collapse">
          <li>
            <a href="{% url 'contact' %}"> {% trans "Contact" %}</a>
          </li>

            <hr class="visible-xs"/>

            {% if request.user.is_authenticated %}
            <li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-fw" aria-hidden="true"></i> {{ ldapuser.first_name }} <span class="hidden-sm">({{ ldapuser.uid }})</span> <span class="fa fa-caret-down"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'gestion-personnes:personal-infos' %}"><i class="fa fa-sliders fa-fw" ></i> {% trans "Paramètres" %}</a>
                        </li>
                        <li>
                            <a href="{% url 'gestion-machines:liste' %}"><i class="fa fa-cubes fa-fw"></i> {% trans "Mes machines" %}</a>
                        </li>
                        <li>
                            <a href="{% url 'gestion-personnes:mail' %}"><i class="fa fa-envelope-o fa-fw"></i> {% trans "Email ResEl" %}</a>
                        </li>
                        <li>
                            <a href="https://mlistes.resel.fr"><i class="fa fa-rss fa-fw"></i> {% trans "Listes de diffusion" %}</a>
                        </li>
                        <hr />
                        <li>
                            <a href="/logout"><i class="fa fa-sign-out fa-fw"></i> {% trans "Déconnexion" %}</a>
                        </li>
                    </ul>
                </li>

                {% else %}
                <li>
                    <a href="/login">{% trans "Connexion" %}</a>
                </li>
                {% endif %}
                <hr class="visible-xs"/>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE | upper }}</a>
                    <ul class="dropdown-menu">
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        <form action="{% url 'set_language' %}" method="post">
                            <input name="next" type="hidden" value="{{ request.path }}"/>
                            {% for language in languages %}
                            <button class="btn btn-link" name="language" type="submit" value="{{ language.code }}">{{ language.name_local|title }}</button>
                            {% endfor %}
                        </form>
                    </ul>
                </li>
          <li>
            {% cache 60 i_network_status %}
            <a href="{% url 'network-status' %}" 
              data-toggle="tooltip" 
              data-placement="bottom" 
              title="{{ i_network_status_text }}">
              <i class="fa fa-heartbeat fa-fw {{ i_network_status }}"></i>
              {% if i_network_status_score == 1 %}
              <i class="fa fa-exclamation fa-fw"></i>
              {% endif %}
            </a>
            {% endcache %}
          </li>
        </ul>
        </div>
    </div><!-- /.container -->
</nav>
{% if has_paid_cotiz == "danger" %}
    <div class="container-fluid">
        <div class="alert alert-danger" role="alert" style="text-align: center"><strong>{% trans "Votre accès internet a expiré :" %}</strong> {% trans "Afin de bénéficier des services du ResEl, vous devez " %} <a style="color: #0f0f0f" href="{% url "tresorerie:home" %}"><strong>régulariser votre situation</strong></a> !</div>
    </div>
{% elif has_paid_cotiz == "warning" %}
    <div class="container-fluid">
        <div class="alert alert-warning" role="alert" style="text-align: center"><strong>{% trans "Votre accès internet va bientôt expirer :" %}</strong> {% trans "Afin de continuer à bénéficier des services du ResEl, vous devez " %} <a style="color: #0f0f0f" href="{% url "tresorerie:home" %}"><strong>régulariser votre situation</strong></a> !</div>
    </div>
{% endif %}
{% if messages %}
    <div class="container">
        {# Gestion des messages d'erreur, d'info et de success #}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="panel panel-danger">
                    <div class="panel-heading"><h3 class="panel-title">{% trans "Erreur" %}</h3></div>
                    <div class="panel-body">{{ message }}</div>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="panel panel-success">
                    <div class="panel-heading"><h3 class="panel-title">{% trans "Succès" %}</h3></div>
                    <div class="panel-body">{{ message }}</div>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <div class="panel panel-info">
                    <div class="panel-heading"><h3 class="panel-title">{% trans "Information" %}</h3></div>
                    <div class="panel-body">{{ message }}</div>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="panel panel-warning">
                    <div class="panel-heading"><h3 class="panel-title">{% trans "Attention" %}</h3></div>
                    <div class="panel-body">{{ message }}</div>
                </div>
            {% endif %}
        {% endfor %}

    </div>
{% endif %}
<div id="page-wrapper">
    {% block content %}{% endblock %}
</div>

<footer class="footer">
    <!-- Container for setting locale language -->
    <div class="container text-center">
        <div class="row">
            <a href="https://www.facebook.com/Reselfr"><span class="fa fa-facebook social"></span></a>
            <a href="https://twitter.com/resel_fr"><span class="fa fa-twitter social"></span></a>
            <a href="https://github.com/ResEl-TB"><span class="fa fa-github social"></span></a>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <ul>
                    <li><a href="{% static "files/statuts.pdf" %}">{% trans "Les statuts de l'association" %}</a></li>
                    <li><a href="{% static "files/reglement-interieur.pdf" %}">{% trans "Le règlement intérieur" %}</a></li>
                    <li><a href="{% url "tresorerie:prices" %}">{% trans "Tarifs et Cotisation" %}</a></li>
                    <li><a href="{% url "contact" %}">{% trans "Contact" %}</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul>
                    {#                        <li><a href="https://status.resel.fr">{% trans "État du réseau" %}</a></li>#}
                    <li><a href="{% url 'network-status' %}">{% trans "État du réseau" %}</a></li>
                    <li><a href="{% url 'gestion-personnes:webmail' %}">Webmail</a></li>
                  <li><a href="{% url 'campus:home' %}">{% trans "Les clubs et la vie du campus" %}</a></li>
                    <li><a href="{% url 'become-admin' %}">{% trans "Devenez Administrateur ResEl !" %}</a></li>
                    <li><a href="https://old.resel.fr/">{% trans "Ancien site ResEl" %}</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li><a href="https://www.federez.net/">{% trans "Fédérez" %}</a></li>
                    <li><a href="https://www.imt-atlantique.fr/">{% trans "IMT Atlantique" %}</a></li>
                    <br />
                    <li><a href="http://assos-tb.fr/">{% trans "Associations de l'IMT Atlantique" %}</a></li>
                    <li><a href="http://www.aitb.org/">{% trans "Alumni" %}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="text-center bottom-row">
        <div class="container ">
            <div class="col-sm-8 col-sm-offset-2">
                Association ResEl - 2003-{% now "Y" %} - Tous droits réservés - <a href="https://git.resel.fr/resel/myresel">{% trans "Code Source"%}</a>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{% static 'jquery/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'boostrap/js/bootstrap.min.js' %}"></script>

<!-- Custom Theme JavaScript -->
{#    <script src="{% static 'js/base.js' %}"></script>#}

<!-- Custom Javascript -->
{% block javascript %}{% endblock %}

<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
    _paq.push(["setCookieDomain", "*.resel.fr"]);
    _paq.push(["setDomains", ["*.beta.resel.fr","*.rennes.beta.resel.fr","*.rennes.resel.fr","*.resel.fr"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//stats.resel.fr/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<noscript><p><img src="//stats.resel.fr/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

</body>
</html>
