<div class="center" 
>
<!--l. 64--><p class="noindent" >
</p><!--l. 66--><p class="noindent" >________________________________________________________________________________<br /><br />
<span 
class="ecrb-2488">R</span><span 
class="ecrb-2488">èglement Int</span><span 
class="ecrb-2488">érieur</span><br />
_________________________________________<br /><br />
<span 
class="ecrb-1728">En application au 14/04/2024</span><br /><br />
<span 
class="ecrm-1440">Association ResEl</span></p></div>
                                                                                
                                                                                
<a 
 id="Q1-1-1"></a>
<h3 class="likesectionHead"><a 
 id="x1-1000"></a>Table des matières</h3>
   <div class="tableofcontents">
   <span class="sectionToc" >1 <a 
href="#x1-20001" id="QQ2-1-3">Préambule</a></span>
<br />   <span class="sectionToc" >2 <a 
href="#x1-30002" id="QQ2-1-4">Utilisation du réseau</a></span>
<br />   &#x00A0;<span class="subsectionToc" >Article I <a 
href="#x1-40001" id="QQ2-1-5">Contacter les administrateurs</a></span>
<br />   &#x00A0;<span class="subsectionToc" >Article II <a 
href="#x1-70002" id="QQ2-1-8">Responsabilité légale et vie en communauté</a></span>
<br />   &#x00A0;<span class="subsectionToc" >Article III <a 
href="#x1-130003" id="QQ2-1-14">Droit personnel d&#8217;utilisation du réseau</a></span>
<br />   &#x00A0;<span class="subsectionToc" >Article IV <a 
href="#x1-200004" id="QQ2-1-21">Responsabilité de l&#8217;Association</a></span>
<br />   &#x00A0;<span class="subsectionToc" >Article V <a 
href="#x1-240005" id="QQ2-1-25">Informatique et Libertés</a></span>
<br />   &#x00A0;<span class="subsectionToc" >Article VI <a 
href="#x1-280006" id="QQ2-1-29">Traitements des données personnelles</a></span>
<br />   &#x00A0;<span class="subsectionToc" >Article VII <a 
href="#x1-290007" id="QQ2-1-30">Sanctions prévues</a></span>
<br />   <span class="sectionToc" >3 <a 
href="#x1-350003" id="QQ2-1-36">Organisation de l&#8217;Association</a></span>
<br />   &#x00A0;<span class="subsectionToc" >Article VIII <a 
href="#x1-360008" id="QQ2-1-37">Adhésion et cotisation</a></span>
<br />   &#x00A0;<span class="subsectionToc" >Article IX <a 
href="#x1-430009" id="QQ2-1-44">Départ de l&#8217;Association</a></span>
<br />   &#x00A0;<span class="subsectionToc" >Article X <a 
href="#x1-4700010" id="QQ2-1-48">Conseil d&#8217;Administration</a></span>
<br />   &#x00A0;<span class="subsectionToc" >Article XI <a 
href="#x1-5300011" id="QQ2-1-54">Modification du Règlement Intérieur</a></span>
   </div>
                                                                                

                                                                                
<a 
 id="x1-1001r1"></a>
<h3 class="sectionHead"><span class="titlemark">1   </span> <a 
 id="x1-20001"></a>Préambule</h3>
<!--l. 82--><p class="noindent" >Le présent Règlement Intérieur a pour objet de préciser les Statuts de l&#8217;«&#x00A0;Association ResEl&#x00A0;»
(ci-après désignée indifféremment par «&#x00A0;le ResEl&#x00A0;» ou «&#x00A0;l&#8217;Association&#x00A0;»), sise dans les locaux de
l&#8217;École nationale supérieure Mines-Télécom Atlantique Bretagne-Pays de la Loire (nommée IMT
Atlantique dans la suite de ce document), ainsi que de définir les règles d&#8217;utilisation du réseau géré par
l&#8217;Association.
</p><!--l. 84--><p class="indent" >   Ce document ne prétend pas être exhaustif sur les droits et devoirs en la matière, mais il vise à
informer de leur existence et des risques encourus. Il s&#8217;adresse à tous les adhérents de l&#8217;Association
ResEl.
</p><!--l. 86--><p class="indent" >   Le terme «&#x00A0;réseau&#x00A0;» désigne l&#8217;ensemble des équipements et des services gérés par l&#8217;Association. Le
terme «&#x00A0;utilisateur&#x00A0;» désigne tout utilisateur du réseau. Le terme «&#x00A0;administrateur&#x00A0;» désigne toute
personne en charge de l&#8217;administration technique du réseau, qu&#8217;elle fasse partie du Conseil
d&#8217;Administration ou non.
<a 
 id="x1-2001r3"></a>
</p>
<h3 class="sectionHead"><span class="titlemark">2   </span> <a 
 id="x1-30002"></a>Utilisation du réseau</h3>
<a 
 id="x1-3001r1"></a>
<h4 class="subsectionHead"><span class="titlemark">Article I   </span> <a 
 id="x1-40001"></a>Contacter les administrateurs</h4>
<br>
<span class="likeparagraphHead"><a 
 id="x1-50001"></a><span 
class="ecrb-1000">1</span></span>
   Le réseau est géré par des administrateurs qui peuvent être contactés, en cas de problème du
ressort du ResEl par les moyens suivants (par ordre de priorité) :
     <ul class="itemize1">
     <li class="itemize">aux permanences du ResEl dont le lieu et les heures sont indiqués sur la porte du local de
     l&#8217;Association, au Foyer des Élèves du campus de Brest d&#8217;IMT Atlantique et sur le site web
     de l&#8217;Association à l&#8217;adresse <a 
href="https://resel.fr/contact/" class="url" ><span 
class="fvmr8t-x-x-90">https://resel.fr/contact/</span></a> ;
     </li>
     <li class="itemize">sur IRC : serveur <a 
href="irc.resel.fr" class="url" ><span 
class="fvmr8t-x-x-90">irc.resel.fr</span></a> (ou <a 
href="irc.rezosup.org" class="url" ><span 
class="fvmr8t-x-x-90">irc.rezosup.org</span></a> depuis l&#8217;extérieur), canal <span 
class="fvmr8t-x-x-90">#resel</span>,
     sur lequel sont présents les administrateurs lorsqu&#8217;ils sont disponibles&#x00A0; ;
     </li>
     <li class="itemize">par courrier électronique à l&#8217;adresse <a 
href="support@resel.fr" class="url" ><span 
class="fvmr8t-x-x-90">support@resel.fr</span></a>. Ce courrier doit contenir une
     description précise du problème et doit être envoyé après avoir vérifié que la solution ne
     se trouve pas sur <a 
href="https://resel.fr/" class="url" ><span 
class="fvmr8t-x-x-90">https://resel.fr/</span></a>.</li></ul>
<br>
<span class="likeparagraphHead"><a 
 id="x1-60001"></a><span 
class="ecrb-1000">2</span></span>
   Il est explicitement demandé aux utilisateurs de ne pas téléphoner directement aux administrateurs
ni de venir leur rendre visite s&#8217;ils sont en mesure d&#8217;utiliser les moyens décrits dans le premier
paragraphe de cet article.
<a 
 id="x1-6001r5"></a>
<h4 class="subsectionHead"><span class="titlemark">Article II   </span> <a 
 id="x1-70002"></a>Responsabilité légale et vie en communauté</h4>
<br>
<span class="likeparagraphHead"><a 
 id="x1-80002"></a><span 
class="ecrb-1000">1</span></span>
   Le ResEl est un fournisseur d&#8217;accès à internet déclaré auprès de l&#8217;Autorité de régulation des
communications électroniques et des postes ; en ce sens, les utilisateurs du réseau sont responsables aux
yeux de la loi de leurs agissements à travers le réseau du ResEl.<br 
class="newline" />Aucune responsabilité des actes malveillants ou illégaux des utilisateurs ne saurait être imputée au
ResEl.
                                                                                

                                                                                
<br>
<span class="likeparagraphHead"><a 
 id="x1-90002"></a><span 
class="ecrb-1000">2</span></span>
   L&#8217;utilisateur s&#8217;engage à respecter la législation en vigueur notamment concernant la
fraude informatique (loi n<sup class="textsuperscript"><span 
class="ecrm-0900">o</span></sup>88-19 du 5 janvier 1988, articles 323-1 à 323-7 du Nouveau Code
Pénal).<br 
class="newline" />Entre autres, l&#8217;utilisateur ne tentera pas de profiter de failles de sécurité pour s&#8217;introduire dans un
système ne lui appartenant pas, ou ne tentera pas d&#8217;intercepter toute forme de communication
électronique entre deux machines.
<br>
<span class="likeparagraphHead"><a 
 id="x1-100002"></a><span 
class="ecrb-1000">3</span></span>
   L&#8217;utilisateur s&#8217;engage à respecter la législation en vigueur notamment concernant la propriété
intellectuelle (code de la propriété intellectuelle).<br 
class="newline" />Entre autres, il s&#8217;engage à ne pas partager de logiciel ou de contenu multimédia sans le consentement
de son auteur.
<br>
<span class="likeparagraphHead"><a 
 id="x1-110002"></a><span 
class="ecrb-1000">4</span></span>
   L&#8217;utilisateur s&#8217;engage à ne pas utiliser le réseau pour diffuser des informations contraires aux lois en
vigueur. En particulier, il s&#8217;engage notamment à ne pas diffuser de message incitant aux crimes ou
délits, à la haine, à la violence ou à la discrimination.<br 
class="newline" />Plus généralement, l&#8217;utilisateur s&#8217;engage à respecter les règles de bonne conduite sur Internet
(Netiquette).
<br>
<span class="likeparagraphHead"><a 
 id="x1-120002"></a><span 
class="ecrb-1000">5</span></span>
   Les ressources sont partagées entre tous les utilisateurs. L&#8217;utilisation de la bande passante vers
l&#8217;Internet doit donc rester raisonnable pour le confort des autres utilisateurs du réseau. Toute
utilisation pénalisant sensiblement les performances du réseau est proscrite, notamment l&#8217;utilisation
abusive du trafic de diffusion (<span 
class="ecti-1000">broadcast</span>), comme par exemple le protocole <span 
class="ecti-1000">NetBIOS </span>des partages de
fichiers Windows.
<a 
 id="x1-12001r8"></a>
<h4 class="subsectionHead"><span class="titlemark">Article III   </span> <a 
 id="x1-130003"></a>Droit personnel d&#8217;utilisation du réseau</h4>
<br>
<span class="likeparagraphHead"><a 
 id="x1-140003"></a><span 
class="ecrb-1000">1</span></span>
   L&#8217;adresse IP fournie à la connexion est personnelle, incessible et temporairement liée à
l&#8217;adresse physique de la machine de l&#8217;utilisateur. L&#8217;utilisateur s&#8217;engage à ne pas la modifier
manuellement, même à titre temporaire, sans l&#8217;accord explicite d&#8217;un membre du Conseil
d&#8217;Administration.<br 
class="newline" />Dans tous les cas, l&#8217;utilisateur est entièrement responsable de l&#8217;utilisation qui est faite de sa connexion
attitrée, y compris par une tierce personne.
<br>
<span class="likeparagraphHead"><a 
 id="x1-150003"></a><span 
class="ecrb-1000">2</span></span>
   Contrevenir à la règle précédente revient à tenter de masquer son identité ou de prendre celle d&#8217;une
autre machine. Ce type d&#8217;agissement est donc considéré par le ResEl et par la loi comme une tentative
de fraude informatique.
<br>
<span class="likeparagraphHead"><a 
 id="x1-160003"></a><span 
class="ecrb-1000">3</span></span>
   En cas de changement de propriétaire d&#8217;un dispositif dont l&#8217;adresse physique est enregistrée au
ResEl, l&#8217;utilisateur doit prévenir le ResEl. Un courrier signé physiquement ou numériquement par les
ancien et nouveau propriétaires devra être remis à un administrateur.
                                                                                

                                                                                
<br>
<span class="likeparagraphHead"><a 
 id="x1-170003"></a><span 
class="ecrb-1000">4</span></span>
   L&#8217;utilisateur est administrateur de sa propre machine. À ce titre, il est responsable de toute
opération effectuée sur celle-ci par lui ou une tierce personne. C&#8217;est donc à lui de faire respecter les
règles de sécurité et les lois informatiques aux personnes à qui il permettra l&#8217;accès à sa
machine.<br 
class="newline" />L&#8217;utilisateur est seul responsable des données émises depuis sa ou ses machine(s) reliée(s) au réseau,
aussi bien en ce qui concerne leur contenu (y compris virus, chevaux de Troie, etc.) que leur
volume.<br 
class="newline" />Il incombe à l&#8217;utilisateur de tenir à jour sa machine contre les failles de sécurité, et il lui est fortement
conseillé d&#8217;utiliser un logiciel pare-feu ainsi qu&#8217;un logiciel antivirus.
<br>
<span class="likeparagraphHead"><a 
 id="x1-180003"></a><span 
class="ecrb-1000">5</span></span>
   Toute tentative d&#8217;intrusion sur la machine de l&#8217;utilisateur doit être immédiatement signalée au
Conseil d&#8217;Administration du ResEl pour qu&#8217;il puisse prendre les mesures nécessaires dans les plus brefs
délais.
<br>
<span class="likeparagraphHead"><a 
 id="x1-190003"></a><span 
class="ecrb-1000">6</span></span>
   Il est fortement déconseillé à l&#8217;utilisateur d&#8217;essayer d&#8217;accéder à une machine s&#8217;il n&#8217;est pas certain
d&#8217;y être autorisé. En effet, des tentatives d&#8217;accès infructueuses et répétées à une machine
peuvent être interprétées comme une tentative d&#8217;agression par l&#8217;administrateur de la machine
concernée.
<a 
 id="x1-19001r14"></a>
<h4 class="subsectionHead"><span class="titlemark">Article IV   </span> <a 
 id="x1-200004"></a>Responsabilité de l&#8217;Association</h4>
<br>
<span class="likeparagraphHead"><a 
 id="x1-210004"></a><span 
class="ecrb-1000">1</span></span>
   L&#8217;Association ne saurait en aucun cas être tenue responsable de quelconques problèmes liés au
réseau. Ces problèmes, pour lesquels elle n&#8217;a pas d&#8217;obligation légale, sont notamment mais pas
exclusivement :
     <ul class="itemize1">
     <li class="itemize">dysfonctionnement du réseau&#x00A0; ;
     </li>
     <li class="itemize">pertes de données.</li></ul>
<br>
<span class="likeparagraphHead"><a 
 id="x1-220004"></a><span 
class="ecrb-1000">2</span></span>
   L&#8217;Association, en tant que Fournisseur d&#8217;Accès à Internet déclaré à l&#8217;ARCEP, décline toute
responsabilité quant à l&#8217;utilisation du réseau faite par l&#8217;utilisateur. En particulier, elle ne saurait être
tenue responsable des agissements malveillants des utilisateurs ainsi que de l&#8217;utilisation du réseau à de
mauvaises fins.
<br>
<span class="likeparagraphHead"><a 
 id="x1-230004"></a><span 
class="ecrb-1000">3</span></span>
   Le ResEl n&#8217;est pas en mesure en raison de ses moyens limités de :
     <ul class="itemize1">
     <li class="itemize">surveiller le contenu véhiculé par le réseau&#x00A0; ;
     </li>
     <li class="itemize">surveiller l&#8217;utilisation du réseau faite par les utilisateurs&#x00A0; ;
     </li>
     <li class="itemize">répondre à tout heure aux demandes des utilisateurs même si celles-ci rentrent dans le
                                                                                

                                                                                
     cadre d&#8217;action du ResEl.</li></ul>
<a 
 id="x1-23001r21"></a>
<h4 class="subsectionHead"><span class="titlemark">Article V   </span> <a 
 id="x1-240005"></a>Informatique et Libertés</h4>
<br>
<span class="likeparagraphHead"><a 
 id="x1-250005"></a><span 
class="ecrb-1000">1</span></span>
   L&#8217;Association dispose de plusieurs bases de données nominatives, déclarées auprès de la CNIL, qui
servent notamment mais non exclusivement :
     <ul class="itemize1">
     <li class="itemize">à fournir un service d&#8217;information (annuaire) ;
     </li>
     <li class="itemize">à aider à la gestion de l&#8217;Association et du réseau.</li></ul>
<br>
<span class="likeparagraphHead"><a 
 id="x1-260005"></a><span 
class="ecrb-1000">2</span></span>
   Les informations concernant l&#8217;utilisateur contenues dans ces bases peuvent être modifiées pour une
partie d&#8217;entre elles à l&#8217;adresse <a 
href="https://resel.fr/personnes/" class="url" ><span 
class="fvmr8t-x-x-90">https://resel.fr/personnes/</span></a>, et pour le reste en envoyant un
courrier électronique à <a 
href="support@resel.fr" class="url" ><span 
class="fvmr8t-x-x-90">support@resel.fr</span></a>.
<br>
<span class="likeparagraphHead"><a 
 id="x1-270005"></a><span 
class="ecrb-1000">3</span></span>
   L&#8217;utilisation en dehors du campus de ces données ou la transmission à des tiers sans l&#8217;autorisation
des personnes concernées sont absolument interdites à tous les utilisateurs. Toute infraction avérée à
cette règle sera sanctionnée à l&#8217;appréciation des membres du Conseil d&#8217;Administration du ResEl et
pourra faire l&#8217;objet d&#8217;un dépôt de plainte.
<a 
 id="x1-27001r25"></a>
<h4 class="subsectionHead"><span class="titlemark">Article VI   </span> <a 
 id="x1-280006"></a>Traitements des données personnelles</h4>
<!--l. 167--><p class="noindent" >Le ResEl effectue les traitements suivant sur les données personnelles des utilisateurs : </p>
     <ul class="itemize1">
     <li class="itemize">Collecte et archivage des historiques de connexions, comme le demande la loi française.
     L&#8217;accès à ces informations par un administrateur ResEl est formellement interdit, sauf en
     cas de procédure judiciaire.
     </li>
     <li class="itemize">Enregistrement de l&#8217;adresse physique des machines, afin de leur associer une adresse IP.
     L&#8217;association adresse IP&#8211;adresse physique est aussi enregistrée afin de faciliter la procédure
     de connexion à Internet.
     </li>
     <li class="itemize">Enregistrement  du  numéro  de  téléphone,  de  l&#8217;adresse  mail  et  de  l&#8217;adresse  postale  des
     utilisateurs, afin de pouvoir les contacter si besoin. L&#8217;utilisation de ces données est restreinte
     à une communication de la part du ResEl et ne saurait être faite à d&#8217;autres fins.
     </li>
     <li class="itemize">Enregistrement des noms et prénoms des utilisateurs et des adresses physiques de leurs
     machines, comme le demande la loi française. Ces informations peuvent aussi être utilisées
     à des fins de support.
     </li>
     <li class="itemize">Enregistrement   de   l&#8217;historique   de   connexion   aux   équipements   réseau   à   des   fin
     d&#8217;amélioration de qualité de service.
     <!--l. 175--><p class="noindent" >Si  vous  avez  des  demandes  ou  des  réclamations  à  propos  de  ces  traitements,  veuillez
     contacter  le  délégué  à  la  protection  des  données  du  ResEl  à  l&#8217;adresse  suivante  :
     <span 
class="fvmr8t-x-x-90">dpo@resel.fr</span>.</p></li></ul>
<a 
 id="x1-28001r29"></a>
                                                                                

                                                                                
<h4 class="subsectionHead"><span class="titlemark">Article VII   </span> <a 
 id="x1-290007"></a>Sanctions prévues</h4>
<br>
<span class="likeparagraphHead"><a 
 id="x1-300007"></a><span 
class="ecrb-1000">1</span></span>
   En cas de non-respect de ce Règlement Intérieur, l&#8217;adhérent est passible (en plus des peines prévues
par la loi) des sanctions suivantes :
     <ul class="itemize1">
     <li class="itemize">réduction du débit ;
     </li>
     <li class="itemize">privation temporaire ou définitive de l&#8217;accès à un ou plusieurs services du ResEl ;
     </li>
     <li class="itemize">déconnexion temporaire ou définitive du réseau ;
     </li>
     <li class="itemize">exclusion de l&#8217;Association.</li></ul>
<br>
<span class="likeparagraphHead"><a 
 id="x1-310007"></a><span 
class="ecrb-1000">2</span></span>
   La sanction est d&#8217;abord prise par les administrateurs en fonction de la gravité de l&#8217;acte mis en
cause. En cas de litige, le choix de la sanction est laissé au libre arbitre du Conseil d&#8217;Administration de
l&#8217;Association.
<br>
<span class="likeparagraphHead"><a 
 id="x1-320007"></a><span 
class="ecrb-1000">3</span></span>
   De plus, si la gravité de l&#8217;acte commis le justifie aux yeux du Conseil d&#8217;Administration,
l&#8217;administration ou la logistique informatique d&#8217;IMT Atlantique seront tenus informés et prendront les
mesures qu&#8217;ils jugeront nécessaires.
<br>
<span class="likeparagraphHead"><a 
 id="x1-330007"></a><span 
class="ecrb-1000">4</span></span>
   Les données ou preuves détenues par les administrateurs du ResEl sont tenues à disposition
des autorités administratives ou judiciaires agissant dans le cadre de leurs fonctions, en
accord avec le Code des postes et des communications électroniques (article L34-1 alinéa
III).
<br>
<span class="likeparagraphHead"><a 
 id="x1-340007"></a><span 
class="ecrb-1000">5</span></span>
   La liste des actions passibles de sanction décrites dans ce document n&#8217;est pas exhaustive
et se contente de recenser les problèmes les plus fréquemment rencontrés sur un réseau
informatique. Plus généralement, toute action visant à nuire à un système informatique,
à s&#8217;approprier des données sans l&#8217;accord de leur(s) propriétaire(s) ou pouvant nuire à la
réputation du ResEl ou d&#8217;IMT Atlantique sera sanctionnée selon le libre arbitre du Conseil
d&#8217;Administration.
<a 
 id="x1-34001r4"></a>
<h3 class="sectionHead"><span class="titlemark">3   </span> <a 
 id="x1-350003"></a>Organisation de l&#8217;Association</h3>
<a 
 id="x1-35001r30"></a>
<h4 class="subsectionHead"><span class="titlemark">Article VIII   </span> <a 
 id="x1-360008"></a>Adhésion et cotisation</h4>
<br>
<span class="likeparagraphHead"><a 
 id="x1-370008"></a><span 
class="ecrb-1000">1</span></span>
   Une année commence le 1er août et se termine le 31 juillet.<br 
class="newline" />Le semestre d&#8217;automne commence le 1er août et se termine le 31 janvier.<br 
class="newline" />Le semestre de printemps commence le 1er février et se termine le 31 juillet.
<br>
                                                                                

                                                                                
<span class="likeparagraphHead"><a 
 id="x1-380008"></a><span 
class="ecrb-1000">2</span></span>
   Pour adhérer à l&#8217;association, un membre doit s&#8217;acquitter d&#8217;une cotisation de 1&#x00A0;<span 
class="feymr-10">&#x20AC;</span>.<br 
class="newline" />Les cotisations doivent être payées entre début août et le 15&#x00A0;octobre inclus. En cas d&#8217;inscription après
le 24&#x00A0;septembre, la cotisation doit être payée au maximum trois semaines après l&#8217;inscription. Un retard
de paiement de la cotisation entraînera une exclusion de l&#8217;association jusqu&#8217;à ce que le paiement soit
effectué.
<br>
<span class="likeparagraphHead"><a 
 id="x1-390008"></a><span 
class="ecrb-1000">3</span></span>
   Tout les membres de l&#8217;association ont accès aux services internes du ResEl, entre autres la
possibilité d&#8217;hébergement de sites web, l&#8217;accès aux listes de diffusion, etc.
<br>
<span class="likeparagraphHead"><a 
 id="x1-400008"></a><span 
class="ecrb-1000">4</span></span>
   L&#8217;accès à internet via le réseau du ResEl est reservé uniquement aux membres qui s&#8217;acquittent des
frais d&#8217;accès à internet définis dans le paragraphe suivant.
<br>
<span class="likeparagraphHead"><a 
 id="x1-410008"></a><span 
class="ecrb-1000">5</span></span>
   Montant des frais d&#8217;accès à internet : <br 
class="newline" />En fonction de la durée d&#8217;abonnement, les frais sont de&#x00A0; :
     <ul class="itemize1">
     <li class="itemize">11&#x00A0;<span 
class="feymr-10">&#x20AC; </span>pour 1 mois ;
     </li>
     <li class="itemize">55&#x00A0;<span 
class="feymr-10">&#x20AC; </span>pour 6 mois ;
     </li>
     <li class="itemize">85&#x00A0;<span 
class="feymr-10">&#x20AC; </span>pour 12 mois.</li></ul>
<br>
<span class="likeparagraphHead"><a 
 id="x1-420008"></a><span 
class="ecrb-1000">7</span></span>
   L&#8217;accès à internet via le réseau du ResEl n&#8217;est établi qu&#8217;après le paiement par le membre des frais
d&#8217;accès.<br 
class="newline" />À l&#8217;issue d&#8217;une période payée par le membre, son accès internet est suspendu en l&#8217;absence de
renouvellement de sa part.
<a 
 id="x1-42001r37"></a>
<h4 class="subsectionHead"><span class="titlemark">Article IX   </span> <a 
 id="x1-430009"></a>Départ de l&#8217;Association</h4>
<br>
<span class="likeparagraphHead"><a 
 id="x1-440009"></a><span 
class="ecrb-1000">1</span></span>
   Tout membre du ResEl, qu&#8217;il soit membre actif ou membre d&#8217;honneur, peut à tout moment quitter
l&#8217;Association par simple notification au Conseil d&#8217;Administration. Le départ peut entraîner l&#8217;arrêt des
services proposés par le ResEl.
<br>
<span class="likeparagraphHead"><a 
 id="x1-450009"></a><span 
class="ecrb-1000">2</span></span>
   Le remboursement de la cotisation et des frais d&#8217;accès à Internet ne pourra pas être exigé en cas de
démission, d&#8217;exclusion ou de décès d&#8217;un membre.
<br>
<span class="likeparagraphHead"><a 
 id="x1-460009"></a><span 
class="ecrb-1000">3</span></span>
   Dans le cas d&#8217;un départ du campus <span 
class="ecrb-1000">non anticip</span><span 
class="ecrb-1000">é </span>et survenant avant l&#8217;expiration du service Internet
auquel a souscrit un adhérent, celui-ci peut demander le remboursement de des frais Internet
payés en surplus. Le montant remboursé se basera alors sur la grille de tarifs au moment
de l&#8217;inscription et la durée effectivement utilisée, si le Conseil d&#8217;Administration valide le
                                                                                

                                                                                
remboursement.
<a 
 id="x1-46001r44"></a>
<h4 class="subsectionHead"><span class="titlemark">Article X   </span> <a 
 id="x1-4700010"></a>Conseil d&#8217;Administration</h4>
<br>
<span class="likeparagraphHead"><a 
 id="x1-4800010"></a><span 
class="ecrb-1000">1</span></span>
   L&#8217;ensemble des membres du Conseil d&#8217;Administration doit être prévenu des réunions du Conseil
d&#8217;Administration au moins 24&#x00A0;heures à l&#8217;avance par courrier électronique ou communiqué écrit
individuel. L&#8217;ordre du jour est inscrit sur les convocations.
<br>
<span class="likeparagraphHead"><a 
 id="x1-4900010"></a><span 
class="ecrb-1000">2</span></span>
   Lorsque le Conseil d&#8217;Administration procède à un vote, le vote se fait soit à main levée, soit à
bulletin secret (sur demande d&#8217;au moins un de ses membres).
<br>
<span class="likeparagraphHead"><a 
 id="x1-5000010"></a><span 
class="ecrb-1000">3</span></span>
   Lors d&#8217;un vote à bulletin secret, les bulletins sont conservés pendant 1 an.
<br>
<span class="likeparagraphHead"><a 
 id="x1-5100010"></a><span 
class="ecrb-1000">4</span></span>
   Lorsqu&#8217;un vote porte sur un membre du Conseil d&#8217;Administration, il peut être demandé à cette
personne de quitter la salle de réunion du Conseil, et cette personne n&#8217;a pas droit de vote. Cette règle
ne vaut pas pour les élections des membres du Bureau.
<br>
<span class="likeparagraphHead"><a 
 id="x1-5200010"></a><span 
class="ecrb-1000">5</span></span>
   Les membres du Conseil d&#8217;Administration empêchés d&#8217;assister personnellement à une réunion
peuvent se faire représenter par un autre membre du Conseil d&#8217;Administration au moyen d&#8217;une
procuration communiquée au Conseil d&#8217;Administration par courrier électronique ou demande
manuscrite avant la réunion. Nul ne peut détenir plus de deux procurations.
<a 
 id="x1-52001r48"></a>
<h4 class="subsectionHead"><span class="titlemark">Article XI   </span> <a 
 id="x1-5300011"></a>Modification du Règlement Intérieur</h4>
<br>
<span class="likeparagraphHead"><a 
 id="x1-5400011"></a><span 
class="ecrb-1000">1</span></span>
   Conformément aux statuts de l&#8217;Association, le Règlement Intérieur est proposé par le Conseil
d&#8217;Administration.
<br>
<span class="likeparagraphHead"><a 
 id="x1-5500011"></a><span 
class="ecrb-1000">2</span></span>
   Le Règlement Intérieur doit être approuvé soit par une Assemblée Générale Ordinaire ou
Extraordinaire, soit par la signature d&#8217;au moins les deux tiers des membres du Conseil
d&#8217;Administration. Le nouveau Règlement Intérieur est alors mis à disposition sur le site Internet de
l&#8217;Association. Les membres actifs sont ensuite avertis par courrier électronique de son emplacement sur
le site.
