{% extends 'pages/home/home.html' %}
{% load i18n %}
{% load staticfiles %}

{% block myresel %}
    <div class="home-fragment home-user-management">
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                    <h2>My ResEl <small>{% trans "Gestion de mon compte ResEl" %}</small></h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <h3>{% trans "Mes services" %}</h3>
                    <div class="services-group">
                        <div><a href="{% url 'gestion-machines:liste' %}"><span class="fa fa-cubes fa-fw"></span> {% trans "Consulter toutes mes machines inscrites" %}</a></div>
                        <div><a href="#"><span class="fa fa-comment-o fa-fw"></span> {% trans "Voir ma consomation de bande passante" %}</a></div>
                    </div>
                    <div class="services-group">
                        <div><a href="#"><span class="fa fa-group fa-fw"></span> {% trans "Gérer mes clubs et associations" %}</a></div>
                        <div><a href="#"><span class="fa fa-inbox fa-fw"></span> {% trans "Ma boîte mail ResEl" %}</a></div>
                        <div><a href="https://mlistes.resel.fr"><span class="fa fa-feed fa-fw"></span> {% trans "Mes listes de diffusion" %}</a></div>
                    </div>
                    <div class="services-group">
                        <div><a href="#"><span class="fa fa-user fa-fw"></span> {% trans "Modifier mes informations personnelles" %}</a></div>
                        <div><a href="#"><span class="fa fa-sliders fa-fw"></span> {% trans "Paramètres de mon compte" %}</a></div>
                        <div><a href="{% url 'gestion-personnes:mod-passwd' %}"><span class="fa fa-pencil-square fa-fw"></span> {% trans "Modifier mon mot de passe" %}</a></div>
                        <div><a href="#"><span class="fa fa-history fa-fw"></span> {% trans "Historique de mes factures" %}</a></div>
                    </div>
                </div>

                {% if is_registered == 'unknown' and is_resel %}
                    {# In the netwok but not saved #}
                    <div class="col-md-6 col-md-offset-2">
                        <div e_class="row">
                            <div class="col-sm-4 computer-icon hidden-xs"><span class="fa fa-laptop"></span></div>
                            <div class="col-sm-7">
                                <h3>{% trans "Machine non enregistrée" %}</h3>
                                <div>{% trans "Afin de pouvoir bénéficier des services du Resel, vous devez enregistrer votre machine sur le réseau." %}</div>
                                <a href="{% url 'gestion-machines:ajout' %}" class="btn btn-default btn-lg">{%  trans "Enregistrer" %} <span class="hidden-xs"> {% trans "mon ordinateur"%}</span> </a>
                            </div>
                        </div>
                    </div>
                {% elif is_resel %}
                    {# In the netwok and saved #}
                    <div class="col-md-6 col-md-offset-2">
                        <div class="row">
                            <div class="col-sm-4 computer-icon hidden-xs"><span class="fa fa-laptop"></span></div>
                            <div class="col-sm-7">
                                <div><h3>{{ ip }} <small><a href="#" class="fa fa-pencil"></a></small></h3></div>
                                <div><span class="fa fa-rocket"></span> <span class="label label-success">{% trans "Connecté" %}</span></div>
                                <div><span class="fa fa-arrow-up"></span> 50 Mo</div>
                                <div><span class="fa fa-arrow-down"></span> 30 Mo</div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {# Not in the network #}
                    <div class="col-md-6 col-md-offset-2">
                        <div class="row">
                            <div class="col-xs-5 col-sm-3 computer-icon"><span class="fa fa-globe"></span></div>
                            <div class="col-xs-7">
                                <h3>{% trans "Hors campus" %}</h3>
                                <div>{% trans "Vous êtes actuellement hors du campus de Télécom Bretagne." %}</div>
                                <small>{% trans "Vos actions sont limitées" %}</small>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if is_resel %}
                    <div class="col-sm-3 col-sm-offset-3 hidden-xs hidden-sm"> <hr /></div>
                    {% if need_to_pay == 'success' %}
                        <div class="col-md-6 col-md-offset-2 payement-block">
                            <div class="row">
                                <div class="col-xs-5 col-sm-4 computer-icon"><span class="fa fa-check"></span></div>
                                <div class="col-xs-7">
                                    <h3>{% trans "Facturation à jour" %}</h3>
                                    <div>{% trans "Cotisation annuelle payée" %}</div>
                                    <div>{% trans "Frais d'accès payés jusqu'au" %} {{ end_fee }}</div>
                                </div>
                            </div>
                        </div>
                    {% elif need_to_pay == 'warning' %}
                        <div class="col-md-6 col-md-offset-2">
                            <div class="row">
                                <div class="col-sm-4 computer-icon hidden-xs"><span class="fa fa-exclamation"></span></div>
                                <div class="col-sm-7">
                                    <h3>{% trans "Attention" %}</h3>
                                    <div>{% trans "Votre abonnement arrive à échéance le " %}<a href="{% url 'tresorerie:home' %}">{{ end_fee|date:"j F Y" }}</a>.</div>
                                    <a href="{% url 'tresorerie:home' %}" class="btn btn-default">{%  trans "Accéder à la trésorerie"%}</a>
                                </div>
                            </div>
                        </div>
                    {% elif need_to_pay == 'danger' %}
                        <div class="col-md-6 col-md-offset-2">
                            <div class="row">
                                <div class="col-xs-5 col-sm-4 computer-icon hidden-xs"><span class="fa fa-times"></span></div>
                                <div class="col-sm-7">
                                    <h3>{% trans "Aucun payement effectué" %}</h3>
                                    <div>{% trans "Votre abonnement au Resel a expiré, pour pouvoir à nouveau utiliser les services du ResEl vous devez régulariser votre situation." %}</div>
                                    <a href="{% url 'tresorerie:home' %}" class="btn btn-default btn-lg ">{%  trans "Accéder à la trésorerie"%}</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-6 col-md-offset-2">
                            <div class="row">
                                <div class="col-sm-4 computer-icon hidden-xs"><span class="fa fa-minus"></span></div>
                                <div class="col-sm-7">
                                    <h3>{% trans "Pas d'information de facturation" %}</h3>
                                    <div>Vous ne semblez pas élibible à la cotisation ResEl.</div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}