{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titre %}{% trans "Accueil" %}{% endblock %}

{% block css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="jumbotron">
    <div class="jumbotron-sep hidden-xs"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <h2 class="assos-title">{% trans "Le Réseau des Élèves de l'IMT Atlantique" %}</h2>
          <p class="assos-slogan">{% trans "Le fournisseur d'accès associatif par les teubreux pour les teubreux" %}</p>
        </div>
        <div class="col-md-offset-1 col-md-6">
          <img src="{% static "images/logo_resel.png" %}" alt="logo ResEl" class="img-responsive logo">
        </div>
      </div>
    </div>
    <div class="jumbotron-sep hidden-xs"></div>
  </div>

    {% block myresel %}
    {% endblock %}
    {% if not request.user.is_authenticated %}
        <style>.navbar-brand { display: none; }</style>
        {% block presentation %}
            <div class="home-fragment home-presentation home-user-management">
              <div class="jumbotron-sep hidden-xs"></div>
                <div class="container article">
                    <h2>Le ResEl fournit un accès Internet aux campus brestois et rennais de <a href="https://www.imt-atlantique.fr/">l'IMT Atlantique</a></h2>
                    <div class="diagram">
                        <div class="fa fa-cloud"></div>
                        <div class="line"></div>
                        <div class="wifi"></div>
                        <div class="wifi wifi-poper"></div>
                        <div class="packet packet1"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row home-login">
                        <div class="col-md-3 col-md-offset-3">
                            <a href="{% url 'login' %}" class="btn btn-default">
                              {%  trans "Connexion"%}
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="{% url 'how-to-signup' %}" class="btn btn-default btn-outline">
                              {%  trans "Comment s'inscrire ?"%}
                            </a>
                        </div>
                    </div>
                </div>
              <div class="jumbotron-sep hidden-xs"></div>
            </div>
        {% endblock %}
        <div class="home-fragment home-bg-img">
            <div id="carousel-quotes" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-quotes" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-quotes" data-slide-to="1"></li>
                    <li data-target="#carousel-quotes" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="container item active" role="option">
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-1">
                                <span class="fa fa-heart-o service-icon bigger" aria-hidden="true"></span>
                            </div>
                            <div class="col-sm-6">
                                <h2>Le ResEl relie à Internet 600 chambres à Brest et 100 chambres à Rennes</h2>
                            </div>
                        </div>
                    </div>
                    <div class="container item" role="option">
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-1">
                                <span class="fa fa-graduation-cap service-icon bigger" aria-hidden="true"></span>
                            </div>
                            <div class="col-sm-6">
                                <h2>Depuis 1996 l'association a fourni internet à des milliers d'étudiants</h2>
                            </div>
                        </div>
                    </div>
                    <div class="container item" role="option">
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-1">
                                <span class="fa fa-code-fork service-icon bigger" aria-hidden="true"></span>
                            </div>
                            <div class="col-sm-6">
                                <h2>Nous utilisons exclusivement que des logiciels libres, ce qui permet une grande flexibilité</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="home-fragment home-services">
        <div class="container">
            <h2 class="clickable-title"><a href="{% url 'services'%}">{% trans "Les services du ResEl" %}</a></h2>
            <div class="row">
                {% for service in services %}
                    <div class="col-md-4">
                        <a href="{{ service.get_absolute_url }}">
                            <span class="glyphicon {{ service.glyphicon_name }} service-icon dynamic" aria-hidden="true"></span>
                            <h3 class="service-title">{{ service.name }}</h3>
                        </a>
                    </div>
                {% empty %}
                {% endfor %}
                <div class="col-md-4">
                    <a href="{% url 'services'%}">
                        <span class="fa fa-rocket service-icon dynamic" aria-hidden="true"></span>
                        <h3 class="service-title">{% trans "Et plein d'autres" %}</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="home-fragment home-blog">
        <div class="container">
            <h2 class="clickable-title"><a href="{% url 'news'%}">{% trans "Les dernières nouvelles ResEl" %}</a> {% if user.is_staff %}<small><a href="/gestion/pages/news/add/"><span class="fa fa-plus"></span> Créer une news</a></small>{% endif %}</h2>
            <h4><span class="fa fa-rss-square" style="color:#F99C2D"></span> <a href="{% url 'rss' %}">{% trans "RSS" %}</a> <a href="{% url 'atom' %}">{% trans "Atom" %}</a></h3>
            <div class="row">
                <div class="col-md-7">
                    {% for pieceofnews in news %}
                        <div class="news-bloc">
                            <a href="{% url 'piece-of-news' pieceofnews.pk %}">
                                <div class="row">
                                    <h3 class="title">{{ pieceofnews.title }}<small> le {{ pieceofnews.date|date }} par {{ pieceofnews.author.first_name }}</small></h3>
                                    <div>{{ pieceofnews.content|safe|truncatewords_html:15 }}</div>
                                </div>
                            </a>
                        </div>
                    {% empty %}
                        <div class="news-bloc">{% trans "Pas de nouvelles à l'horizon" %}</div>
                    {% endfor %}
                    <div class="btn-more"><a href="{% url 'news'%}" class="btn btn-link btn-lg">{% trans "Voir l'intégralité des nouvelles" %}</a></div>
                </div>
                <div class="col-md-5 twitter-widget">
                    <a class="twitter-timeline" data-height="600" data-dnt="true" data-link-color="#337ab7" href="https://twitter.com/Resel_fr">Tweets by ResEl</a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </div>
    <div class="home-fragment home-campus">
        <a id="campus-fragment"></a>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                        <h2 class="title"><a href="{% url 'campus:rooms:calendar'%}">{% trans "En ce moment sur le campus" %}</a></h2>
                    {% for event in campus_events %}
                        <div class="event-bloc">
                            <div class="row" />
                                <div class="col-xs-3 event-badge-container">
                                    <div class="event-badge">
                                        <div class="day">{{ event.start_time|date:"l"|upper }}</div>
                                        <div class="date">{{ event.start_time|date:"j b"|upper }}</div>
                                        <div class="hour">{{ event.start_time|date:"H\hi" }}</div>
                                    </div>
                                </div>
                                <div class="col-xs-9">
                                    <a href="{% url 'campus:rooms:booking-detail' event.pk %}">
                                        <div class="event-description">
                                            {{ event.description|truncatewords_html:17|linebreaks }}
                                        </div>
                                    </a>
                                    <div><a href="{% url 'campus:rooms:calendar-room' event.room.first.pk %}" ><span class="fa fa-fw fa-map-marker"></span> {{ event.room.first.name }}</a></div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="news-bloc">{% trans "Pas d'événements à l'horizon" %}</div>
                    {% endfor %}
                    <div class="btn-more"><a href="{% url 'campus:rooms:calendar'%}" class="btn btn-link btn-lg">{% trans "Voir tous les événements campus" %}</a></div>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <div class="row">
                        <h2 class="title"><a href="{% url 'campus:clubs:list'%}">{% trans "Clubs à l'honneur" %}</a></h2>
                        {% for club in clubs %}
                        <div class="col-xs-4 col-md-4 club-list">
                            <div class="club-bloc thumbnail">
                                <a href="{% url 'campus:clubs:club_detail' club.cn %}" >
                                    {% if club.logo and club.logo != "None" %}
                                    <img class="logo img-responsive club-img" src="/media/image/CLUB/{{ club.logo }}" alt="logo club {{ club.name }}">
                                    {% else %}
                                    <img class="logo img-responsive club-img" src="{% static 'images/campus/orga.png' %}" alt="logo club {{ club.name }}">
                                    {% endif %}
                                    <p class="club-name">{{ club.name }}</p>
                                    {# <div class="club-description">{{ club.description }}</div> #}
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <h2 class="title"><a href="{% url 'campus:clubs:list'%}">{% trans "Les derniers mails campus" %}</a></h2>
                    <div class="club-news">
                        {% for campus_mail in campus_mails %}
                        <div class="club-news-bloc">
                            <a href="{% url 'campus:mails:display' campus_mail.pk %}">
                                <span class="title">{{ campus_mail.subject }}</span>
                            </a>
                        </div>
                        {% empty %}
                        <div class="club-news-bloc"><span class="title">{% trans "Pas de mail campus à l'horizon" %}</span></div>
                        {% endfor %}

                        {% if birthdays_users|length > 0 %}
                        <div class="birthdays-list">
                            <span class="fa fa-fw fa-birthday-cake"></span>
                            {% for user_b in birthdays_users %}{{ user_b.first_name }}{%if forloop.last == False %},{% endif %}{% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-fragment">
        <div id="graph"  class="container article">
          <h1>Bande passante générale <a href="https://graph.resel.fr/dashboard/db/vue-generale" aria-label="Plus d'info sur la bande passante"><small><i class="fa fa-fw fa-plus"></i></small></a></h1>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="graph-brest">
                    <div class="embed-responsive graph">
                        <iframe title="graph Brest" src="https://graph.resel.fr/dashboard-solo/db/public-stats?panelId=1&from=now-13h&to=now" width="450" height="200" frameborder="0"></iframe>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="graph-rennes">
                    <div class="embed-responsive graph" >
                        <iframe id="iframe-rennes" title="graph Rennes" src="https://graph.resel.fr/dashboard-solo/db/public-stats?refresh=1m&orgId=1&panelId=2&from=now-13h&to=now" width="450" height="200" frameborder="0"></iframe>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="graph-nantes" style="height: 218px">
                    <h2 style="margin-top: 100px; text-align: center;"><small>Bientôt !</small><h2>
                </div>
            </div>
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active"><a href="#graph-brest" aria-controls="graph-brest" role="tab" data-toggle="tab">Brest</a></li>
                <li role="presentation" ><a href="#graph-rennes" aria-controls="graph-rennes" role="tab" data-toggle="tab">Rennes</a></li>
                <li role="presentation" ><a href="#graph-nantes" aria-controls="graph-nantes" role="tab" data-toggle="tab">Nantes</a></li>
            </ul>
        </div>
    </div>
    <div class="home-fragment">
        <div class="container centered article">
            <h4>
                Vous souhaitez contribuer au ResEl et monter en compétences ? <br />
                Alors n'hésitez pas à
                <b><a class="" href="{% url 'become-admin' %}">{% trans "devenir administrateur ResEl" %}</a></b>.
            </h4>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        var rennes_loaded = false;
        $('a[href="#graph-rennes"]').click(function (e) {
            if (!rennes_loaded) {
                $( '#iframe-rennes' ).attr( 'src', function ( i, val ) { return val; });
                rennes_loaded = true;
            }
        });

    </script>
{% endblock %}
