{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titre %}Accueil{% endblock %}

{% block css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="jumbotron-sep hidden-xs"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    <h2>{% trans "Le Réseau des Élèves de Télécom Bretagne" %}</h2>
                    <p>{% trans "Vous cherchez internet ? Nous aussi..." %}</p>
                </div>
                <div class="col-md-offset-1 col-md-6">
                    <img src="{% static "images/logo_resel.png" %}" alt="logo ResEl" class="img-responsive logo">
                </div>
            </div>
        </div>
    </div>
    {% block myresel %}
    {% endblock %}

    <div class="home-fragment home-presentation">
        <div class="container">
            <h2>Le ResEl : l'association qui gère le réseau sur le campus de Télécom Bretagne</h2>
            <p>Occaecati doloremque fugit nesciunt doloribus quia eos. Quis tenetur voluptas officia atque sit. Doloribus facilis quas consequatur ea reprehenderit vel.
            <p>Voluptates est ut unde quibusdam assumenda. Voluptatibus sint non similique totam. Officiis est animi sint dicta tempore optio ad. Assumenda quidem fuga cumque rem quasi. Repellendus perferendis sapiente nam ut perferendis eaque quia. Magnam ut nesciunt enim nostrum id id architecto.</p>
            <p>Reprehenderit quia repudiandae dolorem et assumenda omnis error consequatur. Quas officiis aliquam et sint earum sint. Corporis porro asperiores culpa neque et voluptas velit. Quisquam dolorum quos perferendis provident voluptatum. Aut incidunt molestias numquam rerum. Aspernatur quia qui voluptate a.</p>
            <p>Voluptate tempore consectetur minus ipsam et molestiae omnis illo. Magnam et perspiciatis delectus maiores eum dolor reprehenderit aspernatur. Earum ea dolorem quia est deleniti incidunt tempore quis. Voluptas quam sapiente ut rerum ab dolor. Ratione eius voluptates eum et in dolores maiores id. Magnam quas modi sit.</p>
        </div>
    </div>

    <div class="home-fragment home-services">
        <div class="container">
            <h2>Les services du ResEl</h2>
            <div class="row">
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-flash service-icon" aria-hidden="true"></span>
                    <h3 class="service-title">Internet très haut débit</h3>
                    <p>{% blocktrans %}Le ResEl propose un internet neutre à tous ses adhérents{% endblocktrans %}</p>
                </div>
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-film service-icon" aria-hidden="true"></span>
                    <h3 class="service-title">La télévision</h3>
                    <p>{% blocktrans %}Grâce au ResEl il est possible de regarder plus de 15 chaines en direct sur son ordinateur{% endblocktrans %}</p>
                </div>
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-cloud service-icon" aria-hidden="true"></span>
                    <h3 class="service-title">Hébergement web</h3>
                    <p>{% blocktrans %}Hébergez tous vos sites ou applications web pour votre club ou association{% endblocktrans %}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-envelope service-icon" aria-hidden="true"></span>
                    <h3 class="service-title">Les mails</h3>
                    <p>{% blocktrans %}Les mailing listes ResEl permettent de faire vivre le campus de Télécom Bretagne !{% endblocktrans %}</p>
                </div>
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-education service-icon" aria-hidden="true"></span>
                    <h3 class="service-title">Les clubs</h3>
                    <p>{% blocktrans %}On héberge tous les clubs{% endblocktrans %}</p>
                </div>
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-download service-icon" aria-hidden="true"></span>
                    <h3 class="service-title">Garbage</h3>
                    <p>{% blocktrans %}Chuuuut...{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="home-fragment home-blog">
        <div class="container">
            <h2>Les dernières nouvelles</h2>
            <article>
                <h3>Un nouveau site ResEl</h3>
                <p>Le site du ResEl est à nouveau un site digne de ce nom. En effet...</p>
            </article>
            <hr />
            <article>
                <h3>Le chien du ResEl est arrivé</h3>
                <p>Intérogeons dès maintenant ce mystérieux spécimen...</p>
            </article>
        </div>

    </div>
{% endblock %}
