{% extends 'pages/home/home.html' %}
{% load i18n %}
{% load staticfiles %}

{% block myresel %}
    <style>
        .jumbotron {
            display: none;
        }
    </style>
    {# TODO: add validate email link (show if user_meta.email_validated == False) #}
    <div class="home-fragment home-user-management" data-navstyle="invert">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-6">
                    <div class="row">
                        <div class="col-sm-10">
                            <h2>My ResEl <small>{% trans "Gestion de mon compte ResEl" %}</small></h2>
                        </div>
                    </div>
                    <h3>{% trans "Mes services" %}</h3>
                    <div class="services-group">
                        <div><a href="{% url 'campus:clubs:my-clubs' %}"><span class="fa fa-group fa-fw"></span> {% trans "Gérer mes clubs et associations" %}</a> <span class="label label-default"></span></div>
                        <div><a href="{% url 'gestion-personnes:webmail' %}"><span class="fa fa-inbox fa-fw"></span> {% trans "Ma boîte mail ResEl" %}</a></div>
                        <div><a href="https://mlistes.resel.fr"><span class="fa fa-feed fa-fw"></span> {% trans "Mes listes de diffusion" %}</a></div>
                    </div>
                    <div class="services-group">
                        <div><a href="{% url 'gestion-personnes:personal-infos' %}"><span class="fa fa-user fa-fw"></span> {% trans "Modifier mes informations personnelles" %}</a></div>
                        {# Temporarly to the webmail, but in the future we will add more settings #}
                        <div><a href="{% url 'gestion-personnes:mail' %}"><span class="fa fa-sliders fa-fw"></span> {% trans "Paramètres de mon compte" %}</a></div>
                        <div><a href="{% url 'gestion-personnes:mod-passwd' %}"><span class="fa fa-pencil-square fa-fw"></span> {% trans "Modifier mon mot de passe" %}</a></div>
                        <div><a href="{% url 'tresorerie:historique' %}"><span class="fa fa-history fa-fw"></span> {% trans "Historique de mes transactions" %}</a></div>
                    </div>
                </div>

                <div class="col-sm-7 col-md-6">
                    <div class="row">
                        {% if is_resel %}
                        {# In the network but not saved #}
                            <div class="hidden-xs col-sm-4 col-md-3 computer-icon">
                            {% if subnet == 'FREE' %}
                                <span class="fa fa-money"></span>
                            {% elif subnet == 'REGN' or subnet == 'EXPN' %}
                                <span class="fa fa-minus-circle"></span>
                            {% elif subnet == 'USER' %}
                                <span class="fa fa-rocket"></span>
                            {% elif subnet == 'SERV' %}
                                <span class="fa fa-cog"></span>
                            {% endif %}
                            </div>
                            <div class="col-sm-7">
                                <h3>{% trans "Bienvenue sur le campus de"%} {{zone}}</h3>
                                <div>
                                {% if subnet == 'FREE' %}
                                    {% trans "Vous vous trouvez sur la zone gratuite. Le débit est fortement réduit, mais devrait permettre de consulter vos mails et divers services légers." %}
                                {% elif subnet == 'REGN' %}
                                    {% trans "Vous vous trouvez sur la zone d'inscription. Pour vous connecter à Internet ou payer vos frais d'accès, veuillez utiliser un autre réseau." %}
                                {% elif subnet == 'EXPN' %}
                                    {% trans "Vous vous trouvez sur la zone de renouvellement. Pour vous connecter à Internet, veuillez vous acquitter des frais d'accès." %}
                                {% elif subnet == 'USER' %}
                                    {% trans "Vous êtes correctement connecté au réseau étudiant." %}
                                {% elif subnet == 'SERV' %}
                                    {% trans "Vous êtes connecté depuis un serveur interne. Merci de n'utiliser cet accès qu'à des fins de tests." %}
                                {% endif %}
                                </div>
                            </div>
                        {% else %}
                        {# Not in the network #}
                            <div class="hidden-xs col-sm-4 col-md-3 computer-icon"><span class="fa fa-globe"></span></div>
                            <div class="col-sm-7">
                                <h3>{% trans "Hors campus" %}</h3>
                                <div>{% trans "Vous êtes actuellement hors des campus d'IMT Atlantique." %}</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1 hidden-xs hidden-sm"><hr /></div>
                {% if employee_type == 'manager' %}
                    <div class="col-sm-7 col-md-6 payment-block">
                        <div class="row">
                            <div class="col-sm-4 col-md-3 hidden-xs col-xs-pull-1 col-lg-pull-0 computer-icon">
                                <span class="fa fa-fw fa-handshake-o"></span>
                            </div>
                            <div class="col-sm-7">
                                <h3>{% trans "Accès manager" %}</h3>
                                <div><span class="fa fa-fw fa-circle success"></span> {% trans "Cotisation à l'association offerte" %}</div>
                                <div>
                                {% if need_to_pay == 'success' %}
                                    <span class="fa fa-fw fa-circle success"></span> {% trans "Accès accordé jusqu’au" %} {{ end_fee|date:"j F Y" }}
                                {% elif need_to_pay == 'warning' %}
                                    <span class="fa fa-fw fa-circle warning"></span> {% trans "Accès accordé jusqu’au" %} {{ end_fee|date:"j F Y" }}
                                    <div class="warning">{% trans "Veuillez accéder à votre interface de gestion pour prolonger vos accès." %}</div>
                                {% else %}
                                    <span class="fa fa-fw fa-circle danger"></span> {% trans "Accès internet expiré le" %} {{ end_fee|date:"j F Y" }}
                                    <div class="warning">{% trans "Veuillez accéder à votre interface de gestion pour récupérer vos accès." %}</div>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="{% url 'maisel:gestion' %}" class="btn btn-default btn-lg halo">{% trans "Gestion du personnel" %}</a>
                        </div>
                    </div>
                {% elif employee_type == 'staff' %}
                    <div class="col-sm-7 col-md-6 payment-block">
                        <div class="row">
                            <div class="col-sm-4 col-md-3 hidden-xs col-xs-pull-1 col-lg-pull-0 computer-icon">
                                <span class="fa fa-fw fa-handshake-o"></span>
                            </div>
                            <div class="col-sm-7">
                                <h3>{% trans "Accès agent" %}</h3>
                                <div><span class="fa fa-fw fa-circle success"></span> {% trans "Cotisation à l’association offerte" %}</div>
                                <div>
                                {% if need_to_pay == 'success' %}
                                    <span class="fa fa-fw fa-circle success"></span> {% trans "Accès accordé jusqu’au" %} {{ end_fee|date:"j F Y" }}
                                {% elif need_to_pay == 'warning' %}
                                    <span class="fa fa-fw fa-circle warning"></span> {% trans "Accès accordé jusqu’au" %} {{ end_fee|date:"j F Y" }}
                                    <div class="warning">{% trans "Veuillez contacter votre gestionnaire pour prolonger vos accès." %}</div>
                                {% else %}
                                    <span class="fa fa-fw fa-circle danger"></span> {% trans "Accès internet expiré le" %} {{ end_fee|date:"j F Y" }}
                                    <div class="warning">{% trans "Veuillez contacter votre gestionnaire pour récupérer vos accès." %}</div>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% elif need_to_pay == 'success' %}
                    <div class="col-sm-7 col-md-6 payment-block">
                        <div class="row">
                            <div class="col-sm-4 col-md-3 hidden-xs computer-icon">
                                <span class="fa fa-fw fa-check "></span>
                            </div>
                            <div class="col-sm-7">
                                <h3>{% trans "Facturation à jour" %}</h3>
                                {% if ldapuser.is_member %}
                                    <div><span class="fa fa-fw fa-circle success"></span> {% trans "Cotisation à l'association payée" %}</div>
                                {% else %}
                                    <div class=""><span class="fa fa-fw fa-circle danger" ></span> {% trans "Cotisation à l'association non payée" %}</div>
                                {% endif %}
                                <div><span class="fa fa-fw fa-circle success"></span> {% trans "Internet jusqu'au" %} {{ end_fee|date:"j F Y" }}</div>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="{% url 'tresorerie:historique' %}" class="btn btn-default btn-lg halo">{%  trans "Consulter mes transactions"%}</a>
                        </div>
                    </div>
                {% elif need_to_pay == 'warning' or need_to_pay == 'danger' %}
                    <div class="col-sm-7 col-md-6">
                        <div class="row">
                        {% if need_to_pay == 'warning' %}
                            <div class="col-sm-4 col-md-3 computer-icon hidden-xs warning"><span class="fa fa-fw fa-exclamation hidden-xs"></span></div>
                            <div class="col-sm-7">
                                <h3>{% trans "Attention abonnement" %}</h3>
                                {% if ldapuser.is_member %}
                                    <div><span class="fa fa-fw fa-circle success "></span> {% trans "Cotisation à l'association payée" %}</div>
                                {% else %}
                                    <div class=""><span class="fa fa-fw fa-circle danger" ></span> {% trans "Cotisation à l'association non payée" %}</div>
                                {% endif %}
                                <div><span class="fa fa-fw fa-circle warning"></span> {% trans "Internet jusqu'au" %} {{ end_fee|date:"j F Y" }}</div>
                        {% else %}
                            <div class="col-sm-4 col-md-3 computer-icon hidden-xs danger"><span class="fa fa-times"></span></div>
                            <div class="col-sm-7">
                                <h3>{% trans "Paiement non à jour" %}</h3>
                                {% if ldapuser.is_member %}
                                    <div><span class="fa fa-fw fa-circle success"></span> {% trans "Cotisation à l'association payée" %}</div>
                                {% else %}
                                    <div class=""><span class="fa fa-fw fa-circle danger" ></span> {% trans "Cotisation à l'association non payée" %}</div>
                                {% endif %}
                                <div><span class="fa fa-fw fa-circle danger"></span> {% trans "Accès internet expiré le" %} {{ end_fee|date:"j F Y" }}</div>
                                <div class="warning">{% trans "Votre abonnement au ResEl a expiré, pour pouvoir à nouveau utiliser nos services vous devez régulariser votre situation." %}</div>
                        {% endif %}
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="pay-btn-container"
                            {% if subnet == 'REGN' %}
                                data-trigger="hover" data-placement="top" data-toggle="popover" data-content="{% trans "Veuillez vous connecter au réseau ResEl Secure ou ResEl Next pour procéder au paiement" %}"
                            {% elif subnet == 'EXPN' %}
                                data-trigger="hover" data-placement="top" data-toggle="popover" data-content="{% trans "Le paiement nécessite une connexion à Internet active. Veuillez utiliser votre 4G ou Eduroam pour procéder au paiement." %}"
                            {% endif %}>
                                <a href="{% url 'tresorerie:home' %}" class="btn btn-default btn-lg
                                {% if subnet == 'REGN' or subnet == 'EXPN' %}
                                    disabled
                                {% endif %} halo">
                                    {% trans "Effectuer un paiement"%}
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-sm-7 col-md-6">
                        <div class="row">
                            <div class="col-sm-4 col-md-3 computer-icon hidden-xs"><span class="fa fa-minus"></span></div>
                            <div class="col-sm-7">
                                <h3>{% trans "Pas d'information de facturation" %}</h3>
                                <div>{% trans "Vous ne semblez pas éligible à la cotisation ResEl." %}</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ block.super }}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
{% endblock %}
