{% extends 'base.html' %}
{% load i18n %}

{% block titre %}Acceuil{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            {# Gestion des messages d'erreur, d'info et de success #}
            {% if messages %}
                <br>
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="panel panel-danger">
                            <div class="panel-heading"><h3 class="panel-title">{% trans "Erreur" %}</h3></div>
                            <div class="panel-body">{{ message }}</div>
                        </div>
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="panel panel-success">
                            <div class="panel-heading"><h3 class="panel-title">{% trans "Succès" %}</h3></div>
                            <div class="panel-body">{{ message }}</div>
                        </div>
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                        <div class="panel panel-info">
                            <div class="panel-heading"><h3 class="panel-title">{% trans "Info" %}</h3></div>
                            <div class="panel-body">{{ message }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}
