{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titre %}{{user.uid}}{% endblock %}

{% block css %}
    <link href="{% static 'css/whoswho.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="who-presentation">
    <h1>{{user.display_name}}</h1>
    <ul>
        <li><b>{% trans "Prénom" %} :</b> {{user.first_name}}</li>
        <li><b>{% trans "Nom" %} :</b> {{user.last_name}}</li>
        <li><b>{% trans "Promo" %} :</b> {{user.promo}}</li>
        {% if user.formation != "" %}<li><b>{% trans "Formation" %} :</b> {{user.formation}}</li>{% endif %}
    </ul>
</div>

<div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <h2>{% trans "Clubs" %}</h2>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <h2>{% trans "Parains" %}</h2>
            <ul>
            {% for godparent in user.godparents %}
            <li><a href="{% url 'whoswho.userDetails' godparent.uid %}">godparent.display_name</a> ({%trans 'Promo' %} godparent.promo)</li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <h2>{% trans "Filleuls" %}</h2>
            <ul>
            {% for godchild in user.godchildren %}
            <li><a href="{% url 'whoswho.userDetails' godchild.uid %}">godchild.display_name</a> ({%trans 'Promo' %} godchild.promo)</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
    
{% endblock %}

