{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Gestion des évènements du campus brestois de Télécom Bretagne">
    <meta name="author" content="ResEl">
    <meta charset="utf-8"/>
    <link rel="icon" href="{% static 'images/campus/favicon.png' %}">

    <title>Campus.resel.fr | {% block title %}{% endblock %}</title>

    {# CSS #}
    <link href="{% static 'boostrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/campus/base.css' %}">
    {% block css %}{% endblock %}

    {# Fonts #}
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand hidden-md hidden-lg" href="{% url 'campus:home' %}">
                <img src="{% static 'images/campus/elephant-polygon.png' %}" alt="logo-elephant"/>
            </a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{% url 'home' %}"><span class="fa fa-chevron-left"></span> Retour au site ResEl</a></li>
                <li><a class="navbar-brand hidden-xs hidden-sm" href="{% url 'campus:home' %}">
                    <img src="{% static 'images/campus/elephant-polygon.png' %}" alt="logo-elephant"/>
                </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="fa fa-users"></span> Clubs et associations</a></li>
                <li><a href="#"><span class="fa fa-address-book"></span> Annuaire</a></li>
                <li><a href="{% url 'campus:rooms:calendar' %}"><span class="fa fa-fw fa-calendar"></span> Calendrier campus</a></li>
                <li><a href="{% url 'campus:rooms:booking' %}"><span class="fa fa-fw fa-calendar-plus-o"></span> Réserver une salle</a></li>
                <li><a href="{% url 'campus:mails:send' %}"><span class="fa fa-fw fa-envelope"></span> campus@resel.fr</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

{% if messages %}
    <div class="container">
        <div class="col-md-5 col-md-offset-3">

            {# Gestion des messages d'erreur, d'info et de success #}

            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="panel panel-danger">
                        <div class="panel-heading"><h3 class="panel-title">Erreur</h3></div>
                        <div class="panel-body">{{ message }}</div>
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="panel panel-success">
                        <div class="panel-heading"><h3 class="panel-title">Succès</h3></div>
                        <div class="panel-body">{{ message }}</div>
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <div class="panel panel-info">
                        <div class="panel-heading"><h3 class="panel-title">Information</h3></div>
                        <div class="panel-body">{{ message }}</div>
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="panel panel-warning">
                        <div class="panel-heading"><h3 class="panel-title">Attention</h3></div>
                        <div class="panel-body">{{ message }}</div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>
{% endif %}

{% block content %}{% endblock %}

<footer class="footer">
    <div class="container text-center">

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <a href="https://www.facebook.com/Reselfr"><span class="fa fa-facebook social-links"></span></a>
                    <a href="https://twitter.com/resel_fr"><span class="fa fa-twitter social-links"></span></a>
                    <a href="https://github.com/ResEl-TB"><span class="fa fa-github social-links"></span></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <ul>
                    <li><a href="#">Les statuts de l'association</a></li>
                    <li><a href="#">Le règlement intérieur</a></li>
                    <li><a href="/paiement/tarifs/">Tarifs et Cotisation</a></li>
                    <li><a href="/contact/">Contact</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li><a href="https://status.resel.fr">État du réseau</a></li>
                    <li><a href="https://clubs.resel.fr">Les clubs</a></li>
                    <li><a href="/">Site ResEl</a></li>

                    <li><a href="/wiki/lassociation/devenez-administrateur-resel">Devenez Administrateur ResEl !</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li><a href="https://www.federez.net/">Fédérez</a></li>
                    <li><a href="http://www.telecom-bretagne.eu">Télécom Bretagne</a></li>
                    <br />
                    <li><a href="http://assos-tb.fr/">Associations de Télécom Bretagne</a></li>
                    <li><a href="http://www.aitb.org//">Alumni</a></li>
                </ul>
            </div>
        </div>

    </div>
</footer>

{# javascript #}
<script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'boostrap/js/bootstrap.min.js' %}"></script>

<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
    _paq.push(["setCookieDomain", "*.beta.resel.fr"]);
    _paq.push(["setDomains", ["*.beta.resel.fr","*.rennes.beta.resel.fr","*.rennes.resel.fr","*.resel.fr"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//stats.resel.fr/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<noscript><p><img src="//stats.resel.fr/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

{% block javascript %}{% endblock %}
</body>
</html>